Jetty fails when handling valid boundary in a multipart/form-data request

Using spring-boot 2.1.5.RELEASE and Jetty 9.4.18.v20190429 as embedded server.

When POSTING a multipart/form-data request with boundary that contains the = character, jetty fails to parse the boundary.
Testing with curl like this:
curl -X POST -H 'Content-Type: multipart/form-data; boundary="----=_Part_0_643367191.1558681752197"' --data-binary @request http:/somehost

The reqeust file has the boundary specified like this:
------=_Part_0_643367191.1558681752197

I can post the full content upon request.

The same request works if I switch to using Tomcat or Undertow as embedded servers.
Jetty fails with HTTP 400 and message Unable to parse form content

The stacktrace when using Jetty:
        at org.eclipse.jetty.server.Request.getParameters(Request.java:391)
        at org.eclipse.jetty.server.Request.getParameter(Request.java:1036)
        at org.springframework.web.filter.HiddenHttpMethodFilter.doFilterInternal(HiddenHttpMethodFilter.java:84)
        at org.springframework.web.filter.OncePerRequestFilter.doFilter(OncePerRequestFilter.java:107)
        at org.eclipse.jetty.servlet.ServletHandler$CachedChain.doFilter(ServletHandler.java:1610)
        at org.springframework.boot.actuate.metrics.web.servlet.WebMvcMetricsFilter.filterAndRecordMetrics(WebMvcMetricsFilter.java:117)
        at org.springframework.boot.actuate.metrics.web.servlet.WebMvcMetricsFilter.doFilterInternal(WebMvcMetricsFilter.java:106)
        at org.springframework.web.filter.OncePerRequestFilter.doFilter(OncePerRequestFilter.java:107)
        at org.eclipse.jetty.servlet.ServletHandler$CachedChain.doFilter(ServletHandler.java:1610)
        at org.springframework.web.filter.CharacterEncodingFilter.doFilterInternal(CharacterEncodingFilter.java:200)
        at org.springframework.web.filter.OncePerRequestFilter.doFilter(OncePerRequestFilter.java:107)
        at org.eclipse.jetty.servlet.ServletHandler$CachedChain.doFilter(ServletHandler.java:1610)
        at org.eclipse.jetty.servlet.ServletHandler.doHandle(ServletHandler.java:540)
        at org.eclipse.jetty.server.handler.ScopedHandler.handle(ScopedHandler.java:146)
        at org.eclipse.jetty.security.SecurityHandler.handle(SecurityHandler.java:548)
        at org.eclipse.jetty.server.handler.HandlerWrapper.handle(HandlerWrapper.java:132)
        at org.eclipse.jetty.server.handler.ScopedHandler.nextHandle(ScopedHandler.java:257)
        at org.eclipse.jetty.server.session.SessionHandler.doHandle(SessionHandler.java:1700)
        at org.eclipse.jetty.server.handler.ScopedHandler.nextHandle(ScopedHandler.java:255)
        at org.eclipse.jetty.server.handler.ContextHandler.doHandle(ContextHandler.java:1345)
        at org.eclipse.jetty.server.handler.ScopedHandler.nextScope(ScopedHandler.java:203)
        at org.eclipse.jetty.servlet.ServletHandler.doScope(ServletHandler.java:480)
        at org.eclipse.jetty.server.session.SessionHandler.doScope(SessionHandler.java:1667)
        at org.eclipse.jetty.server.handler.ScopedHandler.nextScope(ScopedHandler.java:201)
        at org.eclipse.jetty.server.handler.ContextHandler.doScope(ContextHandler.java:1247)
        at org.eclipse.jetty.server.handler.ScopedHandler.handle(ScopedHandler.java:144)
        at org.eclipse.jetty.server.handler.HandlerWrapper.handle(HandlerWrapper.java:132)
        at org.eclipse.jetty.server.Server.handle(Server.java:505)
        at org.eclipse.jetty.server.HttpChannel.handle(HttpChannel.java:370)
        at org.eclipse.jetty.server.HttpConnection.onFillable(HttpConnection.java:267)
        at org.eclipse.jetty.io.AbstractConnection$ReadCallback.succeeded(AbstractConnection.java:305)
        at org.eclipse.jetty.io.FillInterest.fillable(FillInterest.java:103)
        at org.eclipse.jetty.io.ChannelEndPoint$2.run(ChannelEndPoint.java:117)
        at org.eclipse.jetty.util.thread.QueuedThreadPool.runJob(QueuedThreadPool.java:698)
        at org.eclipse.jetty.util.thread.QueuedThreadPool$Runner.run(QueuedThreadPool.java:804)
        at java.lang.Thread.run(Thread.java:748)
Caused by: java.lang.IllegalStateException: java.lang.NumberFormatException: For input string: &quot;_P&quot;
        at org.eclipse.jetty.util.MultiPartInputStreamParser.throwIfError(MultiPartInputStreamParser.java:536)
        at org.eclipse.jetty.util.MultiPartInputStreamParser.getParts(MultiPartInputStreamParser.java:492)
        at org.eclipse.jetty.server.MultiParts$MultiPartsUtilParser.&lt;init&gt;(MultiParts.java:121)
        at org.eclipse.jetty.server.Request.newMultiParts(Request.java:2426)
        at org.eclipse.jetty.server.Request.getParts(Request.java:2344)
        at org.eclipse.jetty.server.Request.extractContentParameters(Request.java:488)
        at org.eclipse.jetty.server.Request.getParameters(Request.java:387)
        ... 35 more
Caused by: java.lang.NumberFormatException: For input string: &quot;_P&quot;
        at java.lang.NumberFormatException.forInputString(NumberFormatException.java:65)
        at java.lang.Integer.parseInt(Integer.java:580)
        at org.eclipse.jetty.util.MultiPartInputStreamParser$1.read(MultiPartInputStreamParser.java:746)
        at org.eclipse.jetty.util.MultiPartInputStreamParser.parse(MultiPartInputStreamParser.java:767)
        at org.eclipse.jetty.util.MultiPartInputStreamParser.getParts(MultiPartInputStreamParser.java:491)
        ... 40 more

I just tried to reproduce this in test harnesses with a content-type of:
```
Content-Type: multipart/form-data, boundary=\"----=_Part_0_COMPLEX_BOUNDARY(-1234'+_,-./:=?)\"
```

This works for me for both our our multipart implementations, so I can't easily reproduce? 

@bjornhilstad  can you try our new MultiPart implementation?  Call `HttpConfiguration.setMultiPartFormDataCompliance(MultiPartFormDataCompliance.RFC7578)`, which can also be done in by setting the `org.eclipse.jetty.server.MultiPartFormDataCompliance` property to `RFC7578` in server.ini.   New impl is much faster!

@lachlan-roberts can you see anything in the stack to suggest how to reproduce? Perhaps add some proper tests with complex boundaries like quickly tried?

@bjornhilstad The full content of a small failing request would also be useful.

I also note that the part must have a transfer encoding of `quoted-printable`.  I think our old implementation does decode that (and the problem appears that a boundary is being read as part of the quoted printable content).
However, I'm not sure that our new implementation will actually decode that transfer encoding?  Also not sure if according to the servlet-spec if we are expected to or not?  @lachlan-roberts can you comment on this?

@bjornhilstad can you tell us about your usage of quoted-printable?  why is it being used? what is the client? are you expecting the server to decode or will the application do so?




[testrequest.txt](https://github.com/eclipse/jetty.project/files/3256910/testrequest.txt)
Attached request used for testing.
Sending it with:
curl -v -X POST -H 'Content-Type: multipart/form-data; boundary="----=_Part_0_643367191.1558681752197"' --data-binary @testrequest.txt  http://localhost:8080/someendpoint

I tried setting the HttpConfiguration as suggested but I don't think I did it correctly.
I am using jetty embedded with spring-boot and tried using JettyServletWebServerFactory and adding it there as an initParameter, but I could see no effect (no change in stacktrace for failure so I expect the old impl is still used).


I also tested removing the use of Content-Transfer-Encoding: quoted-printable from the request and then it worked.
I am not 100% sure why it is used but I will ask the guys implementing the client.

I believe we are using quoted-printable to be able to handle norwegian characters and other special characters.

@bjornhilstad thanks for the extra info... one more question for now.... does your code/app when running on other containers have the quoted-printable decoded by the container (eg tomcat) ?  The spec says nothing about that!

I have tested this with Tomcat 9.0.19 and Undertow 2.0.20.Final as well and the answer I can give is not conclusive.
Tomcat does not decode, Undertow does. And if the spec does not cover it might be one of those funny things that is left to the implementor to decide.

From https://tools.ietf.org/html/rfc2046#section-5.1

>   As stated in the definition of the Content-Transfer-Encoding field
>   [RFC 2045], no encoding other than "7bit", "8bit", or "binary" is
>   permitted for entities of type "multipart".  The "multipart" boundary
>   delimiters and header fields are always represented as 7bit US-ASCII
>   in any case (though the header fields may encode non-US-ASCII header
>   text as per RFC 2047) and data within the body parts can be encoded
>   on a part-by-part basis, with Content-Transfer-Encoding fields for
>   each appropriate body part.

The fact that a multipart entity has `Content-Transfer-Encoding: quoted-printable` makes it in violation of RFC2046 for Multipart.

The recommendations in RFC2045 and RFC2046 indicate that if you are working outside of the strict printable 7-bit US-ASCII charset, such as your UTF-8 test entity that uses quoted-printable, then you should only rely on base64 encoded content.

See also https://tools.ietf.org/html/rfc7578#section-4.7

I have managed to replicate the issue in d4ec70a689a0f9460e6e282d6b3080ec7f8c62db. The boundary has the string "=_P" occurring in it which occurs after a part with `Content-Transfer-Encoding: quoted-printable`. The boundary is read through the wrapped `InputStream` which decodes the  quoted printable giving us the exception.
`Caused by: java.lang.NumberFormatException: For input string: "_P"`

That's great.
A comment on @joakime ref to specs. Would not the statement 

> and data within the body parts can be encoded
   on a part-by-part basis, with Content-Transfer-Encoding fields for
   each appropriate body part
imply that we are allowed to use Content-Transfer-Encoding for the individual parts of the body?

@bjornhilstad 
I think you were allowed to use Content-Transfer-Encoding in a part but it has been deprecated in [RFC7578](https://tools.ietf.org/html/rfc7578#section-4.7) `Senders SHOULD NOT generate any parts with a Content-Transfer-Encoding header field`. A better way to send Norwegian and other special characters would be to encode them in utf-8 or iso-8859-1.

The problem you are experiencing is a bug with the old multipart parser which looks a bit difficult to fix. So you could also get around this bug by not sending a part boundary containing the "=" character. But the other options of using utf-8 or iso-8859-1 and/or using the new multipart parser implementation would be more appropriate.

Using the new multipart parser will increase speed and will not have the same issue as it does not decode the transfer encoding.

I'm not familiar with spring-boot but I will look into how you can configure it with jetty to use the new multipart parser (maybe @joakime would know more about spring-boot). There is a [blog post](https://webtide.com/fast-multipart-formdata/) with some information about switching the compliance mode to the new parser which may be of interest.

Note also that with the newer implementation (which will be default in next major release), you can still use content transfer encodings, but jetty will not decide it for you. Like Tomcat, jetty will give you the encoded part back.

@bjornhilstad 
These comments answers on stackoverflow show a few similar ways to configure the jetty Server in SpringBoot. I also came across [ConfigurableJettyWebServerFactory](https://docs.spring.io/spring-boot/docs/current/api/org/springframework/boot/web/embedded/jetty/ConfigurableJettyWebServerFactory.html) which looks like it would do the same job of allowing you to set a [JettyServerCustomizer](https://docs.spring.io/spring-boot/docs/current/api/org/springframework/boot/web/embedded/jetty/JettyServerCustomizer.html)

https://stackoverflow.com/questions/24122123/spring-boot-jetty-ssl-port
https://stackoverflow.com/questions/38968121/springboot-programmatically-add-jetty-server-connector-ports-at-runtime/38971319#38971319

I adapted the code from one of these answers to show how to configure the MultiPart compliance mode from the SpringBoot server customizer.

```java
@Component
public EmbeddedServletContainerCustomizer servletContainerCustomizer()
{
    return new EmbeddedServletContainerCustomizer()
    {
        @Override
        public void customize(ConfigurableEmbeddedServletContainer container)
        {
            if (container instanceof JettyEmbeddedServletContainerFactory)
                customizeJetty((JettyEmbeddedServletContainerFactory) container);
        }

        private void customizeJetty(JettyEmbeddedServletContainerFactory container)
        {
            container.addServerCustomizers(new JettyServerCustomizer()
            {
                @Override
                public void customize(Server server)
                {
                    // Set the multipart compliance mode on the existing connectors
                    for (Connector connector : server.getConnectors())
                    {
                        HttpConnectionFactory connectionFactory = connector.getConnectionFactory(HttpConnectionFactory.class);
                        if (connectionFactory != null)
                            connectionFactory.getHttpConfiguration().setMultiPartFormDataCompliance(MultiPartFormDataCompliance.RFC7578);
                    }

                    // OR create and set your own connectors with the multipart compliance mode set
                    HttpConnectionFactory connectionFactory = new HttpConnectionFactory();
                    connectionFactory.getHttpConfiguration().setMultiPartFormDataCompliance(MultiPartFormDataCompliance.RFC7578);
                    ServerConnector connector = new ServerConnector(server, connectionFactory);
                    server.setConnectors(new Connector[]{connector});
                }
            });
        }
    };
}
```

@lachlan-roberts I think the parsing bug in commit d4ec70a689a0f9460e6e282d6b3080ec7f8c62db should be fixed and merged into jetty-9.4.x at least.
WDYT?

```
java.lang.IllegalStateException: java.lang.NumberFormatException: For input string: "_P"
at org.eclipse.jetty.util.MultiPartInputStreamTest.testQuotedPrintableInBoundary(MultiPartInputStreamTest.java:1097)
Caused by: java.lang.NumberFormatException: For input string: "_P"
at org.eclipse.jetty.util.MultiPartInputStreamTest.testQuotedPrintableInBoundary(MultiPartInputStreamTest.java:1097)
```

Having a testcase that proves out the Compliance violation is good too.
Can you submit that commit as a PR?



@joakime it doesn't look like it will be very simple to fix, I tried but it looks like you'd have to redesign the way the parser works. Might be easier to just transition to using the new multipart parser.

@joakime the fix for the parser bug is the new implementation!
@lachlan-roberts the best we could probably do for the old impl is make handling quoted-printable optional... but we've got this far with it with only 1 reported problem, thus I think we can just push forward to the new impl.

@lachlan-roberts Using something similar to the code you referred to I was able to configure Jetty in spring-boot to use the new MultiPartFormDataCompliance.RFC7578 and now it was able to handle the requests that caused the initial problem.


The OP has been able to transition to the new MultiPart handling, which avoids the content transfer decoding problem inherent in the old MultiPart handling. I'm closing this issue.

@lachlan-roberts can branch `jetty-9.4.x-3735-multipart-quotedPrintable` be deleted now?