Websocket Automatic Pong reply

**Jetty version**
9.4.28
**Java version**
1.8
**Question**
Jetty websocket client/server seems to automatically reply to ping with pongs.  Is there a way for me to handle the ping message instead or disable the automatic pong?

the WebsocketPingPongListener class allows me to inspect the content; however, I would like a handle the ping messages instead.




@michaelkwan There is currently no way to disable the automatic reply to pings. What is your use case for handling the ping messages yourself?

The automatic responding of a received ping frame with a pong frame is us satisfying the demands of the websocket protocol.

See https://tools.ietf.org/html/rfc6455#section-5.5.3

>   A Pong frame sent in response to a Ping frame must have identical
>   "Application data" as found in the message body of the Ping frame
>   being replied to.

Using the various WebSocket APIs you will be notified of the contents of PING and PONG payload contents, in the order they were received.

WebSocket Parent API | Control Frame | How Notified
----- | ------- | -------------
Jetty | PING (0x9) | `WebSocketFrameListener.onWebSocketFrame(Frame)`
Jetty | PONG (0xA) | `WebSocketFrameListener.onWebSocketFrame(Frame)`
Jetty | PING (0x9) | `WebSocketPingPongListener.onWebSocketPing(ByteBuffer)`
Jetty | PONG (0xA) | `WebSocketPingPongListener.onWebSocketPong(ByteBuffer)`
javax.websocket | PING (0x9) | `@OnMessage` annotated method with parameter type `javax.websocket.PongMessage`
javax.websocket | PONG (0xA) | `@OnMessage` annotated method with parameter type `javax.websocket.PongMessage`

It is a violation of the WebSocket protocol to respond to a PING with a different payload on the PONG.
Any intermediary, firewall (hardware or software), and even remote endpoints can (and often do) fail the connection if this occurs.
Close Status code 1002 is used for this kind of scenario.

PING and PONG are not data frames.
PING and PONG are control frames, and as such are handled by the networking library (Jetty in this case).
This is no different then a TCP stack handling ICMP frames automatically.

RFC6455 also says 

> It SHOULD respond with Pong frame as soon as is practical.

> If an endpoint receives a Ping frame and has not yet sent Pong frame(s) in response to previous Ping frame(s), the endpoint MAY elect to send a Pong frame for only the most recently processed Ping frame.

so it seems it would be valid to not respond to the PING straight away, instead wait until it is "practical" and then respond to multiple PINGs with a single PONG frame.

With websocket, you have ...

* User Agent (Client) protocol behaviors
* Server protocol behaviors
* Intermediary behaviors
* Application APIs based on messages
* Low level APIs based on Frames

From a user agent (client) point of view.
* An Application API can only send PING and unsolicited PONGs on the protocol. (we know of no known user-agent API that supports this)
* a PONG with the identical payload to a received PING from the server must be sent to implement a successful heartbeat / latency check / etc

From a server point of view.
* it must respond to the PING with a PONG with identical payload.
* a PONG with the identical payload to a received PING from the client must be sent to implement a successful heartbeat / latency check / etc

The above can also be seen on the whatwg documented behavior for websocket.
https://html.spec.whatwg.org/multipage/web-sockets.html#ping-and-pong-frames

From a intermediary point of view (eg: a load balancer, proxy, multi-plexor, etc)
* it can choose to handle PING/PONG data frames per the advice on RFC6455 Section 5.5.3.
* The "practical" aspect in that section refers to how these kinds of devices can choose to behave if a PONG is not received for a particular PING.

From an Application APIs based on messages point of view:
* The HTML5 WebSocket API in Javascript is an event driven Application API based on messages
* `javax.websocket` is an event driven Application API based on messages
* Jetty WebSocket API is an event driven Application API based on messages (with options to peek into the raw frames and control frames received)
* Implementations of Application APIs based on messages automatically respond control frame PING with a PONG.
* Application APIs based on messages don't allow you to send raw frames
* Application APIs based on messages handle websocket extensions for you (like permessage-deflate)

From a Low Level API based on Frames
* You receive raw frames from the network 
* You send raw frames to the remote endpoint
* You are responsible for proper frame order requirements when sending raw frames (per the protocol spec)
* You are responsible for responding to PING with your own PONG
* You are responsible for handling CLOSE data frame correctly (the most difficult part of the spec!!)

An example of a non-message based endpoint implemented against the Low Level API based on Frames would be Web-RTC.
Web-RTC is a real time experience that can choose to drop frames to maintain a responsive experience.
The latency between the user-agent and the server is measured with the heartbeat (ping/pong).
If a latency is climbing then it can choose to not send parts of the active message or even a the pong control frames to allow the end points to catch up. (in either direction)
This kind of websocket coding is done entirely at the Frame level, not the message level.

If you want this kind of API, then consider using the Jetty 10 websocket-core and not the higher level message based APIs.

> so it seems it would be valid to not respond to the PING straight away, instead wait until it is "practical" and then respond to multiple PINGs with a single PONG frame.

If you can write/send, then it's "practical" to respond to the PINGs.

From a Jetty implementation point of view, it's WriteFlusher could be the place this behavior is implemented.
An optional (not implemented) behavior of the WriteFlusher would be to only allow the queue to hold only the most recent PONG frame.
This kind of change would still not result in an API level change.

trying to see if it's practical to implement a reverse proxy where jetty is passing from inbound to outbound client.  if i forward the ping/pong using the ping pong listener, then an extra pong will be sent back to original client.

@michaelkwan so as @joakime says its probably best to do this with a low level API based on frames such as the jetty-10 websocket-core API. 

We also have a test which uses a basic websocket proxy implemented with the websocket-core API. This might be a useful example to look at.

https://github.com/eclipse/jetty.project/blob/cb61ec439afe02c48b8a0870c5f052f0499a1e58/jetty-websocket/websocket-core/src/test/java/org/eclipse/jetty/websocket/core/proxy/WebSocketProxy.java#L1-L691