Non-IP address:port values in X-Forwarded-For field are not handled

**Jetty version(s)**
12.0.17

**Jetty Environment**
core

**Java version/vendor** `(use: java -version)`
openjdk version "1.8.0_412"
OpenJDK Runtime Environment (build 1.8.0_412-b08)
OpenJDK 64-Bit Server VM (build 25.412-b08, mixed mode)

**OS type/version**
RockyLinux 9.4

**Description**
When making requests to a Jetty server (in my case, Jenkins 2.492.3 which uses Jetty 12.0.17) the proxy inserts an X-Forwarded-For field in the request header. The value of the field is NOT an IP address/port (it is some other obfuscated text) which I believe is valid as defined in Section 5.2 RFC7239. Jetty rejects the request with `HTTP ERROR 400 Bad header value for X-Forwarded-For`

Another Jenkins server (2.243 running Jetty 9.4 AFAIK) does not reject this HTTP request.

**How to reproduce?**
Craft an HTTP GET request with `X-Forwarded-For: unknown` or other non-node identifier (see Section 6 of RFC7239)






Jetty 9 is EOL (End of Life)

* #7958 
* #10485 

There is no support for it anymore.

It's impossible to run Jetty 12.0.17 on `openjdk version "1.8.0_412"` (what you wrote).

I tested this on 12.0.22, there's no such error 400 for the example you provided.

Lets setup a fresh jetty-base and enable the features you are referencing ...

``` shell
[joakim@hyperion bases]$ mkdir demo-12-forwarded
[joakim@hyperion bases]$ cd demo-12-forwarded/
[joakim@hyperion demo-12-forwarded]$ java -jar ../../jetty-home-12.0.22/start.jar --add-modules=http,ee10-demo-jetty,forwarded
...(snip lots of output)...
# Enable access to demo from remote hosts (it is restricted to localhost by default)
[joakim@hyperion demo-12-forwarded]$ gvim webapps/ee10-demo-jetty.d/ee10-demo-jetty-override-web.xml 
[joakim@hyperion demo-12-forwarded]$ grep -A12 "Allow remote" webapps/ee10-demo-jetty.d/ee10-demo-jetty-override-web.xml 
  <!-- Allow remote access to test webapp -->
  <filter>
    <filter-name>TestFilter</filter-name>
    <filter-class>org.example.TestFilter</filter-class>
    <async-supported>true</async-supported>
    <init-param>
      <param-name>remote</param-name>
      <param-value>true</param-value>
    </init-param>
  </filter>
  
</web-app>
# Run the server.
[joakim@hyperion demo-12-forwarded]$ java -jar ../../jetty-home-12.0.22/start.jar
2025-06-13 07:13:46.958:WARN :oe.jetty:main: demo-realm is deployed. DO NOT USE IN PRODUCTION!
2025-06-13 07:13:47.072:INFO :oejs.Server:main: jetty-12.0.22; built: 2025-06-02T15:25:31.946Z; git: 335c9ab44a5591f0ea941bf350e139b8c4f5537c; jvm 17.0.15+6
2025-06-13 07:13:47.912:INFO :oejsh.ContextHandler:main: Started oeje10w.WebAppContext@c7ba306{EE10 Demo Jetty WebApp,/ee10-test,b=file:///tmp/jetty-0_0_0_0-8080-ee10-demo-jetty_war-_ee10-test-any-17666283269510928662/webapp/,a=AVAILABLE,h=GzipHandler@74cadd41{STARTED,min=2048,inflate=-1}}{/home/joakim/code/jetty/distros/bases/demo-12-forwarded/webapps/ee10-demo-jetty.war}
2025-06-13 07:13:47.958:INFO :oejes.ServletContextHandler:main: Started oeje10w.WebAppContext@c7ba306{EE10 Demo Jetty WebApp,/ee10-test,b=file:///tmp/jetty-0_0_0_0-8080-ee10-demo-jetty_war-_ee10-test-any-17666283269510928662/webapp/,a=AVAILABLE,h=GzipHandler@74cadd41{STARTED,min=2048,inflate=-1}}{/home/joakim/code/jetty/distros/bases/demo-12-forwarded/webapps/ee10-demo-jetty.war}
2025-06-13 07:13:47.969:INFO :oejs.AbstractConnector:main: Started ServerConnector@5bda80bf{HTTP/1.1, (http/1.1)}{0.0.0.0:8080}
2025-06-13 07:13:47.980:INFO :oejs.Server:main: Started oejs.Server@f381794{STARTING}[12.0.22,sto=0] @1969ms
```

Lets test a normal request to the dump servlet first.

``` shell
[joakim@hyperion ~]$ curl --no-progress-meter -v http://localhost:8080/ee10-test/dump/info | grep -E '(getServer|getRemote)'
*   Trying 127.0.0.1:8080...
* Connected to localhost (127.0.0.1) port 8080 (#0)
> GET /ee10-test/dump/info HTTP/1.1
> Host: localhost:8080
> User-Agent: curl/7.81.0
> Accept: */*
> 
* Mark bundle as not supporting multiuse
< HTTP/1.1 200 OK
< Server: Jetty(12.0.22)
< Set-Cookie: visited=yes
< Expires: Thu, 01 Jan 1970 00:00:00 GMT
< Vary: Accept-Encoding
< Set-Cookie: JSESSIONID=node01jdr1if5jsewv1c5959nzusjgm2.node0; Path=/ee10-test
< Content-Type: text/html;charset=utf-8
< Content-Length: 11266
< 
{ [11266 bytes data]
* Connection #0 to host localhost left intact
<th align="right">getRemoteAddr:&nbsp;</th><td>127.0.0.1</td></tr><tr>
<th align="right">getRemoteHost:&nbsp;</th><td>127.0.0.1</td></tr><tr>
<th align="right">getRemotePort:&nbsp;</th><td>43634</td></tr><tr>
<th align="right">getRemoteUser:&nbsp;</th><td>user</td></tr><tr>
<th align="right">getServerName:&nbsp;</th><td>localhost</td></tr><tr>
<th align="right">getServerPort:&nbsp;</th><td>8080</td></tr><tr>
```

Now lets test a request with a `X-Forwarded-Host` header, so that we can confirm that the forwarding headers are being read.

``` shell
[joakim@hyperion ~]$ curl --no-progress-meter -v -H "X-Forwarded-Host: machinefoo" http://localhost:8080/ee10-test/dump/info | grep -E '(getServer|getRemote)'
*   Trying 127.0.0.1:8080...
* Connected to localhost (127.0.0.1) port 8080 (#0)
> GET /ee10-test/dump/info HTTP/1.1
> Host: localhost:8080
> User-Agent: curl/7.81.0
> Accept: */*
> X-Forwarded-Host: machinefoo
> 
* Mark bundle as not supporting multiuse
< HTTP/1.1 200 OK
< Server: Jetty(12.0.22)
< Set-Cookie: visited=yes
< Expires: Thu, 01 Jan 1970 00:00:00 GMT
< Vary: Accept-Encoding
< Set-Cookie: JSESSIONID=node0100vxv2dtauzuxzpsk5o3ddaz3.node0; Path=/ee10-test
< Content-Type: text/html;charset=utf-8
< Content-Length: 11328
< 
{ [11328 bytes data]
* Connection #0 to host localhost left intact
<th align="right">getRemoteAddr:&nbsp;</th><td>127.0.0.1</td></tr><tr>
<th align="right">getRemoteHost:&nbsp;</th><td>127.0.0.1</td></tr><tr>
<th align="right">getRemotePort:&nbsp;</th><td>34594</td></tr><tr>
<th align="right">getRemoteUser:&nbsp;</th><td>user</td></tr><tr>
<th align="right">getServerName:&nbsp;</th><td>machinefoo</td></tr><tr>
<th align="right">getServerPort:&nbsp;</th><td>80</td></tr><tr>
```

Yup, the getServerName was changed (as expected).

Now lets test a `X-Forwarded-For` header with a name.

``` shell
[joakim@hyperion ~]$ curl --no-progress-meter -v -H "X-Forwarded-For: machinefoo" http://localhost:8080/ee10-test/dump/info | grep -E '(getServer|getRemote)'
*   Trying 127.0.0.1:8080...
* Connected to localhost (127.0.0.1) port 8080 (#0)
> GET /ee10-test/dump/info HTTP/1.1
> Host: localhost:8080
> User-Agent: curl/7.81.0
> Accept: */*
> X-Forwarded-For: machinefoo
> 
* Mark bundle as not supporting multiuse
< HTTP/1.1 200 OK
< Server: Jetty(12.0.22)
< Set-Cookie: visited=yes
< Expires: Thu, 01 Jan 1970 00:00:00 GMT
< Vary: Accept-Encoding
< Set-Cookie: JSESSIONID=node01qdoldism4inz1twsz2u1cyp2b0.node0; Path=/ee10-test
< Content-Type: text/html;charset=utf-8
< Content-Length: 11342
< 
{ [11342 bytes data]
* Connection #0 to host localhost left intact
<th align="right">getRemoteAddr:&nbsp;</th><td>machinefoo</td></tr><tr>
<th align="right">getRemoteHost:&nbsp;</th><td>machinefoo</td></tr><tr>
<th align="right">getRemotePort:&nbsp;</th><td>35124</td></tr><tr>
<th align="right">getRemoteUser:&nbsp;</th><td>user</td></tr><tr>
<th align="right">getServerName:&nbsp;</th><td>localhost</td></tr><tr>
<th align="right">getServerPort:&nbsp;</th><td>8080</td></tr><tr>
```

Yup, the `getRemoteHost` and `getRemoteAddr` were changed.
No error 400 seen.


Also note that the `X-Forwarded-*` header are not a standard or spec, there are many different interpretations of what those headers mean on the internet.

We have implemented what Google Cloud, AWS, and Azure expects. (basically the 800 lb gorillas of the server space).

In their requirements, the `X-Forward-For` header is always a `<host>:<port>` pair, where the host is always an IP address.
Our implementation expects the host:port pair, but doesn't care about the hostname vs ip address concern.
Just know that using a hostname, and not an IP Literal, breaks the `HttpServletRequest.getRemoteAddr()` method expectations (as seen in the previous comment).  A concern for many libraries that expect an IP Literal to be returned from that method.  If you don't use a `<host>:<port>` pair, then you caused undefined behavior of many APIs from the servlet spec.

> The value of the field is NOT an IP address/port (it is some other obfuscated text) which I believe is valid as defined in Section 5.2 RFC7239.

If using `X-Forwarded-For` the node name has the following restrictions.
  * MUST be either an IP Literal or a hostname.
  * For IP Literal
    - Either `IPv4address` or `"[" IPv6address "]"` - see [RFC 3986: Section 3.2.2](https://datatracker.ietf.org/doc/html/rfc3986#section-3.2.2) for format details.
  * For hostname
    - MUST start with a `ALPHA | DIGIT`
    - MUST contain at least one character in the restricted characters of `ALPHA | DIGIT | "." | "-" | "_"`
    - MUST not end with `"-" | "_"`

If using RFC 7239, the `Forwarded: for=\"\"` then you have the following restrictions.
  * MUST be one of `IPv4address` or `"[" IPv6address "]"` or `"unknown"` or `obfnode`
  * MUST not contain port
  * For `IPv4address` see [RFC 3986: Section 3.2.2](https://datatracker.ietf.org/doc/html/rfc3986#section-3.2.2)
  * For `"[" IPv6address "]"` see [RFC 3986: Section 3.2.2](https://datatracker.ietf.org/doc/html/rfc3986#section-3.2.2)
  * For `"unknown"` only that string, with the double quotes surrounding it.
  * For `obfnode` the following restrictions apply.
    - MUST be enclosed in double quotes
    - MUST start with `"_"`
    - MUST contain at least one character in the restricted characters of `ALPHA | DIGIT | "." | "-" | "_"`
    - Extra Servlet requirement, while `"__"` and `"_-"` and `"_."` are valid to the RFC 7239 spec, these are known to cause undefined behavior in various Servlet spec APIs.


Many thanks for investigating my report. Firstly, apologies for providing incorrect information regarding the Java version. I've checked again and the version in use on the Jenkins server is :
```
openjdk version "21.0.3" 2024-04-16 LTS
OpenJDK Runtime Environment (Red_Hat-21.0.3.0.9-1) (build 21.0.3+9-LTS)
OpenJDK 64-Bit Server VM (Red_Hat-21.0.3.0.9-1) (build 21.0.3+9-LTS, mixed mode, sharing)
```

Looks like the proxy that is messing things up is non-compliant then as the `X-Forwarded-For` header field is given as:
`X-Forwarded-For : DOMAIN\username`
(for some completely unknown reason, it's the Windows 😦  domain name and local username of the client)


> Looks like the proxy that is messing things up is non-compliant then as the `X-Forwarded-For` header field is given as:
> `X-Forwarded-For : DOMAIN\username`
> (for some completely unknown reason, it's the Windows 😦 domain name and local username of the client)

Yup, you'll want to get that corrected, that string is invalid for both `X-Forwarded-For` and also for RFC 7239.
Feel free to close this issue.