RFC2965_LEGACY cookie mode leads to request being unusable if cookie value is non-compliant

**Jetty version(s)**
Jetty 12.0.17

**Jetty Environment**
EE10, but applicable for other EEs too

**Description**

When using `CookieCompliance.RFC2965_LEGACY` and receiving a request where a comma is used in the cookie value, followed by one of the symbols not valid in a cookie name, an exception is thrown from the servlet/filter implementation on an attempted access to the request cookies:

```
java.lang.IllegalArgumentException: Cookie name "c/u" is a reserved token or contains an invalid character for a cookie name
	at jakarta.servlet.http.Cookie.<init>(Cookie.java:133) ~[jakarta.servlet-api-6.0.0.jar:6.0.0]
	at org.eclipse.jetty.ee10.servlet.ServletApiRequest.convertCookie(ServletApiRequest.java:378) ~[jetty-ee10-servlet-12.0.17.jar:12.0.17]
	at org.eclipse.jetty.server.CookieCache.convert(CookieCache.java:292) ~[jetty-server-12.0.17.jar:12.0.17]
	at org.eclipse.jetty.server.CookieCache.getApiCookies(CookieCache.java:266) ~[jetty-server-12.0.17.jar:12.0.17]
	at org.eclipse.jetty.server.CookieCache.getApiCookies(CookieCache.java:107) ~[jetty-server-12.0.17.jar:12.0.17]
	at org.eclipse.jetty.ee10.servlet.ServletApiRequest.getCookies(ServletApiRequest.java:372) ~[jetty-ee10-servlet-12.0.17.jar:12.0.17]
```

Meanwhile, when using `CookieCompliance.RFC2965`, a cookie with an incorrect value is getting discarded, and the `getCookies` method works.

The behavior of `CookieCompliance.RFC2965_LEGACY` is effectively more restrictive than `CookieCompliance.RFC2965`, as it renders such a request unusable if the application code accesses the cookies, while it should be more permissible:

```java
    /**
     * A CookieCompliance mode that allows <a href="https://tools.ietf.org/html/rfc2965">RFC 2965</a> compliance.
     */
    public static final CookieCompliance RFC2965_LEGACY;

    /**
     * A CookieCompliance mode that allows <a href="https://tools.ietf.org/html/rfc2965">RFC 2965</a> compliance
     * but does <b>not</b> allow:
     * <ul>
     * <li>{@link Violation#BAD_QUOTES}</li>
     * <li>{@link Violation#COMMA_NOT_VALID_OCTET}</li>
     * <li>{@link Violation#RESERVED_NAMES_NOT_DOLLAR_PREFIXED}</li>
     * </ul>
     */
    public static final CookieCompliance RFC2965;
```
 

**How to reproduce?**

Run Jetty server with `CookieCompliance.RFC2965_LEGACY` and call
```sh
curl '<endpoint>' -b 'c=A==,b==,c/u=='
```

In this example, a second comma is seen as a cookie separator (equivalent to ";"), and "c/u" is attempted to be parsed as a cookie name.



Out of curiosity, what client sends such cookie name?

> ```
> curl '<endpoint>' -b 'c=A==,b==,c/u=='
> ```

The Cookie data `c=A==,b==,c/u==` would be broken down as ...

Cookie Name | Cookie Value
---- | ----
`c` | `A==`
`b` | `=`
`c/u` | `=`

But the thing is, the character `/` is not valid in a name per the Cookie spec.

Per RFC2965 - https://datatracker.ietf.org/doc/html/rfc2965

```
3.1  Syntax:  General

   The two state management headers, Set-Cookie2 and Cookie, have common
   syntactic properties involving attribute-value pairs.  The following
   grammar uses the notation, and tokens DIGIT (decimal digits), token

   (informally, a sequence of non-special, non-white space characters),
   and http_URL from the HTTP/1.1 specification [RFC2616] to describe
   their syntax.

   av-pairs    =     av-pair *(";" av-pair)
   av-pair     =     attr ["=" value]              ; optional value
   attr        =     token
   value       =     token | quoted-string
```

Where `token` is referenced at https://datatracker.ietf.org/doc/html/rfc2616

```
       token          = 1*<any CHAR except CTLs or separators>
       separators     = "(" | ")" | "<" | ">" | "@"
                      | "," | ";" | ":" | "\" | <">
                      | "/" | "[" | "]" | "?" | "="
                      | "{" | "}" | SP | HT
```

Notice that the `/` character is part of the `separators` list.

Even in the updated spec at https://datatracker.ietf.org/doc/html/rfc6265

```
4.2.1.  Syntax

   The user agent sends stored cookies to the origin server in the
   Cookie header.  If the server conforms to the requirements in
   Section 4.1 (and the user agent conforms to the requirements in
   Section 5), the user agent will send a Cookie header that conforms to
   the following grammar:

   cookie-header = "Cookie:" OWS cookie-string OWS
   cookie-string = cookie-pair *( ";" SP cookie-pair )

...(snip)...

 cookie-pair       = cookie-name "=" cookie-value
 cookie-name       = token
 cookie-value      = *cookie-octet / ( DQUOTE *cookie-octet DQUOTE )
 cookie-octet      = %x21 / %x23-2B / %x2D-3A / %x3C-5B / %x5D-7E
                       ; US-ASCII characters excluding CTLs,
                       ; whitespace DQUOTE, comma, semicolon,
                       ; and backslash
 token             = <token, defined in [RFC2616], Section 2.2>
```

Again, the name is a `token`, which rejects the `/` character (due to it being a separator) in the name.

@sbordet 

Surprisingly, Google Chrome.
We made a mistake in allowing cookie values with commas to be generated. Google Chrome successfully saved such a cookie and passed it to our Jetty backends, which may have led to an outage (thankfully, it didn't, as the percentage of requests that got the cookie was limited)

@Spikhalskiy this issue in the crevice between the IETF specs and the W3C "living document" non-specs (which allows all kinds of nonsense and security issues in the Cookie headers).

The IETF is still working on updates to the Cookie spec.
I was involved in a Cookie name discussion a last year when the scope of characters allowed changed suddenly.

* https://github.com/httpwg/http-extensions/issues/2848

The change was actually a mistake and reverted.
Read some of the comments there for a taste of how messed up this space is.

The curl and Google Chrome devs are involved in that discussion btw.


@joakime We understand that this cookie value is incorrect and should have never been set in the first place, BUT:
1. Such handling can lead to a complete outage if a non-compliant cookie value is set en masse. Especially considering that Google Chrome allows such a cookie to be set and sent. It can also be used as a DOS attack vector by a 3rd party iframe integration.
2. `CookieCompliance.RFC2965` mode handles it gracefully by detecting an incorrect comma and discarding the cookie up to the next cookie separator `;`. A stricter mode shouldn't be more forgiving than an allegedly more permissible Legacy mode. We work around this situation by changing `CookieCompliance.RFC2965_LEGACY` to `CookieCompliance.RFC2965`, which doesn't look right.
3. `CookieCompliance.RFC2965_LEGACY` allows `Violation.COMMA_NOT_VALID_OCTET`, so the comma in the value should be handled gracefully... somehow.

> * Such handling can lead to a complete outage if a non-compliant cookie value is set en masse. Especially considering that Google Chrome allowed such a cookie to persist.

Google Chrome behavior is even more bizarre than you realize.  
Are you aware that sometimes a Set-Cookie can be seen as invalid and dropped? (depends on Google Chrome version, architecture, and build) - eg: it works on desktop, but is rejected on mobile.
The behavior of "dropped" is also different, on desktop it drops only the bad entry, on mobile it can drop all entries from the bad one onwards, etc...

> * `CookieCompliance.RFC2965` mode handles it gracefully by detecting an incorrect comma and discarding the cookie up to the next cookie separator `;`. A stricter mode shouldn't be more forgiving than an allegedly more permissible Legacy mode. We work around this situation by changing `CookieCompliance.RFC2965_LEGACY` to 'CookieCompliance.RFC2965', which doesn't look right.

The `CookieCompliance.RFC2965` is more akin to what Google Chrome desktop behaves like today.
The behavior has been shown to be different on Chromebook and Chrome Mobile.
The `CookieCompliance.RFC2965_LEGACY` is more akin to how Google Chrome desktop used to behave (as little as 2 years ago).

Point is, there is no stable solution for this kind of bad input.
What you choose to support now, will be rendered useless and changed in a chrome update, or on mobile, or if an older chrome user appears, or an alternate browser is used, etc ...


@joakime A partial or even complete discarding of cookies may still be better than rendering the whole request unusable by a runtime exception in `getCookies`. Mainly because it can be used as a DOS attack vector.

Granted that explicitly configuring jetty with this cookie compliance mode is questionable in the first place, I'd like to expand on @Spikhalskiy 's comment regarding discarding being preferable to an uncaught exception.

It's possible for something like a tracking pixel on a subdomain of a website to set such nasty cookies on the parent domain and break access to all jetty servers configured with `CookieCompliance.RFC2965_LEGACY` working under the same parent domain. 

If you are looking for safety, then stick with the RFC6265 default, as any bad cookie drops all cookies.

``` shell
# in other terminal
[demos-12-ee10]$ java -jar ../../jetty-home-12.0.21/start.jar jetty.httpConfig.requestCookieCompliance=RFC6265
# In different terminal
$ curl -vvvv http://localhost:8080/ee10-test/cookie/ -b 'c=A==,b==,c/u=='
*   Trying 127.0.0.1:8080...
* Connected to localhost (127.0.0.1) port 8080 (#0)
> GET /ee10-test/cookie/ HTTP/1.1
> Host: localhost:8080
> User-Agent: curl/7.81.0
> Accept: */*
> Cookie: c=A==,b==,c/u==
> 
* Mark bundle as not supporting multiuse
< HTTP/1.1 200 OK
< Server: Jetty(12.0.21)
< Set-Cookie: visited=yes
< Expires: Thu, 01 Jan 1970 00:00:00 GMT
< Vary: Accept-Encoding
< Content-Type: text/html;charset=utf-8
< Content-Length: 320
< 
<h1>Cookie Dump Servlet:</h1>
<form action="/ee10-test/cookie/" method="post">
<b>Name:</b><input type="text" name="Name" value="name"/><br/>
<b>Value:</b><input type="text" name="Value" value="value"/><br/>
<b>Max-Age:</b><input type="text" name="Age" value="60"/><br/>
<input type="submit" name="Action" value="Set"/>
* Connection #0 to host localhost left intact
```

But using `jetty.httpConfig.requestCookieCompliance=RFC2965` the cookie that fails is dropped, **and** all subsequent ones.  This is important to recognize!  As this is often an undesired behavior.

``` shell
# in other terminal
[demos-12-ee10]$ java -jar ../../jetty-home-12.0.21/start.jar jetty.httpConfig.requestCookieCompliance=RFC2965
# In different terminal
$ curl -vvvv http://localhost:8080/ee10-test/cookie/ -b 'c=A==,b==,c/u==,z=f'
*   Trying 127.0.0.1:8080...
* Connected to localhost (127.0.0.1) port 8080 (#0)
> GET /ee10-test/cookie/ HTTP/1.1
> Host: localhost:8080
> User-Agent: curl/7.81.0
> Accept: */*
> Cookie: c=A==,b==,c/u==,z=f
> 
* Mark bundle as not supporting multiuse
< HTTP/1.1 200 OK
< Server: Jetty(12.0.21)
< Set-Cookie: visited=yes
< Expires: Thu, 01 Jan 1970 00:00:00 GMT
< Vary: Accept-Encoding
< Content-Type: text/html;charset=utf-8
< Content-Length: 354
< 
<h1>Cookie Dump Servlet:</h1>
<b>c</b>=A==<br/>
<b>b</b>==<br/>
<form action="/ee10-test/cookie/" method="post">
<b>Name:</b><input type="text" name="Name" value="name"/><br/>
<b>Value:</b><input type="text" name="Value" value="value"/><br/>
<b>Max-Age:</b><input type="text" name="Age" value="60"/><br/>
<input type="submit" name="Action" value="Set"/>
* Connection #0 to host localhost left intact
```

But using `jetty.httpConfig.requestCookieCompliance=RFC2965_LEGACY` the bad cookie fails the `getCookies()` call.
This is actually a desired behavior by many users.

``` shell
# in other terminal
[demos-12-ee10]$ java -jar ../../jetty-home-12.0.21/start.jar jetty.httpConfig.requestCookieCompliance=RFC2965_LEGACY
# In different terminal
$ curl -vvvv http://localhost:8080/ee10-test/cookie/ -b 'c=A==,b==,c/u=='
*   Trying 127.0.0.1:8080...
* Connected to localhost (127.0.0.1) port 8080 (#0)
> GET /ee10-test/cookie/ HTTP/1.1
> Host: localhost:8080
> User-Agent: curl/7.81.0
> Accept: */*
> Cookie: c=A==,b==,c/u==
> 
* Mark bundle as not supporting multiuse
< HTTP/1.1 500 Server Error
< Server: Jetty(12.0.21)
< Set-Cookie: visited=yes
< Cache-Control: must-revalidate,no-cache,no-store
< Content-Type: text/html;charset=iso-8859-1
< Content-Length: 4875
< 
<html>
<head>
<meta http-equiv="Content-Type" content="text/html;charset=ISO-8859-1"/>
<title>Error 500 java.lang.IllegalArgumentException: Cookie name &quot;c/u&quot; is a reserved token or contains an invalid character for a cookie name</title>
</head>
<body><h2>HTTP ERROR 500 java.lang.IllegalArgumentException: Cookie name &quot;c/u&quot; is a reserved token or contains an invalid character for a cookie name</h2>
<table>
<tr><th>URI:</th><td>/ee10-test/cookie/</td></tr>
<tr><th>STATUS:</th><td>500</td></tr>
<tr><th>MESSAGE:</th><td>java.lang.IllegalArgumentException: Cookie name &quot;c/u&quot; is a reserved token or contains an invalid character for a cookie name</td></tr>
...(snip)...
```



This can be done better.
I think the behavior of how bad cookies is dropped should be either well documented, or configurable (drop all, drop one, drop remaining, fail)


Please consider at least improving the javadoc for `RFC2965_LEGACY` and `RFC2965`, as now they + code that initializes the fields read in a way that `CookieCompliance.Violation.COMMA_NOT_VALID_OCTET` is allowed with `RFC2965_LEGACY`. Where "allowed" is "will deserialize such a non-compliant value gracefully", not "pass the request through, but will throw on an attempt to read cookies".

```java
        /**
         * A comma was found in a cookie value.
         */
        COMMA_NOT_VALID_OCTET("https://tools.ietf.org/html/rfc6265#section-4.2.1", "Comma not valid as cookie-octet or separator"),
```

@Spikhalskiy FYI the LEGACY modes are not necessarily "more strict", often they are more forgiving or even just wrong behaviour.  They are intended to duplicate the behaviour of previous releases as much as possible, rather than adhere to the specification.

So, at the very least, we should make that clear in the javadoc.     I'll also look at this one in a bit more detail to confirm this really is legacy behaviour (probably from Jetty-9.4). 

Stand by...


@gregw yeah, it's clear that "LEGACY" is not inherently more forgiving or more strict. However, I expect RFC2965_LEGACY to be more forgiving, based on the Javadocs (and value declaration), and allow a comma in the cookie value, meaning it should allow such values to be passed and handled by the app code.
What is not expected is that it's, in fact, NOT more forgiving and renders the request completely unusable if such a comma is present. It's declared and described as more forgiving, but in fact, it's not. 
RFC2965 handles incorrect cookie values gracefully by discarding such a cookie. At the same time, RFC2965_LEGACY goes nuclear. It passes the request with an invalid cookie through, but explodes in the app code with an undeclared, undocumented, and unchecked exception, without giving the ability to handle it gracefully and read any other cookies.


In jetty-9.4.x the following test passes:
```java
    /**
     * Example from RFC2109 and RFC2965
     */
    @Test
    public void testLEGACY()
    {
        String rawCookie = "c=A==,b==,c/u==,z=f";

        Cookie[] cookies = parseCookieHeaders(CookieCompliance.RFC2965, rawCookie);

        assertThat(cookies.length, is(3));
        assertCookie("0", cookies[0], "c", "A==", 0, null);
        assertCookie("1", cookies[1], "b", "=", 0, null);
        assertCookie("2", cookies[2], "z", "f", 0, null);
    }
```

So it is simply ignoring cookies with bad names.

However, in 12.0.x the following test cases also pass:
```java
            Arguments.of(RFC2965, "Cookie: c=A==,b==,c/u==,z=f", 200, "Version=", List.of("[c=A==]", "[b==]").toArray(new String[0])),
            Arguments.of(RFC2965_LEGACY, "Cookie: c=A==,b==,c/u==,z=f", 200, "Version=", List.of("[c=A==]", "[b==]", "[c/u==]", "[z=f]").toArray(new String[0])),
```

So the legacy is a not exactly correct, as it is including the cookie with the bad name rather than skipping it.

I believe the reason for this is that in jetty-9.4 we were using the `javax.servlet.http.Cookie` class, which checked the name and thus rejected bad names.  In 12.0.x we are not rejecting that bad name in the LEGACY compliance mode.

@Spikhalskiy Would you be satisfied if we a) improve the javadoc about all this; b) modify RFC2965_LEGACY so that it silently discarded the c/u cookie like jetty-9.4.x did?






@gregw Yes. Discarding the cookie with non-compliant value will pretty much solve all the issues discussed and most importantly will address the concern of using this as a DOS attack vector. 

`Violation.COMMA_NOT_VALID_OCTET` should probably also be removed from `CookieCompliance.RFC2965` javadocs and `CookieCompliance.RFC2965_LEGACY` value initialization, as they will be identical in handling this non-compliance. 