process Host header on HTTP/2 when there is no :authority

**Jetty version(s)**
Jetty 10.0.3

**Java version/vendor** `(use: java -version)`
openjdk version "11.0.17" 2022-10-18
OpenJDK Runtime Environment Temurin-11.0.17+8 (build 11.0.17+8)
OpenJDK 64-Bit Server VM Temurin-11.0.17+8 (build 11.0.17+8, mixed mode)

**OS type/version**
Ubuntu 22.04.2 LTS

**Description**
When using Jetty with a proxy frontend (haproxy for example) that accepts HTTP/1.1 secure connections but forwards them to Jetty using HTTP/2 (using HTTP/2 cleartext in this case) the values reported on request.getServerName() and request.getURI() are not correct.  They contain the resolved numeric IP address of the server instead of the host name originally requested by the end user browser.

As discussed on [haproxy mailing list](https://www.mail-archive.com/haproxy@formilux.org/msg43261.html), haproxy forwards the request without :authority and maintaing the Host header, [as the RFC mandates](https://www.rfc-editor.org/rfc/rfc9113#name-request-pseudo-header-field):

>       To ensure that the HTTP/1.1 request line can be reproduced
>       accurately, this pseudo-header field MUST be omitted when
>       translating from an HTTP/1.1 request that has a request target in
>       origin or asterisk form (see [[RFC7230], Section 5.3](https://datatracker.ietf.org/doc/html/rfc7230#section-5.3)).  Clients
>       that generate HTTP/2 requests directly SHOULD use the ":authority"
>       pseudo-header field instead of the "Host" header field.  An
>       intermediary that converts an HTTP/2 request to HTTP/1.1 MUST
>       create a "Host" header field if one is not present in a request by
>       copying the value of the ":authority" pseudo-header field.


So it looks like Jetty should accept requests that only have host and no authority, to support this use case (HTTP/2 behind a proxy).  


**How to reproduce?**

Configure a haproxy frontend using `alpn h2,http/1.1` and a backend using `proto h2` pointing to a Jetty supporting HTTP/2 cleartext.



Forgot to mention that we are using Proxy Protocol V2 (haproxy `send-proxy-v2` setting).  Don't know if this can be related.

The whole reason HTTP/2 has the pseudo headers is to eliminate all of the messed up ambiguity present for figuring out the authority (and path) in HTTP/1.
Having our HTTP/2 implementation use `Host` header is a giant step backwards for stability.

I think your use case is best handled by a HttpConfiguration.Customizer that fixes the `authority` of the request URI (post-parsing, and pre-dispatch) based on whatever logic you want to apply to the ignored `Host` header.

Your use case doesn't quite fit the `HostHeaderCustomizer` that comes with jetty.

You'll need something custom.

I would suggest you start from this code and adapt it to fit your needs. 
https://github.com/eclipse/jetty.project/blob/jetty-10.0.x/jetty-server/src/main/java/org/eclipse/jetty/server/HostHeaderCustomizer.java


For the sake of clarity, can you post an example of a request as received by the proxy and as forwarded to the server?

@ofrias @wtarreau I interpret RFC 9113 as follows:

> An intermediary that forwards a request over HTTP/2 MUST construct an ":authority" pseudo-header field using the authority information from the control data of the original request

For an HTTP/2 request from the client, the intermediary must forward the `:authority` pseudo-header.
For an HTTP/1.1 request with a `Host` field from the client, the intermediary `MUST construct an ":authority" pseudo-header field` because the `Host` header is the source of the authority.
If HAProxy does that, we should be good.

Since you are using the proxy-protocol, you should configure Jetty to support that too, so the Jetty configuration should have the `proxy-protocol` and the `http2c` modules enabled (not just the `http2c` module).


Hi Simone! Long time no talk!

actually the control data does not include the host header (those only include headers starting with ':', see 9113#8.3) and it's not the authority (however if both are present they must match). The `:authority` header matches 1:1 with the authority part of absolute URIs as defined in RFC3986, and that is mostly used for proxy requests but that servers are nevertheless required to support.

In fact incorrectly mixing Host and `:authority`  in a proxy/gateway could result in HTTP/1.1 not being correctly transported over H2. There's a strong requirement that any valid HTTP/1 request can be transported over HTTP/2 and restored to HTTP/1 as-is further down the chain (think about a first H1->H2 gateway and a second H2->H1 gateway). The distinction that SPDY (then H2 and H3) made between host and `:authority` in fact respects this because the request line is split into `:method`, `:scheme`, `:authority`, `:path` and the rest are regular headers. If an initial request has an authority it must be produced into `:authority` otherwise none must be produced (which is why the rule says `, unless the original request's target URI does not contain authority information (in which case it MUST NOT generate ":authority")`).

This means that H1 origin requests are represented in H2 as host without :authority and that absolute requests are represented with :authority with optional host. And the "fun" thing is that browsers only use absolute URIs in H2 so you don't get the same format for H1 and H2 requests :-/ But that's for a good cause, it will over time allow Host to disappear. 

Regarding the proxy protocol, be careful, it really depends on the information you want to extract from it. As is reminded in RFC9110#3.3 requests from a same connection work in isolation and share nothing so the server must not assume elements from a connection to be common between requests. This is important since proxies multiplex requests over connections. The proxy protocol is usable when you're certain that the front connection matches 1:1 with the back connection (which is almost never the case with H2 that is multiplexed, unless in haproxy you add `http-reuse never` to forcefully disable this).

> Hi Simone! Long time no talk!

Yeah! 😃 

Let my try to explain my interpretation.

In HTTP/1.1, the `Host` header _is_ control data, because it is used to route the message (e.g. virtual hosts).
This appears evident from RFC 9110 (HTTP semantic) sections 5.3 (field order) and 7.1 (determining the target resource) and 7.2 (Host and :authority).

RFC 9112 (HTTP/1.1) section 3.3 explicitly states that

> the target URI's authority component is the field value of the Host header field

(although of course I think this is overridden when `request-target` is in absolute-form -- i.e. sending the request through a forward proxy).

If you agree with the above, then HAProxy receiving:

```
GET http://host:8080/path HTTP/1.1
Host: garbage:9090
```

should produce:

```
:method: GET
:authority: host:8080
```

and HAProxy receiving:

```
GET /path HTTP/1.1
Host: domain:7070
```

should produce:

```
:method: GET
:authority: domain:7070
```

and HAProxy receiving:

```
GET /resource HTTP/1.0
```

should produce:

```
:method: GET
```

I think I disagree when you say:

> This means that H1 origin requests are represented in H2 as host without :authority

because the H1 `Host` represent the authority and RFC 9113 section 8.1.3 says that

> An intermediary that forwards a request over HTTP/2 MUST construct an ":authority" pseudo-header field using the authority information from the control data of the original request

If you don't agree that the HTTP/1.1 `Host` value is control data and therefore must be reported in `:authority`, then I think we need some additional clarification from the spec editors, because I can see my interpretation as legit (although admittedly more "lenient") but I can also see your interpretation as legit (although very strict) 😃 


In fact RFC7540 made even more explicit:

```To ensure that the HTTP/1.1 request line can be reproduced
      accurately, this pseudo-header field MUST be omitted when
      translating from an HTTP/1.1 request that has a request target in
      origin or asterisk form
```
i.e. it is strictly forbidden to produce :authority from host.  Note that this notion of control data was introduced with 911x in order to try to uniformise the specs, but the intent and the need to be able to accurately represent a request are super important.


@wtarreau yes, but RFC 9113 section 8.3.1 -- which I assume obsoletes RFC 7540 -- has that wording that you reported reversed:

> An intermediary that forwards a request over HTTP/2 MUST construct
      an ":authority" pseudo-header field using the authority
      information from the control data of the original request, unless
      the original request's target URI does not contain authority
      information (in which case it MUST NOT generate ":authority").

I.e. strictly mandatory. I cannot find what you quoted anymore in RFC 9113.

🤷🏼 

@sbordet In your scenario, the initial request should be rejected by HAProxy as per [RFC9112#3.2](https://www.rfc-editor.org/rfc/rfc9112#name-request-target)

> A client MUST send a Host header field ([Section 7.2](https://www.rfc-editor.org/rfc/rfc9112#section-7.2) of [[HTTP](https://www.rfc-editor.org/rfc/rfc9112#HTTP)]) in all HTTP/1.1 request messages. If the target URI includes an authority component, then a client MUST send a field value for Host that is identical to that authority component, excluding any userinfo subcomponent and its "@" delimiter ([Section 4.2](https://www.rfc-editor.org/rfc/rfc9110#section-4.2) of [[HTTP](https://www.rfc-editor.org/rfc/rfc9112#HTTP)]). If the authority component is missing or undefined for the target URI, then a client MUST send a Host header field with an empty field value.
> A server MUST respond with a 400 (Bad Request) status code to any HTTP/1.1 request message that lacks a Host header field and to any request message that contains more than one Host header field line or a Host header field with an invalid field value.

So we should keep scenarios to legal requests, so let's ignore the `Host: garbage:9090` and assume that the original request correctly had `Host: host:8080`.

Note that the above is a little bit contradicted/diluted by [RFC9112#3.2.2](https://www.rfc-editor.org/rfc/rfc9112#name-absolute-form) which says:
> When a proxy receives a request with an absolute-form of request-target, the proxy MUST ignore the received Host header field (if any) and instead replace it with the host information of the request-target. 

But the effect is the same, either the garbage host is rejected, but if not it is ignored.

More importantly, this description describes how the request should make the request on behalf of the client.    I see nothing like what @wtarreau says: "There's a strong requirement that any valid HTTP/1 request can be transported over HTTP/2 and restored to HTTP/1 as-is further down the chain" that applies to proxy requests?  I don't think a proxy receiving a proxy h1 request should be able to forward that request through h2 to later be reconstructed as another h1 proxy request.   Doesn't it just have to make the request on behalf of the client and thus the information that it was a proxied request is lost (unless captured in a Forwarded header... which is why such headers exist).

Specifically:  [RFC9112#3.2.2](https://www.rfc-editor.org/rfc/rfc9112#name-absolute-form) also says:

> A proxy that forwards such a request MUST generate a new Host field value based on the received request-target rather than forward the received Host field value.

Thus any forward request will have an authority, represented by the new Host field (as per [RFC9110#7.2](https://www.rfc-editor.org/rfc/rfc9110#name-host-and-authority))

So I think we should think of this in two steps:
 1. The proxy receiving a h1 request in absolute form and creating a h1 request to forward on behalf of the client
 2. The proxy translates that h1 request to h2, unaware that is was a proxied request

I think that in such a process, step 2 should use the the Host header as the authority and thus create a h2 message with `:authority`






I'm inclined to close this issue, as it seems apparent that according to the latest RFCs the `:authority:` field must be present.

If it is present, Jetty will behave correctly.