Reevaluate RFC7230 Section 3.2.4 and obs-fold SP octet replacement

See https://tools.ietf.org/html/rfc7230#section-3.2.4

``` none
   Historically, HTTP header field values could be extended over
   multiple lines by preceding each extra line with at least one space
   or horizontal tab (obs-fold).  This specification deprecates such
   line folding except within the message/http media type
   (Section 8.3.1).  A sender MUST NOT generate a message that includes
   line folding (i.e., that has any field-value that contains a match to
   the obs-fold rule) unless the message is intended for packaging
   within the message/http media type.

   A server that receives an obs-fold in a request message that is not
   within a message/http container MUST either reject the message by
   sending a 400 (Bad Request), preferably with a representation
   explaining that obsolete line folding is unacceptable, or replace
   each received obs-fold with one or more SP octets prior to
   interpreting the field value or forwarding the message downstream.
```

Specifically the section ...

``` none
   ... or replace
   each received obs-fold with one or more SP octets prior to
   interpreting the field value ...
```

This would apply to the RFC7230 Compliance Mode in HttpParser.

And would apply for both Requests seen by Server, and Responses seen by HttpClient.

For HttpClient side of issue, see the same RFC7230 section 3.2.4, this paragraph ...

``` none
   A user agent that receives an obs-fold in a response message that is
   not within a message/http container MUST replace each received
   obs-fold with one or more SP octets prior to interpreting the field
   value.
```


@sbordet this might have an impact on Jetty's HttpClient compliance with RFC7230.

No changes to folding super are planned