Coaleasce HttpField with the same name

**Jetty version(s)**
12+

**Description**
`HttpFields` does not handle well multiple fields with the same name.

For example, 

```java
fields.put("Vary", "Accept-Encoding");
fields.add("Vary", "Accept-Encoding,Other");
```

results in 2 fields stored in `HttpFields`, and calling `fields.getValuesList("Vary")` returns a list of 2 items, where the second is the string "Accept-Encoding,Other"; there has been no merging of the values with the other header, and no split through the comma.

Similarly, `fields.getCSV("Vary", false)` returns a list of 3 elements where `Accept-Encoding` is duplicated.

RFC 9110, section 5 is a bit confusing as it refers to fields as a textual representation (which is only valid for HTTP/1.1) and apparently allows multiple "field lines" in section 5.2, only to say in section 5.3: "a sender MUST NOT generate multiple field lines with the same name in a message".

I guess that, for maximum backward compatibility, we can keep the current semantic of allowing multiple fields with the same name, but have the "coalescing methods" such as `getValuesList()` and `getCSV()` to behave as if there is only one "field line".

See also TODO in `HttpFields.Mutable.put()`.

There is already the very complex but powerful `org.eclipse.jetty.http.HttpFields.Mutable#computeField(org.eclipse.jetty.http.HttpHeader, java.util.function.BiFunction<org.eclipse.jetty.http.HttpHeader,java.util.List<org.eclipse.jetty.http.HttpField>,org.eclipse.jetty.http.HttpField>)`

Plus there is the convenience API: `org.eclipse.jetty.http.HttpFields.Mutable#ensureField`.  Using this your example above becomes:

```java
fields.put("Vary", "Accept-Encoding");
fields.ensureField(new HttpField(HttpHeader.VARY, "other"));
```
or 
```java
fields.put("Vary", "Accept-Encoding");
fields.ensureField(new HttpField(HttpHeader.VARY, "Accept-Encoding,other"));
```

Eitherway the result is a single Vary field with "Accept-Encoding,other" as the value.
I guess a version that takes the field and value separately would be more efficient... let me try...



@sbordet I have implemented an `ensureField(HttpHeader header, String value)` but I'm not sure it is that much better.  With the existing version  you can pass in a pre-encoded field that will be used if there is not another value.