Jetty 12.0.22 - AbstractSessionManager - invalid session id regenerate

**Jetty version(s)**
Jetty 12.0.22

**Jetty Environment**
core + ee10

**HTTP version**
1.2

**Java version/vendor**
21

**OS type/version**
MacOS

**Description**
When the session is invalidated (HttpSession.invalidate()) it doesn't clear the cookie. Once the cookie is sent with next request the session id is reused inside the org.eclipse.jetty.session.AbstractSessionManager. AbstractSessionManager once a session ID is sent inside the cookie that points to invalid session should regenerate new session id.

**How to reproduce?**
Check description.




Unfortunately I don't have privileges to provide the fix. However I believe it should look like (org.eclipse.jetty.session.AbstractSessionManager line 1305):

```java
        for (int i = 0; i < ids.size(); i++)
        {
            String id = ids.get(i);
            if (session == null)
            {
                //we currently do not have a session selected, use this one if it is valid
                ManagedSession s = getManagedSession(id);
                if (s != null && !s.isValid())
                {
                    if (LOG.isDebugEnabled())
                        LOG.debug("Invalid session found for session id {}", id);

                    requestedSessionId = null;
                    requestedSessionIdFromCookie = false;
                }
                else if (s != null && s.isValid())
                {
                    //associate it with the request so its reference count is decremented as the
                    //request exits
                    requestedSessionId = id;
                    requestedSessionIdFromCookie = i < cookieIds;
                    session = s;

                    if (LOG.isDebugEnabled())
                        LOG.debug("Selected session {}", session);
                }
                else
                {
                    if (LOG.isDebugEnabled())
                        LOG.debug("No session found for session id {}", id);

                    //if we don't have a valid session id yet, just choose the first one
                    if (requestedSessionId == null)
                    {
                        requestedSessionId = id;
                        requestedSessionIdFromCookie = i < cookieIds;
                    }
                }
            }

``` 
Added additional if condition (that clears the id) if the session is found but it's invalid. 

@nicolasbron when the session is invalidated, as well as being marked invalid in memory, it should be deleted from the `SessionDataStore`, so a subsequent request will not find the requested sessionID and thus not use it.  Can you please post your session-related configuration, and a reproduction test case?

Hi @janbartel,

I'm using:
- org.eclipse.jetty.ee10.servlet-12.0.22
- org.eclipse.jetty.http-12.0.22
- org.eclipse.jetty.io-12.0.22
- org.eclipse.jetty.security-12.0.22
- org.eclipse.jetty.server-12.0.22
- org.eclipse.jetty.session-12.0.22
- org.eclipse.jetty.util-12.0.22
- org.eclipse.jetty.util.ajax-12.0.22
- org.eclipse.jetty.xml-12.0.22

This is an OSGI environment so together with that I'm using:
- org.ops4j.pax.web.pax-web-api-11.0.0
- org.ops4j.pax.web.pax-web-extender-war-11.0.0
- org.ops4j.pax.web.pax-web-jetty-11.0.0
- org.ops4j.pax.web.pax-web-jsp-11.0.0
- org.ops4j.pax.web.pax-web-runtime-11.0.0
- org.ops4j.pax.web.pax-web-spi-11.0.0
- org.ops4j.pax.web.pax-web-tomcat-common-11.0.0

When I authenticate the user I create a session with:
request.getSession();

Once the user logs out the session is invalidated. I did debug the code and it looks as the session is being invalided, but the ManagedSession doesn't remove the entry from sessionCache in the AbstractSessionManager. And I believe this is ok as the session is marked as invalid and should never be reused. I was thinking about removing the session from the sessionCache inside the ManagedSession invalidate operation but with that approach the JSESSIONID is never regenerated - it is reused all the time - as no session with requested id is found in cache meaning that the session must be created. 
And the pax libraries are not modifying the SessionManager in anyway so they shouldn't have impact at all. My evictionPolicy is set to -1 so it shouldn't be the problem as well.

@nicolasbron when `ManagedSession.invalidate()` is called, the status is set to invalid immediately. Then, the `DefaultSessionIdManager` is responsible for calling all of the contexts with `AbstractSessionManager.invalidate()`. It is during this call that the session is finally removed from the cache.

Then, when a request with a session id cookie is received, we remember it as the `requestedId`. Later, if the code does a `Request.getSession()`, then the `DefaultSessionIdManager` checks this `requestedId` to see if it can be used.  To determine that, it calls `isSessionIdInUse()` on all of the session managers. Each session manager calls `SessionCache.exists()` for that id, and the impl of `AbstractSessionCache.exists()` checks to see if the session is valid. So it seems to me that we shouldn't be able to re-use a session id that is invalid.

Can you enable debug level logging for `org.eclipse.jetty.session` and `org.eclipse.jetty.ee10.servlet.SessionHandler` and post the log of one of these re-use events?

Also, please post the config you have for the session setup?

I'm using default configuration. Nothing specific. And when I debug the code from the DefaultSessionIdManager then indeed invalidateAll is called but the this.getSessionManagers() return empty list. 

```java
    public void invalidateAll(String id) {
        for(SessionManager manager : this.getSessionManagers()) {
            try {
                manager.invalidate(id);
            } catch (Exception e) {
                LOG.warn("Problem invalidating session {} across contexts", id, e);
            }
        }

    }
``` 

I'm migrating from jetty 9, and I'm keeping exact same configuration. Do I need to register some specific SessionManager? I thought it should be by default using: org.eclipse.jetty.ee10.servlet.SessionHandler but it doesn't. And:
this._server.getBeans() return:

- QueuedThreadPool
- ScheduledExecutorScheduler
- ArrayByteBufferPool
- FileSystemPool
- DumpableMap
- <Customized>ServerConnector
- <Customized>StatisticsHandler
- ErrorHandler

This is my customized jetty.xml:

``` xml
<Configure id="Server" class="org.eclipse.jetty.server.Server">
    <New id="httpConfig" class="org.eclipse.jetty.server.HttpConfiguration">
        <Set name="requestHeaderSize">
            <SystemProperty name="jetty.requestHeaderSize" default="4096"/>
        </Set>
        <Call name="addCustomizer">
            <Arg>
                <New class="org.eclipse.jetty.server.ForwardedRequestCustomizer"/>
            </Arg>
        </Call>
        <Set name="sendServerVersion">false</Set>
    </New>
    <Call name="addConnector">
        <Arg>
            <New class="com.customized.serverconfig.CustomizedServerConnector">
                <Arg name="server">
                    <Ref refid="Server"/>
                </Arg>
                <Arg name="factories">
                    <Array type="org.eclipse.jetty.server.ConnectionFactory">
                        <Item>
                            <New class="org.eclipse.jetty.server.HttpConnectionFactory">
                                <Arg name="config">
                                    <Ref refid="httpConfig"/>
                                </Arg>
                            </New>
                        </Item>
                    </Array>
                </Arg>
                <Set name="host">
                    <SystemProperty name="jetty.host" default="0.0.0.0"/>
                </Set>
                <Set name="port">
                    <SystemProperty name="jetty.port" default="9870"/>
                </Set>
            </New>
        </Arg>
    </Call>
    <Get id="existingHandler" name="handler"/>
    <Set name="dynamic">true</Set>

    <Set name="handler">
        <New id="StatsHandler" class="com.customized.serverconfig.CustomizedStatisticsHandler">
            <Set name="handler">
                <Ref refid="existingHandler"/>
            </Set>
        </New>
    </Set>

</Configure>
``` 

There's no Session configuration present in that `jetty.xml`
I would have expected to see a SessionIdManager and HouseKeeper at least.

Are you using jetty-home / jetty-base setup?

If so, run this and show us the output ...

```
$ cd /path/to/myjettybase
$ java -jar /path/to/jetty-home/start.jar --list-config
```

Example:

```
$ mkdir demo-12-with-session
$ cd demo-12-with-session

[demo-12-with-session]$ java -jar ~/code/jetty/distros/jetty-home-12.0.27/start.jar --add-modules=http,ee10-deploy,sessions
INFO  : mkdir ${jetty.base}/start.d
...(snip)...
INFO  : Base directory was modified

[demo-12-with-session]$ java -jar ~/code/jetty/distros/jetty-home-12.0.27/start.jar --list-config

Enabled Modules:
----------------
  0) resources                 transitive provider of resources for logging-jetty
  1) logging/slf4j             transitive provider of logging/slf4j for logging-jetty
                               dynamic dependency of logging-jetty
  2) logging-jetty             transitive provider of logging for threadpool
                               transitive provider of logging for bytebufferpool
                               transitive provider of logging for server
  3) bytebufferpool            transitive provider of bytebufferpool for server
                               ini template available with --add-modules=bytebufferpool
  4) threadpool                transitive provider of threadpool for server
                               ini template available with --add-modules=threadpool
  5) server                    transitive provider of server for http
                               transitive provider of server for deploy
                               transitive provider of server for security
                               transitive provider of server for sessions
                               transitive provider of server for ee10-security
                               transitive provider of server for ee10-servlet
                               ini template available with --add-modules=server
  6) deploy                    transitive provider of deploy for ee10-deploy
  7) sessions                  ${jetty.base}/start.d/sessions.ini
  8) ee10-servlet              transitive provider of ee10-servlet for ee10-webapp
  9) security                  transitive provider of security for ee10-security
 10) ee10-security             transitive provider of ee10-security for ee10-webapp
 11) ee-webapp                 transitive provider of ee-webapp for ee10-webapp
                               ini template available with --add-modules=ee-webapp
 12) ee10-webapp               transitive provider of ee10-webapp for ee10-deploy
                               ini template available with --add-modules=ee10-webapp
 13) ee10-deploy               ${jetty.base}/start.d/ee10-deploy.ini
 14) http                      ${jetty.base}/start.d/http.ini

JVM Version & Properties:
-------------------------
 java.home = /home/joakim/java/jvm/jdk-17.0.15+6
 java.vm.vendor = Eclipse Adoptium
 java.vm.version = 17.0.15+6
 java.vm.name = OpenJDK 64-Bit Server VM
 java.vm.info = mixed mode, sharing
 java.runtime.name = OpenJDK Runtime Environment
 java.runtime.version = 17.0.15+6
 java.io.tmpdir = /tmp
 user.dir = /home/joakim/code/jetty/distros/bases/demo-12-with-session
 user.language = en
 user.country = US

Jetty Version & Properties:
---------------------------
 jetty.version = 12.0.27
 jetty.tag.version = jetty-12.0.27
 jetty.build = 3569a3e83ad136ee44e26b370b74c1c5e9f33e61
 jetty.home = /home/joakim/code/jetty/distros/jetty-home-12.0.27
 jetty.base = /home/joakim/code/jetty/distros/bases/demo-12-with-session

Config Search Order:
--------------------
 <command-line>
 ${jetty.base} -> /home/joakim/code/jetty/distros/bases/demo-12-with-session
 ${jetty.home} -> /home/joakim/code/jetty/distros/jetty-home-12.0.27

System Properties:
------------------
 (no system properties specified)

Properties: Jetty
-----------------
 java.version = 17.0.15
 java.version.platform = 17
 jetty.base = /home/joakim/code/jetty/distros/bases/demo-12-with-session
 jetty.base.uri = file:///home/joakim/code/jetty/distros/bases/demo-12-with-session
 jetty.home = /home/joakim/code/jetty/distros/jetty-home-12.0.27
 jetty.home.uri = file:///home/joakim/code/jetty/distros/jetty-home-12.0.27
 jetty.webapp.addHiddenClasses = org.eclipse.jetty.logging.,${jetty.home.uri}/lib/logging/,org.slf4j.
 runtime.feature.alpn = true
 slf4j.version = 2.0.17

Classpath: Jetty
----------------
Version Information on 12 entries in the classpath.
Note: order presented here is how they would appear on the classpath.
      changes to the --module=name command line options will be reflected here.
 0:                    (dir) | ${jetty.base}/resources
 1:                   2.0.17 | ${jetty.home}/lib/logging/slf4j-api-2.0.17.jar | https://opensource.org/license/mit
 2:                  12.0.27 | ${jetty.home}/lib/logging/jetty-slf4j-impl-12.0.27.jar | EPL-2.0 OR Apache-2.0
 3:                  12.0.27 | ${jetty.home}/lib/jetty-http-12.0.27.jar | EPL-2.0 OR Apache-2.0
 4:                  12.0.27 | ${jetty.home}/lib/jetty-server-12.0.27.jar | EPL-2.0 OR Apache-2.0
 5:                  12.0.27 | ${jetty.home}/lib/jetty-xml-12.0.27.jar | EPL-2.0 OR Apache-2.0
 6:                  12.0.27 | ${jetty.home}/lib/jetty-util-12.0.27.jar | EPL-2.0 OR Apache-2.0
 7:                  12.0.27 | ${jetty.home}/lib/jetty-io-12.0.27.jar | EPL-2.0 OR Apache-2.0
 8:                  12.0.27 | ${jetty.home}/lib/jetty-deploy-12.0.27.jar | EPL-2.0 OR Apache-2.0
 9:                  12.0.27 | ${jetty.home}/lib/jetty-session-12.0.27.jar | EPL-2.0 OR Apache-2.0
10:                  12.0.27 | ${jetty.home}/lib/jetty-security-12.0.27.jar | EPL-2.0 OR Apache-2.0
11:                  12.0.27 | ${jetty.home}/lib/jetty-ee-12.0.27.jar | EPL-2.0 OR Apache-2.0

Active XMLs: Jetty
------------------
 ${jetty.home}/etc/jetty-bytebufferpool.xml
 ${jetty.home}/etc/jetty-threadpool.xml
 ${jetty.home}/etc/jetty.xml
 ${jetty.home}/etc/jetty-deploy.xml
 ${jetty.home}/etc/sessions/id-manager.xml
 ${jetty.home}/etc/jetty-ee-webapp.xml
 ${jetty.home}/etc/jetty-http.xml

Properties: ee10
----------------
 contextHandlerClass = org.eclipse.jetty.ee10.webapp.WebAppContext

Classpath: ee10
---------------
Version Information on 3 entries in the classpath.
Note: order presented here is how they would appear on the classpath.
      changes to the --module=name command line options will be reflected here.
 0:                    6.0.0 | ${jetty.home}/lib/jakarta.servlet-api-6.0.0.jar | http://www.eclipse.org/legal/epl-2.0, https://www.gnu.org/software/classpath/license.html
 1:                  12.0.27 | ${jetty.home}/lib/jetty-ee10-servlet-12.0.27.jar | EPL-2.0 OR Apache-2.0
 2:                  12.0.27 | ${jetty.home}/lib/jetty-ee10-webapp-12.0.27.jar | EPL-2.0 OR Apache-2.0

Active XMLs: ee10
-----------------
 ${jetty.home}/etc/jetty-ee10-webapp.xml
 ${jetty.home}/etc/jetty-ee10-deploy.xml

[demo-12-with-session]$ cat ~/code/jetty/distros/jetty-home-12.0.27/etc/sessions/id-manager.xml 
<?xml version="1.0"?>
<!DOCTYPE Configure PUBLIC "-//Jetty//Configure//EN" "https://www.eclipse.org/jetty/configure_10_0.dtd">

<Configure id="Server" class="org.eclipse.jetty.server.Server">
  <!-- ===================================================================== -->
  <!-- Configure a SessionIdManager                                          -->
  <!-- ===================================================================== -->
  <Call name="addBean">
    <Arg>
      <New id="idMgr" class="org.eclipse.jetty.session.DefaultSessionIdManager">
        <Arg>
          <Ref refid="Server"/>
        </Arg>
        <Set name="workerName">
          <Property name="jetty.sessionIdManager.workerName">
            <Default>node<Env name="JETTY_WORKER_INSTANCE">
                           <Default>
                             <Env name="GAE_INSTANCE" deprecated="GAE_MODULE_INSTANCE">
                               <Default>0</Default>
                             </Env>
                           </Default>
                         </Env>
            </Default>
          </Property>
        </Set>

        <!-- ===================================================================== -->
        <!-- Configure a session housekeeper to help with scavenging               -->
        <!-- ===================================================================== -->
        <Set name="sessionHouseKeeper"> 
         <New class="org.eclipse.jetty.session.HouseKeeper">
             <Set name="intervalSec" property="jetty.sessionScavengeInterval.seconds"/>
         </New>
        </Set>
     </New>
   </Arg>
   <Arg type="java.lang.Boolean">true</Arg>
  </Call>
</Configure>
```


And the output of the server dump would show us what your runtime configuration looks like.

```
[demo-12-with-session]$ java -jar ~/code/jetty/distros/jetty-home-12.0.27/start.jar jetty.server.dumpAfterStart=true
2025-10-07 04:33:16.690:INFO :oejs.Server:main: jetty-12.0.27; built: 2025-09-10T23:47:49.595Z; git: 3569a3e83ad136ee44e26b370b74c1c5e9f33e61; jvm 17.0.15+6
2025-10-07 04:33:16.717:INFO :oejdp.ScanningAppProvider:main: Deployment monitor ee10 in [file:///home/joakim/code/jetty/distros/bases/demo-12-with-session/webapps/] at intervals 0s
2025-10-07 04:33:16.721:INFO :oejs.DefaultSessionIdManager:main: Session workerName=node0
2025-10-07 04:33:16.736:INFO :oejs.AbstractConnector:main: Started ServerConnector@69fb6037{HTTP/1.1, (http/1.1)}{0.0.0.0:8080}
2025-10-07 04:33:16.748:INFO :oejs.Server:main: Started oejs.Server@662ac478{STARTING}[12.0.27,sto=0] @914ms
oejs.Server@662ac478{STARTING}[12.0.27,sto=0] - STARTING
+= QueuedThreadPool[qtp842326585]@3234e239{STARTED,10<=13<=200,i=0,r=-1,t=59983ms,q=0}[ReservedThreadExecutor@770d3326{capacity=32,threads=ThreadIdPool@4cc8eb05{capacity=32}}] - STARTED
|  +- org.eclipse.jetty.util.thread.ThreadPoolBudget@51f116b8
|  += ReservedThreadExecutor@770d3326{capacity=32,threads=ThreadIdPool@4cc8eb05{capacity=32}} - STARTED
|  |  +~ QueuedThreadPool[qtp842326585]@3234e239{STARTED,10<=13<=200,i=0,r=-1,t=59983ms,q=0}[ReservedThreadExecutor@770d3326{capacity=32,threads=ThreadIdPool@4cc8eb05{capacity=32}}] - STARTED
|  |  +- ThreadIdPool@4cc8eb05{capacity=32}
|  +> threads size=13
|     +> qtp842326585-41 RUNNABLE tid=41 prio=5 SELECTING
...(snip)...
+= oejs.DefaultSessionIdManager@27ff5d15{STARTED}[worker=node0] - STARTED
|  +? oejs.HouseKeeper@4e096385{STARTED}[interval=600000, ownscheduler=false] - STARTED
+= ServerConnector@69fb6037{HTTP/1.1, (http/1.1)}{0.0.0.0:8080} - STARTED
|  +~ QueuedThreadPool[qtp842326585]@3234e239{STARTED,10<=13<=200,i=0,r=-1,t=59959ms,q=0}[ReservedThreadExecutor@770d3326{capacity=32,threads=ThreadIdPool@4cc8eb05{capacity=32}}] - STARTED
|  +~ oejut.ScheduledExecutorScheduler@6483f5ae{STARTED} - STARTED
|  +~ org.eclipse.jetty.io.ArrayByteBufferPool@4d910fd6{min=0,max=65536,buckets=16,heap=0/4022337536,direct=0/4022337536}
|  += HttpConnectionFactory@498d318c[HTTP/1.1] - STARTED
|  |  +- HttpConfiguration@5f9b2141{32768/8192,8192/8192,https://:0,[]}
|  |     +> customizers size=0
...(snip)...
|  |     +> relativeRedirectAllowed=false
|  |     +> serverAuthority=null
|  |     +> localAddress=null
|  |     +> maxUnconsumedRequestContentReads=16
|  += ServerConnectorManager@247d8ae[keys=0] - STARTED
|  |  += oeji.ManagedSelector@50ad3bc1{STARTED}[id=0 keys=0 selected=0 updates=0 selection:tot=0/avg=0.00/max=0] - STARTED
...(snip)...
|  +- sun.nio.ch.ServerSocketChannelImpl[/[0:0:0:0:0:0:0:0]:8080]
|  +- qtp842326585-42-acceptor-0@65970386-ServerConnector@69fb6037{HTTP/1.1, (http/1.1)}{0.0.0.0:8080}
+- org.eclipse.jetty.server.Server$DynamicErrorHandler@6f46426d
+> startJarLoader@28ba21f3
|  +> URLs size=12
|  |  +> file:/home/joakim/code/jetty/distros/bases/demo-12-with-session/resources/
|  |  +> file:/home/joakim/code/jetty/distros/jetty-home-12.0.27/lib/logging/slf4j-api-2.0.17.jar
...(snip)...
+> attributes size=0
+> org.eclipse.jetty.util.resource.FileSystemPool@a3d8174
   +> buckets size=0
key: +- bean, += managed, +~ unmanaged, +? auto, +: iterable, +] array, +@ map, +> undefined
```

Note: That property, `jetty.server.dumpAfterStart=true` is part of the standard jetty.xml, which you don't seem to have in your example jetty.xml ...

``` xml
 $ cat ~/code/jetty/distros/jetty-home-12.0.27/etc/jetty.xml 
<!DOCTYPE Configure PUBLIC "-//Jetty//Configure//EN" "https://jetty.org/configure_10_0.dtd">
<Configure id="Server" class="org.eclipse.jetty.server.Server">
...(snip)...
    <Set name="dumpAfterStart" property="jetty.server.dumpAfterStart"/>
...(snip)...
</Configure>

```

I'm not running it as a standalone application, it is running inside an OSGI framework. But I did perform a dump:
```
oejs.Server@49415266{STARTED}[12.0.22,sto=0] - STARTED
+~ QueuedThreadPool[qtp98436629]@5de0615{STARTED,0<=22<=200,i=7,r=-1,t=-43630ms,q=0}[ReservedThreadExecutor@5b3dd3c8{capacity=16,threads=ThreadIdPool@9faa1c0{capacity=16}}] - STARTED
+= oejut.ScheduledExecutorScheduler@42ff2fa7{STARTED} - STARTED
|  +> java.base/jdk.internal.misc.Unsafe.park(Native Method)
|  +> java.base/java.util.concurrent.locks.LockSupport.parkNanos(LockSupport.java:269)
|  +> java.base/java.util.concurrent.locks.AbstractQueuedSynchronizer$ConditionObject.awaitNanos(AbstractQueuedSynchronizer.java:1758)
|  +> java.base/java.util.concurrent.ScheduledThreadPoolExecutor$DelayedWorkQueue.take(ScheduledThreadPoolExecutor.java:1182)
|  +> java.base/java.util.concurrent.ScheduledThreadPoolExecutor$DelayedWorkQueue.take(ScheduledThreadPoolExecutor.java:899)
|  +> java.base/java.util.concurrent.ThreadPoolExecutor.getTask(ThreadPoolExecutor.java:1070)
|  +> java.base/java.util.concurrent.ThreadPoolExecutor.runWorker(ThreadPoolExecutor.java:1130)
|  +> java.base/java.util.concurrent.ThreadPoolExecutor$Worker.run(ThreadPoolExecutor.java:642)
|  +> java.base/java.lang.Thread.run(Thread.java:1583)
+- org.eclipse.jetty.io.ArrayByteBufferPool@4536523d{min=0,max=65536,buckets=16,heap=0/536870912,direct=262144/536870912}
|  +> direct size=16
|  |  +> org.eclipse.jetty.io.ArrayByteBufferPool$RetainedBucket@139e2d8d[capacity=4096,in-use=0/0,pooled/acquires/releases=0/0/0(NaN%),non-pooled/evicts/removes=0/0/0]
|  |  +> org.eclipse.jetty.io.ArrayByteBufferPool$RetainedBucket@587195d6[capacity=8192,in-use=0/12,pooled/acquires/releases=0/0/0(NaN%),non-pooled/evicts/removes=0/0/0]
|  |  +> org.eclipse.jetty.io.ArrayByteBufferPool$RetainedBucket@2c31ded4[capacity=12288,in-use=0/0,pooled/acquires/releases=0/0/0(NaN%),non-pooled/evicts/removes=0/0/0]
|  |  +> org.eclipse.jetty.io.ArrayByteBufferPool$RetainedBucket@3fe071e2[capacity=16384,in-use=0/0,pooled/acquires/releases=0/0/0(NaN%),non-pooled/evicts/removes=0/0/0]
|  |  +> org.eclipse.jetty.io.ArrayByteBufferPool$RetainedBucket@4bcab1d7[capacity=20480,in-use=0/0,pooled/acquires/releases=0/0/0(NaN%),non-pooled/evicts/removes=0/0/0]
|  |  +> org.eclipse.jetty.io.ArrayByteBufferPool$RetainedBucket@1f41525d[capacity=24576,in-use=0/0,pooled/acquires/releases=0/0/0(NaN%),non-pooled/evicts/removes=0/0/0]
|  |  +> org.eclipse.jetty.io.ArrayByteBufferPool$RetainedBucket@3da4f81f[capacity=28672,in-use=0/0,pooled/acquires/releases=0/0/0(NaN%),non-pooled/evicts/removes=0/0/0]
|  |  +> org.eclipse.jetty.io.ArrayByteBufferPool$RetainedBucket@177e128[capacity=32768,in-use=0/5,pooled/acquires/releases=0/0/0(NaN%),non-pooled/evicts/removes=0/0/0]
|  |  +> org.eclipse.jetty.io.ArrayByteBufferPool$RetainedBucket@1fadacd8[capacity=36864,in-use=0/0,pooled/acquires/releases=0/0/0(NaN%),non-pooled/evicts/removes=0/0/0]
|  |  +> org.eclipse.jetty.io.ArrayByteBufferPool$RetainedBucket@aebd6ca[capacity=40960,in-use=0/0,pooled/acquires/releases=0/0/0(NaN%),non-pooled/evicts/removes=0/0/0]
|  |  +> org.eclipse.jetty.io.ArrayByteBufferPool$RetainedBucket@1015b388[capacity=45056,in-use=0/0,pooled/acquires/releases=0/0/0(NaN%),non-pooled/evicts/removes=0/0/0]
|  |  +> org.eclipse.jetty.io.ArrayByteBufferPool$RetainedBucket@2ed57e03[capacity=49152,in-use=0/0,pooled/acquires/releases=0/0/0(NaN%),non-pooled/evicts/removes=0/0/0]
|  |  +> org.eclipse.jetty.io.ArrayByteBufferPool$RetainedBucket@5cecdc6d[capacity=53248,in-use=0/0,pooled/acquires/releases=0/0/0(NaN%),non-pooled/evicts/removes=0/0/0]
|  |  +> org.eclipse.jetty.io.ArrayByteBufferPool$RetainedBucket@8e51cbc[capacity=57344,in-use=0/0,pooled/acquires/releases=0/0/0(NaN%),non-pooled/evicts/removes=0/0/0]
|  |  +> org.eclipse.jetty.io.ArrayByteBufferPool$RetainedBucket@355177db[capacity=61440,in-use=0/0,pooled/acquires/releases=0/0/0(NaN%),non-pooled/evicts/removes=0/0/0]
|  |  +> org.eclipse.jetty.io.ArrayByteBufferPool$RetainedBucket@30f12214[capacity=65536,in-use=0/0,pooled/acquires/releases=0/0/0(NaN%),non-pooled/evicts/removes=0/0/0]
|  +> direct non-pooled acquisitions size=0
|  +> indirect size=16
|  |  +> org.eclipse.jetty.io.ArrayByteBufferPool$RetainedBucket@a022684[capacity=4096,in-use=0/0,pooled/acquires/releases=0/0/0(NaN%),non-pooled/evicts/removes=0/0/0]
|  |  +> org.eclipse.jetty.io.ArrayByteBufferPool$RetainedBucket@37350298[capacity=8192,in-use=0/0,pooled/acquires/releases=0/0/0(NaN%),non-pooled/evicts/removes=0/0/0]
|  |  +> org.eclipse.jetty.io.ArrayByteBufferPool$RetainedBucket@702880d3[capacity=12288,in-use=0/0,pooled/acquires/releases=0/0/0(NaN%),non-pooled/evicts/removes=0/0/0]
|  |  +> org.eclipse.jetty.io.ArrayByteBufferPool$RetainedBucket@3c692d62[capacity=16384,in-use=0/0,pooled/acquires/releases=0/0/0(NaN%),non-pooled/evicts/removes=0/0/0]
|  |  +> org.eclipse.jetty.io.ArrayByteBufferPool$RetainedBucket@27440a6d[capacity=20480,in-use=0/0,pooled/acquires/releases=0/0/0(NaN%),non-pooled/evicts/removes=0/0/0]
|  |  +> org.eclipse.jetty.io.ArrayByteBufferPool$RetainedBucket@387afddf[capacity=24576,in-use=0/0,pooled/acquires/releases=0/0/0(NaN%),non-pooled/evicts/removes=0/0/0]
|  |  +> org.eclipse.jetty.io.ArrayByteBufferPool$RetainedBucket@c60dc1b[capacity=28672,in-use=0/0,pooled/acquires/releases=0/0/0(NaN%),non-pooled/evicts/removes=0/0/0]
|  |  +> org.eclipse.jetty.io.ArrayByteBufferPool$RetainedBucket@7997f2c8[capacity=32768,in-use=0/0,pooled/acquires/releases=0/0/0(NaN%),non-pooled/evicts/removes=0/0/0]
|  |  +> org.eclipse.jetty.io.ArrayByteBufferPool$RetainedBucket@7e0788f5[capacity=36864,in-use=0/0,pooled/acquires/releases=0/0/0(NaN%),non-pooled/evicts/removes=0/0/0]
|  |  +> org.eclipse.jetty.io.ArrayByteBufferPool$RetainedBucket@11fc06ef[capacity=40960,in-use=0/0,pooled/acquires/releases=0/0/0(NaN%),non-pooled/evicts/removes=0/0/0]
|  |  +> org.eclipse.jetty.io.ArrayByteBufferPool$RetainedBucket@1bf690cf[capacity=45056,in-use=0/0,pooled/acquires/releases=0/0/0(NaN%),non-pooled/evicts/removes=0/0/0]
|  |  +> org.eclipse.jetty.io.ArrayByteBufferPool$RetainedBucket@5d3120cb[capacity=49152,in-use=0/0,pooled/acquires/releases=0/0/0(NaN%),non-pooled/evicts/removes=0/0/0]
|  |  +> org.eclipse.jetty.io.ArrayByteBufferPool$RetainedBucket@1fb35bb8[capacity=53248,in-use=0/0,pooled/acquires/releases=0/0/0(NaN%),non-pooled/evicts/removes=0/0/0]
|  |  +> org.eclipse.jetty.io.ArrayByteBufferPool$RetainedBucket@6e09eddf[capacity=57344,in-use=0/0,pooled/acquires/releases=0/0/0(NaN%),non-pooled/evicts/removes=0/0/0]
|  |  +> org.eclipse.jetty.io.ArrayByteBufferPool$RetainedBucket@41d67839[capacity=61440,in-use=0/0,pooled/acquires/releases=0/0/0(NaN%),non-pooled/evicts/removes=0/0/0]
|  |  +> org.eclipse.jetty.io.ArrayByteBufferPool$RetainedBucket@15b52fb0[capacity=65536,in-use=0/0,pooled/acquires/releases=0/0/0(NaN%),non-pooled/evicts/removes=0/0/0]
|  +> heap non-pooled acquisitions size=0
+~ org.eclipse.jetty.util.resource.FileSystemPool@105ec825
+- System Properties size=75
|  +> apple.awt.application.name: Bootstrap
|  +> configfile: config.properties
|  +> datanucleus.loggingType: java.util.logging.Logger
|  +> debugger.agent.enable.coroutines: true
|  +> felix.extensions.disable: true
|  +> file.encoding: UTF-8
|  +> file.separator: /
|  +> gwt.codeserver.port: 9876
|  +> intellij.debug.agent: true
|  +> java.awt.headless: true
|  +> java.class.path: org.apache.felix.framework-7.0.5.jar:org.osgi.service.obr-1.0.2.jar
|  +> java.class.version: 65.0
|  +> java.home: /Library/Java/JavaVirtualMachines/temurin-21.jdk/Contents/Home
|  +> java.io.tmpdir: /var/folders/5m/c9dzhskx57n7p3qzsz82p1s80000gp/T/
|  +> java.library.path: /Users/mibr/Library/Java/Extensions:/Library/Java/Extensions:/Network/Library/Java/Extensions:/System/Library/Java/Extensions:/usr/lib/java:.
|  +> java.locale.providers: COMPAT,SPI
|  +> java.runtime.name: OpenJDK Runtime Environment
|  +> java.runtime.version: 21.0.4+7-LTS
|  +> java.specification.name: Java Platform API Specification
|  +> java.specification.vendor: Oracle Corporation
|  +> java.specification.version: 21
|  +> java.vendor: Eclipse Adoptium
|  +> java.vendor.url: https://adoptium.net/
|  +> java.vendor.url.bug: https://github.com/adoptium/adoptium-support/issues
|  +> java.vendor.version: Temurin-21.0.4+7
|  +> java.version: 21.0.4
|  +> java.version.date: 2024-07-16
|  +> java.vm.compressedOopsMode: Zero based
|  +> java.vm.info: mixed mode
|  +> java.vm.name: OpenJDK 64-Bit Server VM
|  +> java.vm.specification.name: Java Virtual Machine Specification
|  +> java.vm.specification.vendor: Oracle Corporation
|  +> java.vm.specification.version: 21
|  +> java.vm.vendor: Eclipse Adoptium
|  +> java.vm.version: 21.0.4+7-LTS
|  +> javax.xml.soap.MessageFactory: com.sun.xml.messaging.saaj.soap.ver1_1.SOAPMessageFactory1_1Impl
|  +> jboss.modules.system.pkgs: com.intellij.rt
|  +> jdk.debug: release
|  +> jetty.git.hash: 335c9ab44a5591f0ea941bf350e139b8c4f5537c
|  +> jetty.port: 9870
|  +> jetty.requestHeaderSize: 4096
|  +> kotlinx.coroutines.debug.enable.creation.stack.trace: false
|  +> kotlinx.coroutines.debug.enable.flows.stack.trace: true
|  +> kotlinx.coroutines.debug.enable.mutable.state.flows.stack.trace: true
|  +> line.separator: |
|  +> native.encoding: UTF-8
|  +> org.apache.commons.logging.Log: org.apache.commons.logging.impl.Jdk14Logger
|  +> org.eclipse.jetty.server.Request.maxFormContentSize: 10000000
|  +> os.arch: aarch64
|  +> os.name: Mac OS X
|  +> os.version: 14.7.7
|  +> overloadconfigfile: ../overloadconfig.properties
|  +> path.separator: :
|  +> pipelines.default: /Users/mibr/workdir/svn/jettyUpgrade/idea/pimpipelines.xml
|  +> stderr.encoding: UTF-8
|  +> stdout.encoding: UTF-8
|  +> osgi.server: true
|  +> stripversions: auto
|  +> sun.arch.data.model: 64
|  +> sun.boot.library.path: /Library/Java/JavaVirtualMachines/temurin-21.jdk/Contents/Home/lib
|  +> sun.cpu.endian: little
|  +> sun.io.unicode.encoding: UnicodeBig
|  +> sun.java.command: serverbootstrap.Bootstrap
|  +> sun.java.launcher: SUN_STANDARD
|  +> sun.jnu.encoding: UTF-8
|  +> sun.management.compiler: HotSpot 64-Bit Tiered Compilers
|  +> sun.stderr.encoding: UTF-8
|  +> sun.stdout.encoding: UTF-8
|  +> user.country: US
|  +> user.dir: /Users/mibr/workdir/svn/jettyUpgradeClen/idea
|  +> user.home: /Users/mibr
|  +> user.language: en
|  +> user.name: mibr
|  +> user.timezone: Europe/Warsaw
+= CustomizedServerConnector@1d3b442e{HTTP/1.1, (http/1.1)}{0.0.0.0:9870} - STARTED
|  +~ QueuedThreadPool[qtp98436629]@5de0615{STARTED,0<=22<=200,i=7,r=-1,t=-43632ms,q=0}[ReservedThreadExecutor@5b3dd3c8{capacity=16,threads=ThreadIdPool@9faa1c0{capacity=16}}] - STARTED
|  +~ oejut.ScheduledExecutorScheduler@42ff2fa7{STARTED} - STARTED
|  +~ org.eclipse.jetty.io.ArrayByteBufferPool@4536523d{min=0,max=65536,buckets=16,heap=0/536870912,direct=262144/536870912}
|  += HttpConnectionFactory@53b12f04[HTTP/1.1] - STARTED
|  |  +- HttpConfiguration@7f89763e{32768/8192,4096/8192,https://:0,[ForwardedRequestCustomizer@1970860a]}
|  |     +> customizers size=1
|  |     |  +> ForwardedRequestCustomizer@1970860a
|  |     +> formEncodedMethods size=2
|  |     |  +> POST
|  |     |  +> PUT
|  |     +> outputBufferSize=32768
|  |     +> outputAggregationSize=8192
|  |     +> requestHeaderSize=4096
|  |     +> responseHeaderSize=8192
|  |     +> maxResponseHeaderSize=-1
|  |     +> headerCacheSize=1024
|  |     +> headerCacheCaseSensitive=false
|  |     +> secureScheme=https
|  |     +> securePort=0
|  |     +> idleTimeout=-1
|  |     +> sendDateHeader=true
|  |     +> sendServerVersion=false
|  |     +> sendXPoweredBy=false
|  |     +> delayDispatchUntilContent=true
|  |     +> persistentConnectionsEnabled=true
|  |     +> maxErrorDispatches=10
|  |     +> useInputDirectByteBuffers=true
|  |     +> useOutputDirectByteBuffers=true
|  |     +> minRequestDataRate=0
|  |     +> minResponseDataRate=0
|  |     +> httpCompliance=RFC7230[]
|  |     +> uriCompliance=DEFAULT[]
|  |     +> redirectUriCompliance=null
|  |     +> requestCookieCompliance=RFC6265@437d194e[INVALID_COOKIES, OPTIONAL_WHITE_SPACE, SPACE_IN_VALUES]
|  |     +> responseCookieCompliance=RFC6265@437d194e[INVALID_COOKIES, OPTIONAL_WHITE_SPACE, SPACE_IN_VALUES]
|  |     +> multiPartCompliance=RFC7578
|  |     +> notifyRemoteAsyncErrors=true
|  |     +> relativeRedirectAllowed=true
|  |     +> serverAuthority=null
|  |     +> localAddress=null
|  |     +> maxUnconsumedRequestContentReads=16
|  += ServerConnectorManager@4a6ec2e2[keys=1] - STARTED
|  |  += oeji.ManagedSelector@5c6ce999{STARTED}[id=0 keys=0 selected=0 updates=0 selection:tot=10/avg=1.00/max=1] - STARTED
|  |  |  += AdaptiveExecutionStrategy@d02ef19/SelectorProducer@5333262f/REPRODUCING/p=0/QueuedThreadPool[qtp98436629]@5de0615{STARTED,0<=22<=200,i=7,r=-1,t=-44637ms,q=0}[ReservedThreadExecutor@5b3dd3c8{capacity=16,threads=ThreadIdPool@9faa1c0{capacity=16}}][pc=0,pic=0,pec=0,epc=10]@2025-10-07T11:43:41.612596+02:00 - STARTED
|  |  |  |  +- SelectorProducer@5333262f
|  |  |  |  +~ QueuedThreadPool[qtp98436629]@5de0615{STARTED,0<=22<=200,i=7,r=-1,t=-44637ms,q=0}[ReservedThreadExecutor@5b3dd3c8{capacity=16,threads=ThreadIdPool@9faa1c0{capacity=16}}] - STARTED
|  |  |  +> updates @ 2025-10-07T11:43:40.608504+02:00 size=0
|  |  |  +> keys @ 2025-10-07T11:43:41.609275+02:00 size=0
|  |  += oeji.ManagedSelector@68282df1{STARTED}[id=1 keys=1 selected=0 updates=0 selection:tot=12/avg=1.00/max=1] - STARTED
|  |  |  += AdaptiveExecutionStrategy@12daaa97/SelectorProducer@8baf5f2/PRODUCING/p=0/QueuedThreadPool[qtp98436629]@5de0615{STARTED,0<=22<=200,i=7,r=-1,t=-44637ms,q=0}[ReservedThreadExecutor@5b3dd3c8{capacity=16,threads=ThreadIdPool@9faa1c0{capacity=16}}][pc=0,pic=0,pec=4,epc=8]@2025-10-07T11:43:41.612997+02:00 - STARTED
|  |  |  |  +- SelectorProducer@8baf5f2
|  |  |  |  +~ QueuedThreadPool[qtp98436629]@5de0615{STARTED,0<=22<=200,i=7,r=-1,t=-44637ms,q=0}[ReservedThreadExecutor@5b3dd3c8{capacity=16,threads=ThreadIdPool@9faa1c0{capacity=16}}] - STARTED
|  |  |  +> updates @ 2025-10-07T11:43:41.612649+02:00 size=0
|  |  |  +> keys @ 2025-10-07T11:43:41.612886+02:00 size=1
|  |  |     +> SelectionKey@735bc2c1{i=0}->SocketChannelEndPoint@1b715727[{l=/[0:0:0:0:0:0:0:1]:9870,r=/[0:0:0:0:0:0:0:1]:62909,OPEN,fill=-,flush=-,to=0/30000}{io=0/0,kio=0,kro=1}]->[HttpConnection@19c6aa69[p=HttpParser{s=END,0 of -1},g=HttpGenerator@5edab8c7{s=START}]=>HttpChannelState@761bd801{handling=Thread[#153,qtp98436629-153,5,main], handled=false, send=SENDING, completed=false, request=GET@4f8a0f76 http://localhost:9870/ HTTP/1.1}]
|  |  += oeji.ManagedSelector@4272a894{STARTED}[id=2 keys=0 selected=0 updates=0 selection:tot=9/avg=1.00/max=1] - STARTED
|  |  |  += AdaptiveExecutionStrategy@6b1c528e/SelectorProducer@2c55d368/PRODUCING/p=0/QueuedThreadPool[qtp98436629]@5de0615{STARTED,0<=22<=200,i=7,r=-1,t=-44637ms,q=0}[ReservedThreadExecutor@5b3dd3c8{capacity=16,threads=ThreadIdPool@9faa1c0{capacity=16}}][pc=0,pic=0,pec=2,epc=7]@2025-10-07T11:43:41.61312+02:00 - STARTED
|  |  |  |  +- SelectorProducer@2c55d368
|  |  |  |  +~ QueuedThreadPool[qtp98436629]@5de0615{STARTED,0<=22<=200,i=7,r=-1,t=-44637ms,q=0}[ReservedThreadExecutor@5b3dd3c8{capacity=16,threads=ThreadIdPool@9faa1c0{capacity=16}}] - STARTED
|  |  |  +> updates @ 2025-10-07T11:43:41.61303+02:00 size=0
|  |  |  +> keys @ 2025-10-07T11:43:41.613074+02:00 size=0
|  |  += oeji.ManagedSelector@739fa675{STARTED}[id=3 keys=0 selected=0 updates=0 selection:tot=9/avg=1.00/max=1] - STARTED
|  |  |  += AdaptiveExecutionStrategy@24fe869a/SelectorProducer@2d7f38a9/REPRODUCING/p=0/QueuedThreadPool[qtp98436629]@5de0615{STARTED,0<=22<=200,i=7,r=-1,t=-44638ms,q=0}[ReservedThreadExecutor@5b3dd3c8{capacity=16,threads=ThreadIdPool@9faa1c0{capacity=16}}][pc=0,pic=0,pec=3,epc=6]@2025-10-07T11:43:41.613266+02:00 - STARTED
|  |  |  |  +- SelectorProducer@2d7f38a9
|  |  |  |  +~ QueuedThreadPool[qtp98436629]@5de0615{STARTED,0<=22<=200,i=7,r=-1,t=-44638ms,q=0}[ReservedThreadExecutor@5b3dd3c8{capacity=16,threads=ThreadIdPool@9faa1c0{capacity=16}}] - STARTED
|  |  |  +> updates @ 2025-10-07T11:43:41.613142+02:00 size=0
|  |  |  +> keys @ 2025-10-07T11:43:41.613182+02:00 size=0
|  |  += oeji.ManagedSelector@2f3370fd{STARTED}[id=4 keys=0 selected=0 updates=0 selection:tot=11/avg=1.00/max=1] - STARTED
|  |  |  += AdaptiveExecutionStrategy@2191d760/SelectorProducer@710b4f9e/REPRODUCING/p=0/QueuedThreadPool[qtp98436629]@5de0615{STARTED,0<=22<=200,i=7,r=-1,t=-44638ms,q=0}[ReservedThreadExecutor@5b3dd3c8{capacity=16,threads=ThreadIdPool@9faa1c0{capacity=16}}][pc=0,pic=0,pec=3,epc=8]@2025-10-07T11:43:41.613443+02:00 - STARTED
|  |  |  |  +- SelectorProducer@710b4f9e
|  |  |  |  +~ QueuedThreadPool[qtp98436629]@5de0615{STARTED,0<=22<=200,i=7,r=-1,t=-44638ms,q=0}[ReservedThreadExecutor@5b3dd3c8{capacity=16,threads=ThreadIdPool@9faa1c0{capacity=16}}] - STARTED
|  |  |  +> updates @ 2025-10-07T11:43:41.613298+02:00 size=0
|  |  |  +> keys @ 2025-10-07T11:43:41.613345+02:00 size=0
|  |  += oeji.ManagedSelector@25e58b66{STARTED}[id=5 keys=0 selected=0 updates=0 selection:tot=10/avg=1.00/max=1] - STARTED
|  |  |  += AdaptiveExecutionStrategy@11e5a3bf/SelectorProducer@3e604c34/REPRODUCING/p=0/QueuedThreadPool[qtp98436629]@5de0615{STARTED,0<=22<=200,i=7,r=-1,t=-44638ms,q=0}[ReservedThreadExecutor@5b3dd3c8{capacity=16,threads=ThreadIdPool@9faa1c0{capacity=16}}][pc=0,pic=0,pec=1,epc=9]@2025-10-07T11:43:41.613637+02:00 - STARTED
|  |  |  |  +- SelectorProducer@3e604c34
|  |  |  |  +~ QueuedThreadPool[qtp98436629]@5de0615{STARTED,0<=22<=200,i=7,r=-1,t=-44638ms,q=0}[ReservedThreadExecutor@5b3dd3c8{capacity=16,threads=ThreadIdPool@9faa1c0{capacity=16}}] - STARTED
|  |  |  +> updates @ 2025-10-07T11:43:41.613475+02:00 size=0
|  |  |  +> keys @ 2025-10-07T11:43:41.613515+02:00 size=0
|  |  += oeji.ManagedSelector@153c83d9{STARTED}[id=6 keys=0 selected=0 updates=0 selection:tot=10/avg=1.00/max=1] - STARTED
|  |  |  += AdaptiveExecutionStrategy@1c8b84a3/SelectorProducer@20cf24d6/REPRODUCING/p=0/QueuedThreadPool[qtp98436629]@5de0615{STARTED,0<=22<=200,i=7,r=-1,t=-44638ms,q=0}[ReservedThreadExecutor@5b3dd3c8{capacity=16,threads=ThreadIdPool@9faa1c0{capacity=16}}][pc=0,pic=0,pec=2,epc=8]@2025-10-07T11:43:41.613819+02:00 - STARTED
|  |  |  |  +- SelectorProducer@20cf24d6
|  |  |  |  +~ QueuedThreadPool[qtp98436629]@5de0615{STARTED,0<=22<=200,i=7,r=-1,t=-44638ms,q=0}[ReservedThreadExecutor@5b3dd3c8{capacity=16,threads=ThreadIdPool@9faa1c0{capacity=16}}] - STARTED
|  |  |  +> updates @ 2025-10-07T11:43:41.613691+02:00 size=0
|  |  |  +> keys @ 2025-10-07T11:43:41.613759+02:00 size=0
|  |  += oeji.ManagedSelector@1cf2dd17{STARTED}[id=7 keys=0 selected=0 updates=0 selection:tot=13/avg=1.00/max=1] - STARTED
|  |     += AdaptiveExecutionStrategy@6d21a71b/SelectorProducer@2dcf9880/REPRODUCING/p=0/QueuedThreadPool[qtp98436629]@5de0615{STARTED,0<=22<=200,i=7,r=-1,t=-44638ms,q=0}[ReservedThreadExecutor@5b3dd3c8{capacity=16,threads=ThreadIdPool@9faa1c0{capacity=16}}][pc=0,pic=0,pec=0,epc=13]@2025-10-07T11:43:41.614022+02:00 - STARTED
|  |     |  +- SelectorProducer@2dcf9880
|  |     |  +~ QueuedThreadPool[qtp98436629]@5de0615{STARTED,0<=22<=200,i=7,r=-1,t=-44638ms,q=0}[ReservedThreadExecutor@5b3dd3c8{capacity=16,threads=ThreadIdPool@9faa1c0{capacity=16}}] - STARTED
|  |     +> updates @ 2025-10-07T11:43:41.613844+02:00 size=0
|  |     +> keys @ 2025-10-07T11:43:41.613905+02:00 size=0
|  +- sun.nio.ch.ServerSocketChannelImpl[/[0:0:0:0:0:0:0:0]:9870]
|  +- qtp98436629-121-acceptor-0@7772949d-CustomizedServerConnector@1d3b442e{HTTP/1.1, (http/1.1)}{0.0.0.0:9870}
+= css.CustomizedStatisticsHandler@2da5cf1b{STARTED} - STARTED
|  += oopwsji.PrioritizedHandlerCollection@74ffe07b{STARTED} - STARTED
|     +~ oopwsji.PaxWebServletContextHandler@53f41db8{/workbenchlauncher,/workbenchlauncher,b=null,a=AVAILABLE,h=oopwsji.PaxWebSessionHandler@5b5ea037{STARTED}} - STARTED
+- org.eclipse.jetty.server.handler.ErrorHandler@368572ff
+> org.eclipse.jetty.server [73]
|  +> packages size=3
|     +> package org.eclipse.jetty.server
|     +> package org.eclipse.jetty.server.handler
|     +> package org.eclipse.jetty.server.internal
+> environments size=2
|  +> oejuc.Environment$Named@0{core}
|  |  +> org.eclipse.jetty.util [39]
|  |  |  +> packages size=9
|  |  |     +> package org.eclipse.jetty.util.thread
|  |  |     +> package org.eclipse.jetty.util.statistic
|  |  |     +> package org.eclipse.jetty.util.security
|  |  |     +> package org.eclipse.jetty.util.component
|  |  |     +> package org.eclipse.jetty.util
|  |  |     +> package org.eclipse.jetty.util.thread.strategy
|  |  |     +> package org.eclipse.jetty.util.resource
|  |  |     +> package org.eclipse.jetty.util.annotation
|  |  |     +> package org.eclipse.jetty.util.ssl
|  |  +> Attributes core size=0
|  +> oejuc.Environment$Named@0{ee10}
|     +> org.eclipse.jetty.util [39]
|     |  +> packages size=9
|     |     +> package org.eclipse.jetty.util.thread
|     |     +> package org.eclipse.jetty.util.statistic
|     |     +> package org.eclipse.jetty.util.security
|     |     +> package org.eclipse.jetty.util.component
|     |     +> package org.eclipse.jetty.util
|     |     +> package org.eclipse.jetty.util.thread.strategy
|     |     +> package org.eclipse.jetty.util.resource
|     |     +> package org.eclipse.jetty.util.annotation
|     |     +> package org.eclipse.jetty.util.ssl
|     +> Attributes ee10 size=0
+> attributes size=0
+> org.eclipse.jetty.util.resource.FileSystemPool@105ec825
   +> buckets size=0
key: +- bean, += managed, +~ unmanaged, +? auto, +: iterable, +] array, +@ map, +> undefined
JVM: Eclipse Adoptium OpenJDK 64-Bit Server VM 21.0.4+7-LTS; OS: Mac OS X aarch64 14.7.7; Jetty: 12.0.22; CPUs: 16; mem(free/total/max): 284/1,270/4,096 MiB
UTC: 2025-10-07T09:43:41.616155Z; Europe/Warsaw: 2025-10-07T11:43:41.616155+02
``` 

I tested it by adding DefaultSessionIdManager to the jetty.xml. It doesn't resolve anything. And it's due to the fact that the method:
server.getBeans(SessionManager.class) still returns empty list. To get this resolved each SessionManager needs to be registered in the Server. And the org.eclipse.jetty.ee10.servlet.ServletContextHandler does not do that. It simply creates new SessionHandler for each context.

@nicolasbron you don't appear to have a jetty `ServletContextHandler` or `WebAppContext`. Instead you have a `PaxWebServletContextHandler` - can you look to see what the impl of that class is? It should be extending `org.eclipse.jetty.ee10.servlet.ServletContextHandler`. What methods are overridden, and do they call `super()`?

The dump should show the deep handler structure of the context - there should be a `SessionHandler` as a child handler, but I don't see it? The default setup of creating a `DefaultSessionIdManager` is done in `AbstractSessionManager.doStart()` (of which the `ee10` `SessionHandler` is a subclass) so you shouldn't need to be doing it explicitly. Also, the `DefaultSessionIdManager` finds all the `SessionHandler`s by asking the `Server` for all child beans that implement `SessionManager` interface - so if you have an `ee10` `SessionHandler`, it is-a `SessionManager` so will be found. The fact that I don't see a `SessionHandler` on the dump and the `Server` doesn't have any child `SessionManagers` is highly suspicious.

@janbartel the code for `PaxWebServletContextHandler` can be found on the ops4j source repositories.

* https://github.com/ops4j/org.ops4j.pax.web/blob/pax-web-11.0.x/pax-web-jetty/src/main/java/org/ops4j/pax/web/service/jetty/internal/PaxWebServletContextHandler.java

@nicolasbron here's definitely part of the problem:
https://github.com/ops4j/org.ops4j.pax.web/blob/pax-web-11.0.x/pax-web-jetty/src/main/java/org/ops4j/pax/web/service/jetty/internal/PaxWebServletContextHandler.java#L357

This is fiddling around with the session id and bypassing the jetty handling. I suggest you open an issue on PaxWeb and point out that at the very least, they need to do an `isValid()` check on the session that they get back at line 357. 

It seems that PaxWeb has subclassed most jetty classes, I can see `PaxWebSessionHandler` and `PaxWebSessionIdManager` and they are overriding a lot of behaviour, so I stress that you should open an issue with them and show them your use-case.

Closing as the problem is in PaxWeb for which the OP has raised an issue on their tracker.