Spaces missing on Cookies generated via RFC6265

I have following issue: if I add a cookie with a Path to a HttpServletResponse using addCookie method, than the client receives following Set-Cookie value:
c=d;Path=/esp/
 which does not conform to RFC 6265, as the space character is missing.
Correct would be: "c=d; Path=/esp/"

After some debugging I found the error in the org.eclipse.jetty.server.Response.newRFC6265SetCookie method: for instance at line 380 of version 9.4.18.v20190429:
`buf.append(";Path=").append(path);`

The method has the same problem for the other cookie attributes.

In RFC 6265 stands following:

`set-cookie-header = "Set-Cookie:" SP set-cookie-string`
`set-cookie-string = cookie-pair *( ";" SP cookie-av )`

SP stands for the space character.

So the correct code would be (note the space character after the semi-colon):
`buf.append("; Path=").append(path);`

The OP is correct, the space is non-optional.

See: https://tools.ietf.org/html/rfc6265#section-4.1.1

```
4.1.1.  Syntax

   Informally, the Set-Cookie response header contains the header name
   "Set-Cookie" followed by a ":" and a cookie.  Each cookie begins with
   a name-value-pair, followed by zero or more attribute-value pairs.
   Servers SHOULD NOT send Set-Cookie headers that fail to conform to
   the following grammar:

 set-cookie-header = "Set-Cookie:" SP set-cookie-string
 set-cookie-string = cookie-pair *( ";" SP cookie-av )
 cookie-pair       = cookie-name "=" cookie-value
 cookie-name       = token
 cookie-value      = *cookie-octet / ( DQUOTE *cookie-octet DQUOTE )
 cookie-octet      = %x21 / %x23-2B / %x2D-3A / %x3C-5B / %x5D-7E
                       ; US-ASCII characters excluding CTLs,
                       ; whitespace DQUOTE, comma, semicolon,
                       ; and backslash
 token             = <token, defined in [RFC2616], Section 2.2>

 cookie-av         = expires-av / max-age-av / domain-av /
                     path-av / secure-av / httponly-av /
                     extension-av
 expires-av        = "Expires=" sane-cookie-date
 sane-cookie-date  = <rfc1123-date, defined in [RFC2616], Section 3.3.1>
 max-age-av        = "Max-Age=" non-zero-digit *DIGIT
                       ; In practice, both expires-av and max-age-av
                       ; are limited to dates representable by the
                       ; user agent.
 non-zero-digit    = %x31-39
                       ; digits 1 through 9
 domain-av         = "Domain=" domain-value
 domain-value      = <subdomain>
                       ; defined in [RFC1034], Section 3.5, as
                       ; enhanced by [RFC1123], Section 2.1
 path-av           = "Path=" path-value
 path-value        = <any CHAR except CTLs or ";">
 secure-av         = "Secure"
 httponly-av       = "HttpOnly"
 extension-av      = <any CHAR except CTLs or ";">
```

Note, we need to validate the client sends RFC6265 `Cookie:` header properly too, with spaces between cookie-pairs.

See https://tools.ietf.org/html/rfc6265#section-4.2.1

```
4.2.1.  Syntax

   The user agent sends stored cookies to the origin server in the
   Cookie header.  If the server conforms to the requirements in
   Section 4.1 (and the user agent conforms to the requirements in
   Section 5), the user agent will send a Cookie header that conforms to
   the following grammar:

   cookie-header = "Cookie:" OWS cookie-string OWS
   cookie-string = cookie-pair *( ";" SP cookie-pair )
```

Jetty `HttpClient` performs its client side generation of the `Cookie` header properly.

https://github.com/eclipse/jetty.project/blob/076c6b1c71c13f4b03562fbde16196fedd861f45/jetty-client/src/main/java/org/eclipse/jetty/client/HttpConnection.java#L159-L170

Opened PR #3658

PR #3658 merged