Jetty client assumes incorrect default charset for a HTTP response when no charset is specified

Hi together,

using Jetty client to mesh up some HTTP endpoints, I came across another issue: Jetty client assumes a default charset of UTF-8 when no charset was specified in the Content-Type header of a response:

https://github.com/eclipse/jetty.project/blob/7d9f2d7e64b3be766234bfd09a784325abb0a48a/jetty-client/src/main/java/org/eclipse/jetty/client/HttpContentResponse.java#L111-L114

Evil enough, the HTTP/1.1 spec defines ISO-8859-1 as default charset in that case:
https://www.w3.org/Protocols/rfc2616/rfc2616-sec3.html#sec3.7.1

This affects all Jetty client versions including master. I bet, quite some people out there rely on UTF-8. However, the spec is clear enough here...

Best Regards,
Florian

RFC2616 is obsolete and has been updated by RFC7230, RFC7231, RFC7232, RFC7233, RFC7234, and RFC7235.

The ISO-8859-1 default has been dropped in the updated spec.

See RFC 7231 - Appendix B:

https://tools.ietf.org/html/rfc7231#appendix-B

>    The default charset of ISO-8859-1 for text media types has been
>    removed; the default is now whatever the media type definition says.
>    Likewise, special treatment of ISO-8859-1 has been removed from the
>    Accept-Charset header field.  (Section 3.1.1.3 and Section 5.3.3)

Thanks for clarification.

However, it is true that we don't even attempt to figure out the encoding from the media type.
Class `org.eclipse.jetty.http.MimeTypes` does have some utility method for that.
@gregw what's the difference between "assumed" and "inferred" encoding ?

I had the same issue described by @fdummert . We have clients that use Windev (ok is the evil but unfortunately there are many Windev users), and it sends us requests encoded in different charsets depending on the content of the request. Some HTTP requests calls are encoded in ISO-8859-1 if there are accented chars or in UTF-8 when no accented chars are in the request content, body or query string. But the buggy stuff is that it doesn't send no encoding charset in the Content-Type.
So the ugly and temporary solution we found now is to patch Jetty (version 9.4) and do a sort of iso-8859-1 fallbak when utf-8 decode fails.

I understand that the buggy stuff is in that tool, Windev, but I am just wondering if it would be possible to extend Jetty configuration in order to provide a list of charsets that Jetty should use in order of priority to correctly decode the content when no charset is specified. 

@carlopolisini I don't understand if you're complaining about request content (and therefore you have the problem on the server side), or response content (and therefore you have the problem on the client side).
Either case, the application can guess what is the charset and perform the decoding.
Can you clarify exactly what is it that you cannot do?

The problem we had is about request content.
We are exposing a series of REST API accepting POST request passing params as application/x-www-form-urlencoded.
When the app, in my case a Spring 4 app, get the form params from the request there is an exception raised by Jetty:  
`curl -X POST http://api.app.dev:8090/mvc/httpapi/contact -H 'Content-Type: application/x-www-form-urlencoded' -d 'email=contact-informatique@speedy.fr&message%5Bsenderlabel%5D=SPEEDY&message%5Bcontent%5D=Bonjour%20un%20bris%20de%20glace%20a%20%E9t%E9%20d%E9tect%E9%20sur%20votre%20v%E9hicule.%20Nous%20allons%20vous%20recontacter%20pour%20%E9tablir%20un%20devis.%0D%0A%20SERVICE%20VITRAGE%20SPEEDY%200.800.520.520%0D%0ASTOP%20au%2036608'
<html>
<head>
<meta http-equiv="Content-Type" content="text/html;charset=utf-8"/>
<title>Error 400 Unable to parse form content</title>
</head>
<body><h2>HTTP ERROR 400</h2>
<p>Problem accessing /mvc/smsenvoi/httpapi/sendsms. Reason:
<pre>    Unable to parse form content</pre></p><h3>Caused by:</h3><pre>org.eclipse.jetty.http.BadMessageException: 400: Unable to parse form content
	at org.eclipse.jetty.server.Request.getParameters(Request.java:391)
	at org.eclipse.jetty.server.Request.getParameter(Request.java:1036)
	at com.oe.trendfe.servlet.filters.ActionLoggerFilter.doFilter(ActionLoggerFilter.java:114)
	at org.springframework.web.filter.DelegatingFilterProxy.invokeDelegate(DelegatingFilterProxy.java:346)
	at org.springframework.web.filter.DelegatingFilterProxy.doFilter(DelegatingFilterProxy.java:262)
	at org.eclipse.jetty.servlet.ServletHandler$CachedChain.doFilter(ServletHandler.java:1610)
	at com.oe.trendfe.servlet.filters.EncodingIso88591RequestFilter.doFilter(EncodingIso88591RequestFilter.java:26)
	at org.springframework.web.filter.DelegatingFilterProxy.invokeDelegate(DelegatingFilterProxy.java:346)
	at org.springframework.web.filter.DelegatingFilterProxy.doFilter(DelegatingFilterProxy.java:262)
	at org.eclipse.jetty.servlet.ServletHandler$CachedChain.doFilter(ServletHandler.java:1602)
	at org.eclipse.jetty.servlet.ServletHandler.doHandle(ServletHandler.java:540)
	at org.eclipse.jetty.server.handler.ScopedHandler.handle(ScopedHandler.java:146)
	at org.eclipse.jetty.security.SecurityHandler.handle(SecurityHandler.java:548)
	at org.eclipse.jetty.server.handler.HandlerWrapper.handle(HandlerWrapper.java:132)
	at org.eclipse.jetty.server.handler.ScopedHandler.nextHandle(ScopedHandler.java:257)
	at org.eclipse.jetty.server.session.SessionHandler.doHandle(SessionHandler.java:1700)
	at org.eclipse.jetty.server.handler.ScopedHandler.nextHandle(ScopedHandler.java:255)
	at org.eclipse.jetty.server.handler.ContextHandler.doHandle(ContextHandler.java:1345)
	at org.eclipse.jetty.server.handler.ScopedHandler.nextScope(ScopedHandler.java:203)
	at org.eclipse.jetty.servlet.ServletHandler.doScope(ServletHandler.java:480)
	at org.eclipse.jetty.server.session.SessionHandler.doScope(SessionHandler.java:1667)
	at org.eclipse.jetty.server.handler.ScopedHandler.nextScope(ScopedHandler.java:201)
	at org.eclipse.jetty.server.handler.ContextHandler.doScope(ContextHandler.java:1247)
	at org.eclipse.jetty.server.handler.ScopedHandler.handle(ScopedHandler.java:144)
	at org.eclipse.jetty.server.handler.ContextHandlerCollection.handle(ContextHandlerCollection.java:220)
	at org.eclipse.jetty.server.handler.StatisticsHandler.handle(StatisticsHandler.java:174)
	at org.eclipse.jetty.server.handler.HandlerWrapper.handle(HandlerWrapper.java:132)
	at org.eclipse.jetty.server.Server.handle(Server.java:505)
	at org.eclipse.jetty.server.HttpChannel.handle(HttpChannel.java:370)
	at org.eclipse.jetty.server.HttpConnection.onFillable(HttpConnection.java:267)
	at org.eclipse.jetty.io.AbstractConnection$ReadCallback.succeeded(AbstractConnection.java:305)
	at org.eclipse.jetty.io.FillInterest.fillable(FillInterest.java:103)
	at org.eclipse.jetty.io.ChannelEndPoint$2.run(ChannelEndPoint.java:117)
	at java.util.concurrent.ThreadPoolExecutor.runWorker(ThreadPoolExecutor.java:1149)
	at java.util.concurrent.ThreadPoolExecutor$Worker.run(ThreadPoolExecutor.java:624)
	at java.lang.Thread.run(Thread.java:748)
Caused by: org.eclipse.jetty.util.Utf8Appendable$NotUtf8Exception: Not valid UTF8! byte 74 in state 3
	at org.eclipse.jetty.util.Utf8Appendable.appendByte(Utf8Appendable.java:253)
	at org.eclipse.jetty.util.Utf8Appendable.append(Utf8Appendable.java:158)
	at org.eclipse.jetty.util.UrlEncoded.decodeUtf8To(UrlEncoded.java:526)
	at org.eclipse.jetty.util.UrlEncoded.decodeTo(UrlEncoded.java:572)
	at org.eclipse.jetty.server.Request.extractFormParameters(Request.java:555)
	at org.eclipse.jetty.server.Request.extractContentParameters(Request.java:478)
	at org.eclipse.jetty.server.Request.getParameters(Request.java:387)
	... 35 more
</pre>
<h3>Caused by:</h3><pre>org.eclipse.jetty.util.Utf8Appendable$NotUtf8Exception: Not valid UTF8! byte 74 in state 3
	at org.eclipse.jetty.util.Utf8Appendable.appendByte(Utf8Appendable.java:253)
	at org.eclipse.jetty.util.Utf8Appendable.append(Utf8Appendable.java:158)
	at org.eclipse.jetty.util.UrlEncoded.decodeUtf8To(UrlEncoded.java:526)
	at org.eclipse.jetty.util.UrlEncoded.decodeTo(UrlEncoded.java:572)
	at org.eclipse.jetty.server.Request.extractFormParameters(Request.java:555)
	at org.eclipse.jetty.server.Request.extractContentParameters(Request.java:478)
	at org.eclipse.jetty.server.Request.getParameters(Request.java:387)
	at org.eclipse.jetty.server.Request.getParameter(Request.java:1036)
	at com.oe.trendfe.servlet.filters.ActionLoggerFilter.doFilter(ActionLoggerFilter.java:114)
	at org.springframework.web.filter.DelegatingFilterProxy.invokeDelegate(DelegatingFilterProxy.java:346)
	at org.springframework.web.filter.DelegatingFilterProxy.doFilter(DelegatingFilterProxy.java:262)
	at org.eclipse.jetty.servlet.ServletHandler$CachedChain.doFilter(ServletHandler.java:1610)
	at com.oe.trendfe.servlet.filters.EncodingIso88591RequestFilter.doFilter(EncodingIso88591RequestFilter.java:26)
	at org.springframework.web.filter.DelegatingFilterProxy.invokeDelegate(DelegatingFilterProxy.java:346)
	at org.springframework.web.filter.DelegatingFilterProxy.doFilter(DelegatingFilterProxy.java:262)
	at org.eclipse.jetty.servlet.ServletHandler$CachedChain.doFilter(ServletHandler.java:1602)
	at org.eclipse.jetty.servlet.ServletHandler.doHandle(ServletHandler.java:540)
	at org.eclipse.jetty.server.handler.ScopedHandler.handle(ScopedHandler.java:146)
	at org.eclipse.jetty.security.SecurityHandler.handle(SecurityHandler.java:548)
	at org.eclipse.jetty.server.handler.HandlerWrapper.handle(HandlerWrapper.java:132)
	at org.eclipse.jetty.server.handler.ScopedHandler.nextHandle(ScopedHandler.java:257)
	at org.eclipse.jetty.server.session.SessionHandler.doHandle(SessionHandler.java:1700)
	at org.eclipse.jetty.server.handler.ScopedHandler.nextHandle(ScopedHandler.java:255)
	at org.eclipse.jetty.server.handler.ContextHandler.doHandle(ContextHandler.java:1345)
	at org.eclipse.jetty.server.handler.ScopedHandler.nextScope(ScopedHandler.java:203)
	at org.eclipse.jetty.servlet.ServletHandler.doScope(ServletHandler.java:480)
	at org.eclipse.jetty.server.session.SessionHandler.doScope(SessionHandler.java:1667)
	at org.eclipse.jetty.server.handler.ScopedHandler.nextScope(ScopedHandler.java:201)
	at org.eclipse.jetty.server.handler.ContextHandler.doScope(ContextHandler.java:1247)
	at org.eclipse.jetty.server.handler.ScopedHandler.handle(ScopedHandler.java:144)
	at org.eclipse.jetty.server.handler.ContextHandlerCollection.handle(ContextHandlerCollection.java:220)
	at org.eclipse.jetty.server.handler.StatisticsHandler.handle(StatisticsHandler.java:174)
	at org.eclipse.jetty.server.handler.HandlerWrapper.handle(HandlerWrapper.java:132)
	at org.eclipse.jetty.server.Server.handle(Server.java:505)
	at org.eclipse.jetty.server.HttpChannel.handle(HttpChannel.java:370)
	at org.eclipse.jetty.server.HttpConnection.onFillable(HttpConnection.java:267)
	at org.eclipse.jetty.io.AbstractConnection$ReadCallback.succeeded(AbstractConnection.java:305)
	at org.eclipse.jetty.io.FillInterest.fillable(FillInterest.java:103)
	at org.eclipse.jetty.io.ChannelEndPoint$2.run(ChannelEndPoint.java:117)
	at java.util.concurrent.ThreadPoolExecutor.runWorker(ThreadPoolExecutor.java:1149)
	at java.util.concurrent.ThreadPoolExecutor$Worker.run(ThreadPoolExecutor.java:624)
	at java.lang.Thread.run(Thread.java:748)
</pre>
<hr><a href="http://eclipse.org/jetty">Powered by Jetty:// 9.4.18.v20190429</a><hr/>

</body>
</html>
`

The point is that some of the text specified in the post body is percent encoded in ISO-8859-1, the message[content] section, but this is not specified in the request because charset header is missing and Jenking just use its default charset that in my case is set to UTF-8 . The same request works if we specify correctly the charset 
 curl -X POST http://api.app.dev:8090/mvc/httpapi/contact -H 'Content-Type: application/x-www-form-urlencoded; **charset=ISO-8859-1**' 

Unfortunately we do not have the control of clients  that call us with those requests with missing charset, and I was telling that it would be useful if in Jetty there would be some way to specify not only a default charset, but a kind of list of fallback charsets to use if default one fails.

@carlopolisini if the submission of the content is from a web / html form, then you can use the HTML5 `_charset_` form entry to set the form charset before submission to the server.
Both MSIE and Edge (both pre-chromium and post-chromium) support this.

https://www.w3.org/TR/html50/forms.html#attr-fe-name-charset

Jetty 9.4.18 support's this special input field.

@carlopolisini how would you guess, without reading the content nor calling `HttpServletRequest.getParameter(...)`, what is the right charset?

If you can always guess right, then you can avoid to call `HttpServletRequest.getParameter(...)` and do your own parsing from the `ServletInputStream` as a workaround.

Otherwise I agree that we should allow the application to tell Jetty what encoding to use.

@gregw what about using a Jetty-specific request attribute that Jetty can use in absence of a proper request charset?
Something like:

```java
void service(HttpServletRequest request, HttpServletResponse response) {
  String charset = sniffCharset(request);
  if (charset != null) {
    request.setAttribute("org.eclipse.jetty.server.Request.formCharset", charset);
  }
  String param = request.getParameter("foo"); // triggers form parsing with suggested charset
  ...
}
```

@joakime good! I thought `HttpServletRequest` was read-only, but it does have just one setter, indeed `setCharacterEncoding()`.
@carlopolisini you should be good then.

@joakime this morning I tryied to write a Servlet filter (javax.servlet.Filter) just like you suggested, using then the set character encoding field.
The problem is exactly how to implement that sniffCharset, since if you cant access to the content of the body, with methods request.getInputStream, or request.getReader, or request.getParameter*, it is impossible for me to detect the charset, because the only way I have is to try the decoding it and see if the decoding fails. 
@sbordet I will look into reading directly ServletInputStream or maybe do my decoding using HttpServletRequestWrapper inside a Servlet filter.

@carlopolisini then your only option is to read the `ServletInputStream` in memory (or file), attempt a decoding with one charset, if it fails try another, etc.
If the form content is too large, you may have an attack vector (blows up the memory) unless you save the form bytes on disk.

Or base the funky non-standard charset behavior off of the User-Agent?
And/or the path being used along with the User-Agent?
And/or some kind of query parameter present on the request?
And/or the lack of of a well known header (or header value) indicating the bad client?

Or, just make your form submission include the `_charset_` input field.

`curl -X POST http://api.app.dev:8090/mvc/httpapi/contact -H 'Content-Type: application/x-www-form-urlencoded' -d '_charset_=ISO-8859-1&email=contact-informatique@speedy.fr&message%5Bsenderlabel%5D=SPEEDY&message%5Bcontent%5D=Bonjour%20un%20bris%20de%20glace%20a%20%E9t%E9%20d%E9tect%E9%20sur%20votre%20v%E9hicule.%20Nous%20allons%20vous%20recontacter%20pour%20%E9tablir%20un%20devis.%0D%0A%20SERVICE%20VITRAGE%20SPEEDY%200.800.520.520%0D%0ASTOP%20au%2036608'`

Fundamentally the problem here is supporting broken legacy clients that don't follow the HTTP specs and proper HTTP clients that do follow the specs.

You cannot rely on default charsets as you will break one set of clients or the other.

You cannot rely on fallback charsets, and parsing the content again, as that requires input stream caching, which is not a feature built into Jetty (due to DoS attack vectors it introduces), and must be implemented at the Application side with application logic (for example in a post-gzip scenario).

Perhaps you should look at the raw / provided `Content-Type` header, if that header is missing a `charset` then you default to `ISO-8859-1`?
(I have my doubts that this will work for both the bad clients and the good clients).

``` java
public void doPost(HttpServletRequest request, HttpServletResponse response) throws IOException
{
    if (request.getContentType().equalsIgnoreCase("application/x-www-form-urlencoded"))
    {
        boolean hasProvidedCharset = false;
        String rawContentTypeHeader = request.getHeader("Content-Type");
        String[] contentTypeParts = rawContentTypeHeader.split(";");
        if (contentTypeParts.length > 1)
        {
            String[] possibleCharSet = contentTypeParts[1].split("=");
            if (possibleCharSet[0].trim().equalsIgnoreCase("charset"))
            {
                hasProvidedCharset = true;
            }
        }
        if (!hasProvidedCharset)
        {
            request.setCharacterEncoding(StandardCharsets.ISO_8859_1.name());
        }
    }

    String param = request.getParameter("foo"); // triggers form parsing with suggested charset
}
```

You might want to inform your clients (via email) that they are not following published standards?

Other public REST APIs (twitter for example) will return a status 422 (Unprocessable Entity) if the POST content was unable to be parsed.

I would probably setup an error page to catch `BadMessageException` and check for the `application/x-www-form-urlencoded` content-type to return a 422 status code in those specific situations.
Include in the response body content the details on WHY they are getting that error, how to fix it, and / or a link to a web page that you guys maintain detailing the issue.

Thanks a lot @joakime and @sbordet for the suggestions. 
Some companies are using very old and buggy software suite, like Windev, and they do not want to change their buggy API. This issue raised because they were using our old PHP API, that was detecting the encoding with this function https://www.php.net/manual/en/function.mb-detect-encoding.php , and all was ok. 
BTW we try to find a solution with them to correctly send the right encoding, in order to get rid of the patched Jenkins or other dirty tricks we have to implement!


@carlopolisini thanks for the feedback, closing the issue.

Every web framework (that is still being maintained) is moving to the updated RFC specs.
This issue, supporting buggy non-standard http clients AND spec following http clients (like all browsers do) is a problem in all of those frameworks.

Regarding your PHP example, it's not an apples to apples comparison.
As PHP doesn't decode for you.
You have to obtain the content, and parse it manually, and then use it.

Which you are perfectly capable of doing yourself in the Servlet API.
You don't have to use the `HttpServletRequest.getParameter*()` methods.
Obtain the request body content from `.getInputStream()` and parse it yourself, in any way you want to parse it. (don't do this in a Filter!)

And don't assume ISO-8859-1 for windev.
That's only true for western based installations of windev.

Example: Asian installations of windev will be other charsets, such as SJIS.
Mid-east installations can be a variant of hebrew or arabic.

I would suggest that it is critical to ensure you capture which clients are sending you bad requests and start the process of talking to them to upgrade their behaviors or risk losing access entirely.
BTW, this isn't unique to you, lots of very large (think Fortune 100) organizations go through this as well, and they have established processes to inform bad clients for a fixed amount of time and then cut off access if they don't update. (in as little as 6 months to as long as 5 years).

There's a long historical discussion on the spec lists for why the specs moved from ISO-8859-1 to UTF-8 across the board (decided in early discussions around 2009 and formalized in actual published specs in 2014).
It would be good to learn this history so you can speak confidently on why supporting broken clients is a bad idea.