How to prevent bad characters in the error response output

Currently there's no implementation in place for jetty that could potentially prevents malicious characters to be included in clients request. If the underlying application that does not properly handle this scenario (user input ) and throws an exception, jetty does not sanitize this and directly reflects the problem to the client. An attacker may used this information to launch subsequent attacks, although this could be fixed at the application level on a use case basis however the mitigation could be better addressed from the container level.

A bit too vague of a description.

Can you provide examples?

OK, so if an application that does not handle an exception correctly is deployed into jetty then if client of that particular application sends some arbitrary javascript code to that application/service then below is that stacktrace from the jetty side:

```
[ERROR] Failed executing POST /service/create
xxx.xxx.xxx.xxx.xxxx: xxx.xxx.xxx.xxx.xxx.xxx: xxx "<script>alert(document.domain)</script>" (Class xxx.xxx.xxx), xxx xxx xxx
 at [Source: xxx@21acf398; line: 1, column: 47] (xxx xxx xxx: xxx.xxx.xxx["<script>alert(document.domain)</script>"])
	at xxx.xxx.xxx.xxx.xxx.xxx(xxx.java:183)
	at xxx.xxx.xxx.xxx.xxx.xxx(xxx.java:89)
	at xxx.xxx.xxx.xxx.xxx.xxx(xxx.java:112)
	at xxx.xxx.xxx.xxx.xxx.xxxxxx(xxx.java:296)
	at xxx.xxx.xxx.xxx.xxx.xxx(xxx.java:250)
	at xxx.xxx.xxx.xxx.xxx.xxx(xxx.java:237)
	at xxx.xxx.xxx.xxx.xxx.xxx(xxx.java:356)
	at xxx.xxx.xxx.xxx.xxx.xxx(xxx.java:179)
	at xxx.xxx.xxx.xxx.xxx.xxx.xxx.xxx(xxx.java:220)
	at xxx.xxx.xxx.xxx.xxx.xxx.xxx.xxx(xxx.java:56)
	at xxx.xxx.xxx.xxx.xxx.xxx.xxx.xxx(xxx.java:51)
	at javax.servlet.http.HttpServlet.service(HttpServlet.java:790)
	at org.eclipse.jetty.servlet.ServletHolder.handle(ServletHolder.java:769)
	at org.eclipse.jetty.servlet.ServletHandler.doHandle(ServletHandler.java:585)
	at org.eclipse.jetty.server.handler.ScopedHandler.handle(ScopedHandler.java:143)
	at org.eclipse.jetty.security.SecurityHandler.handle(SecurityHandler.java:577)
	at org.eclipse.jetty.server.session.SessionHandler.doHandle(SessionHandler.java:223)
	at org.eclipse.jetty.server.handler.ContextHandler.doHandle(ContextHandler.java:1125)
	at org.eclipse.jetty.servlet.ServletHandler.doScope(ServletHandler.java:515)
	at org.eclipse.jetty.server.session.SessionHandler.doScope(SessionHandler.java:185)
	at org.eclipse.jetty.server.handler.ContextHandler.doScope(ContextHandler.java:1059)
	at org.eclipse.jetty.server.handler.ScopedHandler.handle(ScopedHandler.java:141)
	at org.eclipse.jetty.server.handler.ContextHandlerCollection.handle(ContextHandlerCollection.java:215)
	at org.eclipse.jetty.server.handler.HandlerCollection.handle(HandlerCollection.java:110)
	at org.eclipse.jetty.server.handler.HandlerWrapper.handle(HandlerWrapper.java:97)
	at org.eclipse.jetty.server.Server.handle(Server.java:497)
	at org.eclipse.jetty.server.HttpChannel.handle(HttpChannel.java:311)
	at org.eclipse.jetty.server.HttpConnection.onFillable(HttpConnection.java:248)
	at org.eclipse.jetty.io.AbstractConnection$2.run(AbstractConnection.java:540)
	at org.eclipse.jetty.util.thread.QueuedThreadPool.runJob(QueuedThreadPool.java:610)
	at org.eclipse.jetty.util.thread.QueuedThreadPool$3.run(QueuedThreadPool.java:539)
	at java.lang.Thread.run(Thread.java:745)
```
and information about this stacktrace propagates back to the caller with below exception:

```
xxx.xxx.xxx.xxx.xxx.xxx: xxx xxx "<script>alert(document.domain)</script>" (Class xxx.xxx.xxx), xxx xxx xxx
* Connection #0 to host localhost left intact
 at [Source: xxx@21acf398; line: 1, column: 47] (xxx xxx xxx: xxx.xxx.xxx["<script>alert(document.domain)</script>"])
```
so the masked section in the above response basically reveals the package information of the service/application that's been deployed into jetty and could potentially be used to launch further attacks. 

and here's the complete client request/response:
```
curl -v -X POST -H "Content-Type : application/json" -d '{"<script>alert(document.domain)</script>" : "attack"}' http://localhost:8080/xxx/service/create
Note: Unnecessary use of -X or --request, POST is already inferred.
*   Trying ::1...
* Connected to localhost (::1) port 8080 (#0)
> POST /xxx/service/create HTTP/1.1
> Host: localhost:8080
> User-Agent: curl/7.47.1
> Accept: */*
> Content-Type : application/json
> Content-Length: 54
> Content-Type: application/x-www-form-urlencoded
> 
* upload completely sent off: 54 out of 54 bytes
< HTTP/1.1 400 Bad Request
< Date: xxx, xxx xxx xxx 00:xxx:xxx xxx
< Content-Type: text/html
< Content-Length: 335
< Server: Jetty(9.2.3.v20140905)
<xxx.xxx.xxx.xxx.xxx.xxx: xxx xxx "<script>alert(document.domain)</script>" (Class xxx.xxx.xxx), xxx xxx xxx
* Connection #0 to host localhost left intact
 at [Source: xxx@21acf398; line: 1, column: 47] (xxx xxx xxx: xxx.xxx.xxx["<script>alert(document.domain)</script>"])

```

That results in an response code 400 (like your curl example shows).
Your application isn't vulnerable.

When Jetty responds with an error 400, the request is so bad that jetty cannot send it to a context.

However, your stacktrace shows that it did send it to a context, meaning that Jetty wasn't the one sending the error 400, something in your application did so.

As for showing the stacktrace, that's the default configuration for errors in Jetty.
If you don't want that specific part, then either:

* Turn off stacktraces in the default provided ErrorHandler.
* or provide an Error Page configuration for your exception or status code. (see note below)
* or provide your own ErrorHandler that does what you want it to do.

Note: typically you cannot provide your own error page handling for status code 400, as the most common cause for status code 400 is when Jetty cannot parse the request.  If Jetty produces the error 400, that means there is no context to send the request to, meaning there is no error page handling logic possible (or filters).

Joakim

We certainly used to sanitize the error page responses.  If fact these
injection tests are some of the oldest security issues raised against
jetty.

I'm on my phone at the moment so i can't check if recent changes to error
handling may have broken this.

Cheers

On 14 Jun 2017 14:17, "Joakim Erdfelt" <notifications@github.com> wrote:

That results in an response code 400 (like your curl example shows).
Your application isn't vulnerable.

When Jetty responds with an error 400, the request is so bad that jetty
cannot send it to a context.

However, your stacktrace shows that it did send it to a context, meaning
that Jetty wasn't the one sending the error 400, something in your
application did so.

As for showing the stacktrace, that's the default configuration for errors
in Jetty.
If you don't want that specific part, then either:

   - Turn off stacktraces in the default provided ErrorHandler.
   - or provide an Error Page configuration for your exception or status
   code. (see note below)
   - or provide your own ErrorHandler that does what you want it to do.

Note: typically you cannot provide your own error page handling for status
code 400, as the most common cause for status code 400 is when Jetty cannot
parse the request. If Jetty produces the error 400, that means there is no
context to send the request to, meaning there is no error page handling
logic possible (or filters).

—
You are receiving this because you are subscribed to this thread.
Reply to this email directly, view it on GitHub
<https://github.com/eclipse/jetty.project/issues/1612#issuecomment-308413417>,
or mute the thread
<https://github.com/notifications/unsubscribe-auth/AAEUrUB_RBm_2UXbBJh-pzWF5o--J_5aks5sD89mgaJpZM4N5RWa>
.


Joakim,
Ignore me.  I see your analysis that it was an application error page
handler.

Cheers

On 14 Jun 2017 20:08, "Greg Wilkins" <gregw@webtide.com> wrote:

> Joakim
>
> We certainly used to sanitize the error page responses.  If fact these
> injection tests are some of the oldest security issues raised against
> jetty.
>
> I'm on my phone at the moment so i can't check if recent changes to error
> handling may have broken this.
>
> Cheers
>
> On 14 Jun 2017 14:17, "Joakim Erdfelt" <notifications@github.com> wrote:
>
> That results in an response code 400 (like your curl example shows).
> Your application isn't vulnerable.
>
> When Jetty responds with an error 400, the request is so bad that jetty
> cannot send it to a context.
>
> However, your stacktrace shows that it did send it to a context, meaning
> that Jetty wasn't the one sending the error 400, something in your
> application did so.
>
> As for showing the stacktrace, that's the default configuration for errors
> in Jetty.
> If you don't want that specific part, then either:
>
>    - Turn off stacktraces in the default provided ErrorHandler.
>    - or provide an Error Page configuration for your exception or status
>    code. (see note below)
>    - or provide your own ErrorHandler that does what you want it to do.
>
> Note: typically you cannot provide your own error page handling for status
> code 400, as the most common cause for status code 400 is when Jetty cannot
> parse the request. If Jetty produces the error 400, that means there is no
> context to send the request to, meaning there is no error page handling
> logic possible (or filters).
>
> —
> You are receiving this because you are subscribed to this thread.
> Reply to this email directly, view it on GitHub
> <https://github.com/eclipse/jetty.project/issues/1612#issuecomment-308413417>,
> or mute the thread
> <https://github.com/notifications/unsubscribe-auth/AAEUrUB_RBm_2UXbBJh-pzWF5o--J_5aks5sD89mgaJpZM4N5RWa>
> .
>
>
>


`Server: Jetty(9.2.3.v20140905)`

Would also recommend upgrading to a more recent version of Jetty.

Thanks for explaining this Joakim, I understand that this can be prevented from the application itself e.g. handling the error message etc, however my point here is that not all applications/libs handle this scenarios correctly etc of course this isn't the best practice but unfortunately it could potentially happens, in fact the stacktrace that I'd pasted came from a well-known lib that doesn't seem to have dealt with this properly. Now my argument here is that it would have been better that we had an extra layer of security from Jetty that normalizes bad requests etc to ensure that it doesn't have anomalies or prevents the response from revealing the application information from going back to the client.

With that said however and as you also pointed out I have updated Jetty to the more recent one `9.4.6.v20170531` with out making any changes to the deployed  application and I now see a different behavior where the error trace has been reduced to bear minimum and just the Bad request 400 is returned:

```
*   Trying ::1...
* Connected to localhost (::1) port 8080 (#0)
> POST /rest/service/create HTTP/1.1
> Host: localhost:8080
> User-Agent: curl/7.47.1
> Accept: */*
> Content-Type : application/json
> Content-Length: 54
> Content-Type: application/x-www-form-urlencoded
> 
* upload completely sent off: 54 out of 54 bytes
< HTTP/1.1 400 Illegal character 0x20
< Content-Type: text/html;charset=iso-8859-1
< Content-Length: 65
< Connection: close
< Server: Jetty(9.4.6.v20170531)
< 
* Closing connection 0
<h1>Bad Message 400</h1><pre>reason: Illegal character 0x20

```
which seems to have hidden the reflected xxs script.

Thanks

Considering this fixed in recent releases of Jetty.

Sorry to comment on a closed issue but it seems related and google isn't turning up anything else about this. I can file a new issue if preferred.

Is the `\x07` BEL ascii character legal in an HTTP header value? It seems other servers allow this (e.g. AWS S3) but a jetty 9.4.7.v20170914 does not, giving below error.

```
curl -i --data-binary 'hello' -XPUT -H "X-test-meta: $(printf 'boing \a boing')" https://myjetty.example.com/test

HTTP/1.1 400 Illegal character 0x7
Content-Type: text/html;charset=iso-8859-1
Content-Length: 64

<h1>Bad Message 400</h1><pre>reason: Illegal character 0x7</pre>
```

Maybe it's a conflict between ASCII vs ISO-8859-1, where \x07 is "undefined" (https://en.wikipedia.org/wiki/ISO/IEC_8859-1)?

@jamshid see https://tools.ietf.org/html/rfc7230#section-3.2

```
3.2.  Header Fields

   Each header field consists of a case-insensitive field name followed
   by a colon (":"), optional leading whitespace, the field value, and
   optional trailing whitespace.

     header-field   = field-name ":" OWS field-value OWS

     field-name     = token
     field-value    = *( field-content / obs-fold )
     field-content  = field-vchar [ 1*( SP / HTAB ) field-vchar ]
     field-vchar    = VCHAR / obs-text

     obs-fold       = CRLF 1*( SP / HTAB )
                    ; obsolete line folding
                    ; see Section 3.2.4

   The field-name token labels the corresponding field-value as having
   the semantics defined by that header field.  For example, the Date
   header field is defined in Section 7.1.1.2 of [RFC7231] as containing
   the origination timestamp for the message in which it appears
```

where `VCHAR` is covered in https://tools.ietf.org/html/rfc7230#section-1.2 as meaning 

```
VCHAR (any visible [USASCII] character).
```

All whitespace, and control characters are not "visible", hence rejected.

Even the older, now obsolete, RFC2616 had similar rules.

See https://tools.ietf.org/html/rfc2616#section-2.2

```
   The following rules are used throughout this specification to
   describe basic parsing constructs. The US-ASCII coded character set
   is defined by ANSI X3.4-1986 [21].

       OCTET          = <any 8-bit sequence of data>
       CHAR           = <any US-ASCII character (octets 0 - 127)>
       UPALPHA        = <any US-ASCII uppercase letter "A".."Z">
       LOALPHA        = <any US-ASCII lowercase letter "a".."z">
       ALPHA          = UPALPHA | LOALPHA
       DIGIT          = <any US-ASCII digit "0".."9">
       CTL            = <any US-ASCII control character
                        (octets 0 - 31) and DEL (127)>
       CR             = <US-ASCII CR, carriage return (13)>
       LF             = <US-ASCII LF, linefeed (10)>
       SP             = <US-ASCII SP, space (32)>
       HT             = <US-ASCII HT, horizontal-tab (9)>
       <">            = <US-ASCII double-quote mark (34)>

   HTTP/1.1 defines the sequence CR LF as the end-of-line marker for all
   protocol elements except the entity-body (see appendix 19.3 for
   tolerant applications). The end-of-line marker within an entity-body
   is defined by its associated media type, as described in section 3.7.

       CRLF           = CR LF

   HTTP/1.1 header field values can be folded onto multiple lines if the
   continuation line begins with a space or horizontal tab. All linear
   white space, including folding, has the same semantics as SP. A
   recipient MAY replace any linear white space with a single SP before
   interpreting the field value or forwarding the message downstream.

       LWS            = [CRLF] 1*( SP | HT )

   The TEXT rule is only used for descriptive field contents and values
   that are not intended to be interpreted by the message parser. Words
   of *TEXT MAY contain characters from character sets other than ISO-
   8859-1 [22] only when encoded according to the rules of RFC 2047
   [14].

       TEXT           = <any OCTET except CTLs,
                        but including LWS>
```

BEL `\x07` falls into the `CTL` list in RFC2616 which is means BEL in RFC2616 also excluded.