Jetty server shall alert fatal no_application_protocol if no client application protocol is supported

Using Jetty 9.4.22.

Jetty server supports application protocols h2 and http/1.1 only.
openssl s_client -CAfile ca -alpn h3 -connect host:port

In this case, Jetty server alerts warning user_canceled.
But according to RFC 7301 section 3.2, the server shall alert fatal no_application_protocol.

What version of Java?  (Since ALPN is controlled by Java itself, it's important to know what version of Java you are using, as the behaviors are different on each major JVM)
Are you using standard Java Security, or an alternate one (like BouncyCastle or conscrypt)?

How did you set up your Jetty server?
If standalone, what's your `--list-config` look like.  
If embedded, describe your `ServerConnector` and any `SslContextFactory` setup.


Your version of openssl would also need to be one of the very precise versions that support `no_application_protocol` properly.  
It's support comes and goes, and is often broken. 
See curl issue tracker and the multiple issues filed (and even reopened) against `no_application_protocol` for the full history of this.

Also, the many industry leaders disagree with that section of RFC 7301.  
Most of the industry feel that it should gracefully fallback to normal HTTP and never return `no_application_protocol`

Example: https://bugs.chromium.org/p/chromium/issues/detail?id=497770


> What version of Java? (Since ALPN is controlled by Java itself, it's important to know what version of Java you are using, as the behaviors are different on each major JVM)

11.0.5

> Are you using standard Java Security, or an alternate one (like BouncyCastle or conscrypt)?

Standard JSSE provider

> How did you set up your Jetty server?
> If standalone, what's your `--list-config` look like.
```
Jetty Server Classpath:
-----------------------
Version Information on 17 entries in the classpath.
Note: order presented here is how they would appear on the classpath.
      changes to the --module=name command line options will be reflected here.
 0:         9.4.22.v20191022 | ${jetty.home}/lib/jetty-alpn-java-server-9.4.22.v20191022.jar
 1:          1.1.3.v20160715 | ${jetty.home}/lib/alpn-api-1.1.3.v20160715.jar
 2:                    3.1.0 | ${jetty.home}/lib/servlet-api-3.1.jar
 3:                 3.1.0.M0 | ${jetty.home}/lib/jetty-schemas-3.1.jar
 4:         9.4.22.v20191022 | ${jetty.home}/lib/jetty-http-9.4.22.v20191022.jar
 5:         9.4.22.v20191022 | ${jetty.home}/lib/jetty-server-9.4.22.v20191022.jar
 6:         9.4.22.v20191022 | ${jetty.home}/lib/jetty-xml-9.4.22.v20191022.jar
 7:         9.4.22.v20191022 | ${jetty.home}/lib/jetty-util-9.4.22.v20191022.jar
 8:         9.4.22.v20191022 | ${jetty.home}/lib/jetty-io-9.4.22.v20191022.jar
 9:         9.4.22.v20191022 | ${jetty.home}/lib/jetty-alpn-server-9.4.22.v20191022.jar
10:         9.4.22.v20191022 | ${jetty.home}/lib/jetty-security-9.4.22.v20191022.jar
11:         9.4.22.v20191022 | ${jetty.home}/lib/jetty-servlet-9.4.22.v20191022.jar
12:         9.4.22.v20191022 | ${jetty.home}/lib/jetty-webapp-9.4.22.v20191022.jar
13:         9.4.22.v20191022 | ${jetty.home}/lib/jetty-deploy-9.4.22.v20191022.jar
14:         9.4.22.v20191022 | ${jetty.home}/lib/http2/http2-common-9.4.22.v20191022.jar
15:         9.4.22.v20191022 | ${jetty.home}/lib/http2/http2-hpack-9.4.22.v20191022.jar
16:         9.4.22.v20191022 | ${jetty.home}/lib/http2/http2-server-9.4.22.v20191022.jar

Jetty Active XMLs:
------------------
 ${jetty.home}/etc/jetty-bytebufferpool.xml
 ${jetty.home}/etc/jetty-threadpool.xml
 ${jetty.home}/etc/jetty.xml
 ${jetty.home}/etc/jetty-ssl.xml
 ${jetty.home}/etc/jetty-ssl-context.xml
 ${jetty.home}/etc/jetty-alpn.xml
 ${jetty.home}/etc/jetty-webapp.xml
 ${jetty.home}/etc/jetty-deploy.xml
 ${jetty.home}/etc/jetty-http.xml
 ${jetty.home}/etc/jetty-http2.xml
 ${jetty.home}/etc/jetty-http2c.xml
 ${jetty.home}/etc/jetty-https.xml
```


Just tried Jetty 9.3.28 + JDK 8u231. Jetty server alerted `no_application_protocol`.
And in my testing, JSSE in JDK 11.0.5 alerted `no_application_protocol` for this case.

@johnshajiang with Java 8 you are using Jetty's ALPN boot jar, where we have modified the JDK classes to handle ALPN. 

One such [modification](https://github.com/jetty-project/jetty-alpn/blob/alpn-project-8.1.13.v20181017/alpn-boot/src/main/java/sun/security/ssl/ServerHandshaker.java#L900) is that we perform the application protocol selection and if an exception is thrown then `no_application_protocol` is returned.

With Java 11, if the application protocol selection throws an exception, then that is not caught by JSSE, and therefore a generic alert is sent to the client. I think this is a JSSE bug, as it should protect itself from the HandshakeApplicationProtocolSelector bifunction throwing runtime exceptions.

We will work this around in Jetty by keeping the old behavior of throwing an exception, but catching it for Java 9+ and returning null.

@johnshajiang can you try the code in #4309?

> @johnshajiang can you try the code in #4309?

Downloaded the src on 9.4.x, and run`mvn install -DskipTests=true`, but it failed at
```
[INFO] Test :: CDI On Jetty :: OWB Demo Webapp ............ FAILURE
```

@johnshajiang is it a fresh clone? if not you should use ` mvn ciean install -DskipTests=true `
please provide more details/stacktrace of your failure

Just tried it again, and no problem raised this time.
Maybe some problem raised when downloaded some dependencies last time.

And this fix works for me, thanks!

@johnshajiang thanks for the feedback!