Digest authentication should use absolute path

@ableasdale I want to move the discussion to an issue rather than pull request #2159.

@ableasdale, you said:

> Whereas I could see that Jetty had been returning this:
`Authorization: Digest [items], uri="http://0.0.0.0:65534/" `

Are you sure ? I would be really strange for a client to resolve the host address to `0.0.0.0` since that is the any address servers bind to.

Having said that, RFC 7235 largely refers back to RFC 2617.
RFC 2617, [section 3.2.2](https://tools.ietf.org/html/rfc2617#section-3.2.2), defines the `digest-uri` as the "Request-URI of the Request-Line".
The "Request-URI of the Request-Line" is now defined by RFC 7230, [section 5.3](https://tools.ietf.org/html/rfc7230#section-5.3), where the `origin-form` include the `absolute-path` (defined [here](https://tools.ietf.org/html/rfc3986#section-3.3)) _and_ the `query` (defined [here](https://tools.ietf.org/html/rfc3986#section-3.4)).
My take is that both should be "raw", i.e. retain percent encoding and such.

Seems clear that we have a bug in that we use absolute URI rather than absolute path with query when computing `digest-uri`.

However, I will be cautious to just go by the RFCs.

@ableasdale, since you have experience with other clients, how do they behave in these cases:
- "Request-URI of the Request-Line" containing a query string; is the query string omitted or kept by other implementations ?
- "Request-URI of the Request-Line" containing percent-encoded path; are other implementations using raw or decoded paths / query ?

Thanks !


Hi Simone,

Thanks very much for getting back to me regarding this.

Regarding this question:

> Are you sure ? I would be really strange for a client to resolve the host address to 0.0.0.0 since that is the any address servers bind to.

I can completely see why this was confusing - apologies for that! - in my test, that host address was hard coded:
```
public static final String HOSTNAME = "0.0.0.0";
```

The issue is still the same in that I'll get the full path back though; in this case, Jetty generates the following Authorization header:

```
Accept-Encoding: gzip
User-Agent: Jetty/9.4.8.v20171121
Accept: */*
Authorization: Digest username="q", realm="public", nonce="35e3fad8e720a2:Ul+uYM6836kEw8kH2flDWw==", opaque="5adba85bd516f1b0", algorithm="MD5", uri="http://0.0.0.0:65534/", qop="auth", nc="00000001", cnonce="a781eb7d61a6611b", response="083c6debb81c3eb0d984a4ced634281e"
Host: 0.0.0.0:65534
```
So if I change it to:
```
public static final String HOSTNAME = "localhost";
```
I see:
```
Accept-Encoding: gzip
User-Agent: Jetty/9.4.8.v20171121
Accept: */*
Authorization: Digest username="q", realm="public", nonce="35e3fa11d36c34:rGIuP8GrELMm+0QRVbCn9w==", opaque="a05ab20e6fe14022", algorithm="MD5", uri="http://localhost:65534/", qop="auth", nc="00000001", cnonce="e31c3ff710ad4d13", response="cac52355a82890e42315de3a1748153d"
Host: localhost:65534
```
Regarding your questions about the "Request-URI of the Request-Line", let me do some testing and update the commentary; thanks very much for your response so far.

Best,
A

Hi Simone,

I just wanted to clarify one point in this testing

> "Request-URI of the Request-Line" _containing percent-encoded path_; are other implementations using raw or decoded paths / query ?

Are you asking me to test a path that looks like this: **%2Fdefault.htm**

In order to see how the other Java HTTP Client APIs handle the percent encoded "/"?

If so, I think a lot of them (if not all) will fail.  If I try this with (for example), Apache's library, I see failures with conversion/formatting:

```
Exception in thread "main" java.util.UnknownFormatConversionException: Conversion = 'F'
	at java.util.Formatter$FormatSpecifier.conversion(Formatter.java:2691)
	at java.util.Formatter$FormatSpecifier.<init>(Formatter.java:2720)
	at java.util.Formatter.parse(Formatter.java:2560)
	at java.util.Formatter.format(Formatter.java:2501)
	at java.util.Formatter.format(Formatter.java:2455)
	at java.lang.String.format(String.java:2940)
```

Let me give you some example for you to try:

- /foo?a=1
- /foo/b%C3%A0r/index.html
- /foo/bar?utf8=%C3%A0

Thanks !

Hi Simone,

Thanks very much - leave this with me; I'll get back to you with the results very soon.

Best,
A

Hi Simone,
For the following requests:

    /foo?a=1
    /foo/b%C3%A0r/index.html
    /foo/bar?utf8=%C3%A0

**Apache HTTP Client** (httpGet.getRequestLine()) contains:
GET /foo?a=1 HTTP/1.1
GET /foo/b%C3%A0r/index.html HTTP/1.1
GET /foo/bar?utf8=%C3%A0 HTTP/1.1

In each case, authentication worked and the response (as expected) was **HTTP/1.1 404 Not Found**

**Async HTTP Client** logged output for the Request-Line contains:
GET /foo?a=1 HTTP/1.1
GET /foo/b%C3%A0r/index.html HTTP/1.1
GET /foo/bar?utf8=%C3%A0 HTTP/1.1

In each case, authentication worked and the response (as expected) was **HTTP/1.1 404 Not Found**

**Jersey2 Client** logged output displays:
2 > GET http://localhost:65534/foo?a=1
2 > GET http://localhost:65534/foo/b%C3%A0r/index.html
2 > GET http://localhost:65534/foo/bar?utf8=%C3%A0

In each case, the uri in the Authorization header shows the path, like this:

2 > Authorization: Digest username="q",realm="public",nonce="35e4b21664e7bc:SUnc8FbRuJTEuVndv8mpAA==",opaque="55a21f2640092163",qop=auth,uri="/foo/bar?utf8=%C3%A0",cnonce="2eee96c5",nc=00000001,response="587e311ddc0a217c64a0489ce8e639f5"

In each case, authentication worked and the response code was 404 - as my code was trying to resolve the entity as a string, Jersey 2 threw the relevant exception:
javax.ws.rs.NotFoundException: HTTP 404 Not Found

** OkHTTP** logged output displays:
Jan 26, 2018 10:36:40 AM okhttp3.internal.platform.Platform log
INFO: --> GET http://localhost:65534/foo?a=1
Jan 26, 2018 10:37:37 AM okhttp3.internal.platform.Platform log
INFO: --> GET http://localhost:65534/foo/b%C3%A0r/index.html
Jan 26, 2018 10:38:31 AM okhttp3.internal.platform.Platform log
INFO: --> GET http://localhost:65534/foo/bar?utf8=%C3%A0

In each case, authentication worked and the response code returned was 404.  Unfortunately okHTTP does not log any more detail regarding the Authorization header but I can re-run these requests and may be able to get that information from the debugger if it's useful?

In all cases, I'm testing with the latest libraries according to Maven.

I hope this is useful - if you want me to do any further testing, please don't hesitate to let me know and I will be happy to assist further.

Thanks again for looking into this for me.
Best,
A

Ok so it seems confirmed that should be raw path + raw query what we need to use, as per specification.

If you want, you can close #2159 and open a new PR with the correct fix, and I'll review.
Otherwise I'll do it.

Thanks !


Hi Simone,

Thanks for letting me know.  As requested, I have now closed:
https://github.com/eclipse/jetty.project/pull/2159

And replaced it with:
https://github.com/eclipse/jetty.project/pull/2161

This contains a different modification where either the raw path and the raw query are returned (if there is a query string) or just the raw path.  

Please let me know if you need anything else from me - and thanks again for all your time.

Best,
A