If a bad Servlet response header value is used on HTTP/2 the servlet error handler isn't called

**Jetty version(s)**
12.0.27

**Jetty Environment**
any, but replicated on ee8 

**Java version/vendor** `(use: java -version)`
Any

**OS type/version**
Any

**Description**
If a Servlet does the following ...

``` java
@Override
public void doGet(HttpServletRequest req, HttpServletResponse resp) throws IOException
{
    resp.addHeader("X-Example", "bogusobs "); // note the extra space at the end
}
```

An HPACK Exception occurs with the above code.

This will cause a CANCEL failure on HTTP/2, and the Servlet error handler isn't being called.

Note, this does not fail on HTTP/1

Relevant HTTP spec sections.

* 5.5. Field Values - https://www.rfc-editor.org/rfc/rfc9110.html#name-field-values
*  Appendix A. Collected ABNF - https://www.rfc-editor.org/rfc/rfc9110.html#appendix-A

@joakime can you past in any stack traces you got from this?

Example HPack Exception.

```
2025-09-24 15:52:44.254:DEBUG:oejhi.HTTP2Flusher:server-42: Failure generating HeadersFrame@70d9532e#1[end=true,{HTTP/2.0{s=200,h=4,cl=0}},priority=null]
org.eclipse.jetty.http2.hpack.HpackException$StreamException: Invalid header value: 'notobstext '
	at org.eclipse.jetty.http2.hpack.HpackEncoder.encode(HpackEncoder.java:197)
	at org.eclipse.jetty.http2.generator.FrameGenerator.encode(FrameGenerator.java:64)
	at org.eclipse.jetty.http2.generator.HeadersGenerator.generateHeaders(HeadersGenerator.java:67)
	at org.eclipse.jetty.http2.generator.HeadersGenerator.generate(HeadersGenerator.java:53)
	at org.eclipse.jetty.http2.generator.Generator.control(Generator.java:88)
	at org.eclipse.jetty.http2.HTTP2Session$ControlEntry.generate(HTTP2Session.java:1635)
	at org.eclipse.jetty.http2.internal.HTTP2Flusher.process(HTTP2Flusher.java:243)
	at org.eclipse.jetty.util.IteratingCallback.processing(IteratingCallback.java:253)
```

### [RFC9113 Section 8.2.1](https://www.rfc-editor.org/rfc/rfc9113.html#section-8.2.1)

> A field value MUST NOT start or end with an ASCII whitespace character (ASCII SP or HTAB, 0x20 or 0x09).

> A request or response that contains a field that violates any of these conditions MUST be treated as [malformed](https://www.rfc-editor.org/rfc/rfc9113.html#malformed) ([Section 8.1.1](https://www.rfc-editor.org/rfc/rfc9113.html#malformed)).

### [RFC9113 Section 8.1.1](https://www.rfc-editor.org/rfc/rfc9113.html#name-malformed-messages)

> Malformed requests or responses that are detected MUST be treated as a [stream error](https://www.rfc-editor.org/rfc/rfc9113.html#StreamErrorHandler) ([Section 5.4.2](https://www.rfc-editor.org/rfc/rfc9113.html#StreamErrorHandler)) of type [PROTOCOL_ERROR](https://www.rfc-editor.org/rfc/rfc9113.html#PROTOCOL_ERROR).

> For malformed requests, a server MAY send an HTTP response prior to closing or resetting the stream. Clients MUST NOT accept a malformed response.

<hr>

Firstly the error code should be `PROTOCOL_ERROR` not  `CANCEL`.

The `HpackEncoder` is correct to throw the `HpackException$StreamException`. But I think we could potentially handle the error and send back a 500 response, as long as we never actually send out the bad header.



@lachlan-roberts if you're working on this, let's sync up.

From an initial analysis it's harder than expected, as we do not call `Response.writeError()`, nor the `ErrorHandler`, etc. so we need to review the logic in `HttpChannelState`.

I asked a question at jakarta/servlet about the behavior at the Servlet API level on this.
If we could just trim the value before sending it then we wouldn't have this HPACK error.

* https://github.com/jakartaee/servlet/issues/926

Merged.