How to ignore HTTP request body

**Jetty Version**
12.0.16

**Jetty Environment**
core

**Java Version**
21

**Question**

My server code sometimes needs to inspect the HTTP headers and immediately choose to _not_ accept the request body. For example, it may check authentication headers and, if they aren't accepted, opt to respond with a 403 and ignore the request body completely.

What is the correct way to ignore the request body? I've tried simply _not consuming the request body_ but that causes client exceptions like:

```
java.util.concurrent.ExecutionException: org.eclipse.jetty.io.EofException
	at java.base/java.util.concurrent.CompletableFuture.reportGet(CompletableFuture.java:396)
	at java.base/java.util.concurrent.CompletableFuture.get(CompletableFuture.java:2073)
	at org.eclipse.jetty.client.transport.HttpRequest.send(HttpRequest.java:707)
	at JettyServerAndClient.runClient(JettyServerAndClient.java:91)
	at JettyServerAndClient.main(JettyServerAndClient.java:31)
Caused by: org.eclipse.jetty.io.EofException
	at org.eclipse.jetty.io.SocketChannelEndPoint.flush(SocketChannelEndPoint.java:118)
	at org.eclipse.jetty.io.WriteFlusher.flush(WriteFlusher.java:422)
	at org.eclipse.jetty.io.WriteFlusher.write(WriteFlusher.java:275)
	at org.eclipse.jetty.io.WriteFlusher.write(WriteFlusher.java:254)
	at org.eclipse.jetty.io.AbstractEndPoint.write(AbstractEndPoint.java:368)
	at org.eclipse.jetty.client.transport.internal.HttpSenderOverHTTP$HeadersCallback.process(HttpSenderOverHTTP.java:206)
	at org.eclipse.jetty.util.IteratingCallback.processing(IteratingCallback.java:262)
	at org.eclipse.jetty.util.IteratingCallback.iterate(IteratingCallback.java:243)
	at org.eclipse.jetty.client.transport.internal.HttpSenderOverHTTP.sendHeaders(HttpSenderOverHTTP.java:78)
	at org.eclipse.jetty.client.transport.HttpSender$ContentSender.process(HttpSender.java:569)
	at org.eclipse.jetty.util.IteratingCallback.processing(IteratingCallback.java:262)
	at org.eclipse.jetty.util.IteratingCallback.iterate(IteratingCallback.java:243)
	at org.eclipse.jetty.client.transport.HttpSender.send(HttpSender.java:85)
	at org.eclipse.jetty.client.transport.internal.HttpChannelOverHTTP.send(HttpChannelOverHTTP.java:86)
	at org.eclipse.jetty.client.transport.HttpChannel.send(HttpChannel.java:142)
	at org.eclipse.jetty.client.transport.HttpConnection.send(HttpConnection.java:112)
	at org.eclipse.jetty.client.transport.internal.HttpConnectionOverHTTP$Delegate.send(HttpConnectionOverHTTP.java:379)
	at org.eclipse.jetty.client.transport.internal.HttpConnectionOverHTTP.send(HttpConnectionOverHTTP.java:168)
	at org.eclipse.jetty.client.transport.HttpDestination.send(HttpDestination.java:444)
	at org.eclipse.jetty.client.transport.HttpDestination.process(HttpDestination.java:420)
	at org.eclipse.jetty.client.transport.HttpDestination.process(HttpDestination.java:375)
	at org.eclipse.jetty.client.transport.HttpDestination.send(HttpDestination.java:358)
	at org.eclipse.jetty.client.transport.HttpDestination.succeeded(HttpDestination.java:291)
	at org.eclipse.jetty.client.AbstractConnectionPool.proceed(AbstractConnectionPool.java:315)
	at org.eclipse.jetty.client.AbstractConnectionPool$FutureConnection.succeeded(AbstractConnectionPool.java:615)
	at org.eclipse.jetty.client.AbstractConnectionPool$FutureConnection.succeeded(AbstractConnectionPool.java:593)
	at org.eclipse.jetty.util.Promise$Wrapper.succeeded(Promise.java:197)
	at org.eclipse.jetty.client.transport.internal.HttpConnectionOverHTTP.onOpen(HttpConnectionOverHTTP.java:209)
	at org.eclipse.jetty.io.SelectorManager.connectionOpened(SelectorManager.java:325)
	at org.eclipse.jetty.io.ClientConnector$ClientSelectorManager.connectionOpened(ClientConnector.java:687)
	at org.eclipse.jetty.io.ManagedSelector.createEndPoint(ManagedSelector.java:403)
	at org.eclipse.jetty.io.ManagedSelector$CreateEndPoint.run(ManagedSelector.java:1057)
	at org.eclipse.jetty.util.thread.QueuedThreadPool.runJob(QueuedThreadPool.java:979)
	at org.eclipse.jetty.util.thread.QueuedThreadPool$Runner.doRunJob(QueuedThreadPool.java:1209)
	at org.eclipse.jetty.util.thread.QueuedThreadPool$Runner.run(QueuedThreadPool.java:1164)
	at java.base/java.lang.Thread.run(Thread.java:1583)
Caused by: java.io.IOException: Broken pipe
	at java.base/sun.nio.ch.SocketDispatcher.writev0(Native Method)
	at java.base/sun.nio.ch.SocketDispatcher.writev(SocketDispatcher.java:66)
	at java.base/sun.nio.ch.IOUtil.write(IOUtil.java:227)
	at java.base/sun.nio.ch.IOUtil.write(IOUtil.java:158)
	at java.base/sun.nio.ch.SocketChannelImpl.write(SocketChannelImpl.java:574)
	at java.base/java.nio.channels.SocketChannel.write(SocketChannel.java:660)
	at org.eclipse.jetty.io.SocketChannelEndPoint.flush(SocketChannelEndPoint.java:112)
	... 35 more
```

I see a similar issue when using Envoy as a proxy. Envoy reports "Broken pipe" and actually responds to its downstream client with a 503. It's not just a Jetty client problem.

For testing Jetty I've been using the following code:

```java
import java.util.Random;
import java.util.concurrent.ConcurrentHashMap;
import java.util.concurrent.atomic.AtomicInteger;

import org.eclipse.jetty.client.BytesRequestContent;
import org.eclipse.jetty.client.ContentResponse;
import org.eclipse.jetty.client.HttpClient;
import org.eclipse.jetty.io.Content;
import org.eclipse.jetty.server.Handler;
import org.eclipse.jetty.server.Request;
import org.eclipse.jetty.server.Response;
import org.eclipse.jetty.server.Server;
import org.eclipse.jetty.server.ServerConnector;
import org.eclipse.jetty.util.Callback;

public class JettyServerAndClient {

	// Number of requests that the server has seen and will respond with a 403.
	private static final AtomicInteger SERVER_SAW = new AtomicInteger();

	// Number of responses that the client has seen, by status code.
	private static final ConcurrentHashMap<Integer, Integer> CLIENT_SAW = new ConcurrentHashMap<>();

	private static final int SERVER_PORT = 9000;

	private static final int PROXY_PORT = 9000;

	public static void main(String[] args) {
		try {
			runServer();
			runClient();
		} catch (Exception e) {
			e.printStackTrace();
		}
		System.exit(CLIENT_SAW.contains(503) ? 1 : 0);
	}

	// Create a HttpServer that responds with 403.
	private static void runServer() throws Exception {

		// Create server
		Server server = new Server();
		ServerConnector connector = new ServerConnector(server);
		connector.setPort(SERVER_PORT);
		server.addConnector(connector);

		// Create simple handler
		server.setHandler(new Handler.Abstract() {
			@Override
			public boolean handle(Request request, Response response, Callback callback) throws Exception {

				// Count number of requests
				SERVER_SAW.incrementAndGet();

				// If this is enabled, then client becomes happy
				if (false) {
					Content.Source.asByteBuffer(request);
				}

				// Send a 403
				Response.writeError(request, response, callback, 403);

				return true;
			}

		});

		// Start the server
		server.start();

		System.out.println("Server will listen on port " + SERVER_PORT);
	}

	// Create a HttpClient that passes more than 1mb of data to the server.
	private static void runClient() throws Exception {
		System.out.println("Client will query on port " + PROXY_PORT);

		// Create more than 1 megabyte of random data
		byte[] data = new byte[2 * 1024 * 1024];
		new Random().nextBytes(data);

		// Create client
		try (HttpClient client = new HttpClient()) {
			client.start();

			for (int i = 1; i <= 1000; i++) {

				// Perform a simple POST request
				String url = "http://localhost:" + PROXY_PORT + "/request" + i;
				ContentResponse response = client.POST(url).body(new BytesRequestContent(data)).send();
				CLIENT_SAW.merge(response.getStatus(), 1, Integer::sum);

				if (i % 10 == 0) {
					System.out.println("Server has seen " + SERVER_SAW + " requests, and client has seen " + CLIENT_SAW + " responses");
				}
			}

			client.stop();
		}
	}
}
```


> My server code sometimes needs to inspect the HTTP headers and immediately choose to _not_ accept the request body. For example, it may check authentication headers and, if they aren't accepted, opt to respond with a 403 and ignore the request body completely.
> 
> What is the correct way to ignore the request body? I've tried simply _not consuming the request body_ but that causes client exceptions like:

Doing this breaks HTTP/1.1 persistence, hence it's an IOException.

If you do this on HTTP/2 then things are a bit more resilient, as HTTP/2 supports this kind of behavior without actually breaking the HTTP/2 protocol.

Ah, thanks for confirming that. Does this imply that Jetty on HTTP/1.1 does not directly implement the "half-close TCP connection" part of RFC7230, section 6.6? https://datatracker.ietf.org/doc/html/rfc7230#section-6.6

```
   To avoid the TCP reset problem, servers typically close a connection
   in stages.  First, the server performs a half-close by closing only
   the write side of the read/write connection.  The server then
   continues to read from the connection until it receives a
   corresponding close by the client, or until the server is reasonably
   certain that its own TCP stack has received the client's
   acknowledgement of the packet(s) containing the server's last
   response.  Finally, the server fully closes the connection.
```

Assuming we don't know whether HTTP/1.1 or HTTP/2 are in use, should Jetty users ensure the request body is completely read before calling `Response.writeError()` or similar?

The critical part there is "the server then continues to read from the connection until ..." for half-closed connections (which Jetty supports).
The role of reading from the connection is on your Servlets / Handlers.
If you exit the handling of the request, and didn't finish reading the request body, then the server itself wont do (or complete) the reading for you.

The server used to read the request body arbitrarily to completion (in the distant past) but malicious clients can consume server resources abusing this feature by sending an large/infinite sized request bodies. (even sending slowly enough to not trigger idle connection timeout to aggravate things even more).

You are free to close prematurely, like how you are doing, but you'll have to deal with the side effects of that as well.
If you care about maintaining HTTP/1.x persistent connections, then do the reading yourself (but be aware of malicious clients!).


In addition to what @joakime said, Jetty server tries to consume all available request content without blocking.

If the client has sent the request content, and it is available from the network, it will be consumed by Jetty server and the connection kept open.

If the Jetty server cannot consume the full request content (e.g. reads `0` bytes from the network), then it does not wait for the rest of the request content and tears down the connection.

We have an API to consume the content, if you want to use it: `Content.Source.consumeAll(...)`, but of course it may be a problem if the client does not send the content, or sends it very slowly.

> Does this imply that Jetty on HTTP/1.1 does not directly implement the "half-close TCP connection" part of RFC7230, section 6.6?

Jetty does implement that behavior.

> Assuming we don't know whether HTTP/1.1 or HTTP/2 are in use, should Jetty users ensure the request body is completely read before calling `Response.writeError()` or similar?

It depends.

The server application may decide to read the request content. If it does so non-blocking, not many resources will be used, so this will scale reasonably well.
However, the client will receive the response only after the request content has been fully read.
A good client over a bad network can suffer from this, as the response will arrive later (but keep the connection open) rather than sooner (but close the connection).

A bad client (an attacker) can send the content really slowly (or not at all), to try to occupy server resources -- that's why it is important to read non-blocking.
An attacker may open a large number of connections, never send the request content, and if the server application waits to read the request content, some server resources will be consumed (at minimum the data structures necessary for each connection).

If you know your clients are good clients, reading the request content non-blocking could be ok.

Otherwise, it's probably best to just not take a risk, respond immediately, and if the connection is torn down because the request content could not be fully read by Jetty server, so be it (less resources consumed on the server).


Thanks @joakime and @sbordet.

I've been testing:

```java
Response.writeError(request, response, callback, 403);
Content.Source.consumeAll(request);
```

and this seems to produce the behaviour described in the RFC:

1. the server sends `PSH,ACK` with a 403 response, and the client responds with `ACK`
2. the server sends `FIN,ACK` to close the write half of the connection

However, the Jetty client continues to provide data, and eventually the Jetty server responds with `RST`. The Jetty client then encounters a `BrokenPipeException` and the user of the Jetty client never gets to see the 403 response. I would have thought either:

- the Jetty server would _not_ respond with `RST` because it's meant to continue consuming data sent by the client as per the RFC or
- the Jetty client would see the `BrokenPipeException` while sending data, and so check if a complete response was already provided

Is there perhaps something I'm doing wrong by calling `consumeAll()` after `writeError()`?

The write of the response, and therefore the call to `Response.writeError()`, needs to figure out whether to send the `Connection: close` header in the HTTP/1.1 response.

In order to do that, it has to consume the request content internally.

In your case, apparently it does not succeed to read the whole request content, so it issues the `FIN`.

That you call `Content.Source.consumeAll(request)` afterward has no effect, as it is too late.

You need to consume the request content non-blocking, and then write the response:

```java
Content.Source.consumeAll(request, Callback.from(() -> Response.writeError(request, response, callback, 403)));
```

As I said before, consuming the whole request content may be a problem if the client is a bad client.

If you don't know your clients, I would not bother trying to read the request content, as Jetty will do a best effort anyway for you, you won't risk to consume too many server resources if the client is bad, and hopefully the client gets the response as soon as possible, but yes, the connection will likely be closed.

Closing as answered.