Response headers for HEAD request not the same as GET when Transfer-Encoding: chunked

Just reporting an interesting discovery when testing PR #2640 

Sample project ...

``` java
package jetty.client;

import java.io.IOException;
import java.io.OutputStream;
import java.net.HttpURLConnection;
import java.net.URI;
import java.util.Arrays;

import javax.servlet.http.HttpServlet;
import javax.servlet.http.HttpServletRequest;
import javax.servlet.http.HttpServletResponse;

import org.eclipse.jetty.server.Server;
import org.eclipse.jetty.servlet.ServletContextHandler;

public class HeadTests
{
    public static void main(String[] args) throws Exception
    {
        Server server = new Server(8080);

        ServletContextHandler context = new ServletContextHandler();
        context.setContextPath("/");

        context.addServlet(LargeChunkedSimpleFlushServlet.class, "/chunked/simple");
        context.addServlet(LargeChunkedResponseFlushServlet.class, "/chunked/response");

        server.setHandler(context);

        server.start();

        URI serverUri = server.getURI().resolve("/");

        doGetHead(serverUri.resolve("/chunked/simple"));
        doGetHead(serverUri.resolve("/chunked/response"));

        server.stop();
    }

    public static void doGetHead(URI destURI)
    {
        try
        {
            HttpURLConnection httpGet = (HttpURLConnection) destURI.toURL().openConnection();
            httpGet.setRequestMethod("GET");
            dumpRequestResponse(httpGet);

            HttpURLConnection httpHead = (HttpURLConnection) destURI.toURL().openConnection();
            httpHead.setRequestMethod("HEAD");
            dumpRequestResponse(httpHead);
        }
        catch (Throwable t)
        {
            t.printStackTrace();
        }
    }

    private static void dumpRequestResponse(HttpURLConnection http) throws IOException
    {
        System.out.println();
        System.out.println("----");
        System.out.printf("%s %s HTTP/1.1%n", http.getRequestMethod(), http.getURL());
        System.out.println("----");
        System.out.printf("%s%n", http.getHeaderField(null));
        http.getHeaderFields().entrySet().stream()
                .filter(entry -> entry.getKey() != null)
                .forEach((entry) -> System.out.printf("%s: %s%n", entry.getKey(), http.getHeaderField(entry.getKey())));
    }

    public static class LargeChunkedSimpleFlushServlet extends HttpServlet
    {
        int length = 10 * 1024 * 1024;
        int iterations = 20;

        @Override
        protected void doGet(HttpServletRequest request, HttpServletResponse response) throws
                IOException
        {
            OutputStream out = response.getOutputStream();
            for (int i = 0; i < iterations; i++)
            {
                byte buf[] = new byte[length];
                Arrays.fill(buf, (byte) ('a' + i));
                out.write(buf);
                out.flush();
            }
        }
    }

    public static class LargeChunkedResponseFlushServlet extends HttpServlet
    {
        int length = 10 * 1024 * 1024;
        int iterations = 20;

        @Override
        protected void doGet(HttpServletRequest request, HttpServletResponse response) throws
                IOException
        {
            OutputStream out = response.getOutputStream();
            for (int i = 0; i < iterations; i++)
            {
                byte buf[] = new byte[length];
                Arrays.fill(buf, (byte) ('a' + i));
                out.write(buf);
                response.flushBuffer();
            }
        }
    }
}
```

Presented is 2 different ways to produce `Transfer-Encoding: chunked` responses.
First relies on the `outputStream.flush()`, the other relies on `response.flushBuffer()` to commit the response early, producing a `Transfer-Encoding: chunked` response without a `Content-Length` response header.

Here's the results of `GET` and then `HEAD` against both URLs...

```
----
GET http://192.168.0.119:8080/chunked/simple HTTP/1.1
----
HTTP/1.1 200 OK
Transfer-Encoding: chunked
Server: Jetty(9.4.9.v20180320)
Date: Fri, 08 Jun 2018 15:58:44 GMT

----
HEAD http://192.168.0.119:8080/chunked/simple HTTP/1.1
----
HTTP/1.1 200 OK
Server: Jetty(9.4.9.v20180320)
Content-Length: 209715200
Date: Fri, 08 Jun 2018 15:58:44 GMT

----
GET http://192.168.0.119:8080/chunked/response HTTP/1.1
----
HTTP/1.1 200 OK
Transfer-Encoding: chunked
Server: Jetty(9.4.9.v20180320)
Date: Fri, 08 Jun 2018 15:58:44 GMT

----
HEAD http://192.168.0.119:8080/chunked/response HTTP/1.1
----
HTTP/1.1 200 OK
Transfer-Encoding: chunked
Server: Jetty(9.4.9.v20180320)
Date: Fri, 08 Jun 2018 15:58:44 GMT
```

What you'll see is that the `outputStream.flush()` version does not produce a `Transfer-Encoding: chunked` in the `HEAD` response.

If we look at the spec at https://tools.ietf.org/html/rfc7231#section-4.3.2 you'll see that it says ...

```
   The server SHOULD send the same
   header fields in response to a HEAD request as it would have sent if
   the request had been a GET, except that the payload header fields
   (Section 3.3) MAY be omitted.
```

In this case we are not following the SHOULD part, but we are following the MAY part.
This isn't necessarily a bad thing, not sure we should even change/fix/alter anything on Jetty.
Perhaps this is just a documentation concern?

This testing was brought on by Issue #2631 

Interesting!  I've no time to look for a while... would be interesting to see a variation where the writes were smaller than the commit size, so the flush did the commit rather than the flush().... actually that is really strange!  We must somehow be avoiding committing on head responses when a write is too large to be aggregated?    Will have to follow up to understand even if we don't change anything.

Perhaps this could be a Generator based ComplianceSection for 7230?

`STRIP_PAYLOAD_HEADER_FIELDS_ON_HEAD` which just strips the Section 3.3 header fields with HEAD requests.
https://tools.ietf.org/html/rfc7231#section-3.3

```
   +-------------------+----------------------------+
   | Header Field Name | Defined in...              |
   +-------------------+----------------------------+
   | Content-Length    | Section 3.3.2 of [RFC7230] |
   | Content-Range     | Section 4.2 of [RFC7233]   |
   | Trailer           | Section 4.4 of [RFC7230]   |
   | Transfer-Encoding | Section 3.3.1 of [RFC7230] |
   +-------------------+----------------------------+
```


The difference is due to the servlet-api doHead implementation: https://github.com/eclipse-ee4j/servlet-api/blob/master/src/main/java/javax/servlet/http/HttpServlet.java#L192-L197
This actually sets the content-length, even if the non-head doGet does not!
I have raised https://github.com/eclipse-ee4j/servlet-api/issues/225
