X-Forwarded-For missing last hextet for ipv6

The code from https://github.com/eclipse/jetty.project/issues/3302 has broken ipv6 support for `X-Forwarded-For` headers.

This means that `request.getRemoteAddr()` no longer returns the full ipv6 address.
E.g. nginx sets the header  `X-Forwarded-For: 2001:878:302:6:5dcb:8e1:f1c9:c71c` then jetty will set the `request.getRemoteAddr()` to `2001:878:302:6:5dcb:8e1:f1c9` which is not a valid ipv6 address.

The problem stems from the [HostPort change](https://github.com/eclipse/jetty.project/blame/051edc94d737456a59100d7814f4b13020d7fff7/jetty-server/src/main/java/org/eclipse/jetty/server/ForwardedRequestCustomizer.java#L449), but it seems like a [previous commit](https://github.com/eclipse/jetty.project/blame/edf74a655473e5dda82c8e67e5c9ffea6ec0d025/jetty-server/src/main/java/org/eclipse/jetty/server/ForwardedRequestCustomizer.java) tried to handle it. It might be a an idea to check if it is a ipv6 address, instead of just checking if a `:` is present (guess that was why the code ended up looking like it does now).

Consider if `X-Forwarded-Port` is the proper way to send on the port, rather than `X-Forwarded-For`.

POC test app
```
import java.io.*;
import javax.servlet.*;
import javax.servlet.http.*;

public class TestServlet extends HttpServlet {
   public void doGet(HttpServletRequest request, HttpServletResponse response)
      throws ServletException, IOException {
      response.setContentType("text/html");
      PrintWriter out = response.getWriter();
      out.println("<h1>Request IP: " + request.getRemoteAddr() + "</h1>");
   }
   public void init() throws ServletException {}
   public void destroy() {}
}
```

```
        location / {
                proxy_pass http://127.0.0.1:8080;
                proxy_set_header Host $host;
                proxy_set_header X-Forwarded-For $remote_addr;
                proxy_set_header      X-Forwarded-Proto $scheme;
                proxy_set_header      X-Forwarded-Port  $server_port;
        }
```


I can confirm this bug.
Quite a price to pay for custom support of Azure Load balancers with non-standard `X-Forwarded-For` headers. :disappointed: 

Looking at the unit tests Jetty now assumes bracket-notation for the `X-Forwarded-For` header, while that's apparently not a thing that you would normally observe according to https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/X-Forwarded-For

Note: you can configure Azure for the [RFC7239](https://tools.ietf.org/html/rfc7239) standard for `Forward` headers, which Jetty supports (and [has test cases for](https://github.com/eclipse/jetty.project/blob/jetty-9.4.x/jetty-server/src/test/java/org/eclipse/jetty/server/ForwardedRequestCustomizerTest.java)).

https://docs.microsoft.com/en-us/azure/api-management/policies/set-header-to-enable-backend-to-construct-urls

> Consider if `X-Forwarded-Port` is the proper way to send on the port, rather than `X-Forwarded-For`.

The fact that there's about 2 dozen different varieties of this never a formal standard `X-Forwarded-*` header, that's not surprising.

How would you change the following testcase to replicate this issue?

https://github.com/eclipse/jetty.project/blob/8cdb36f32bef167e72e7ed86c82ddcbbdfb6556c/jetty-server/src/test/java/org/eclipse/jetty/server/ForwardedRequestCustomizerTest.java#L237-L250

@joakime Interesting! Nice find. So that means that people using Azure can use that `Forward` functionality and the easiest way forward (no pun intended) is to revert https://github.com/eclipse/jetty.project/issues/3302 I think?

Issue #3302 will not be reverted, as there's far too many situations where the port is on `X-Forwarded-Host` (as opposed on `X-Forwarded-For`)

(Again, the `X-Forwarded-Host` is **not a standard**, and there's many "in the wild" interpretations of how to implement it)

If we, Jetty, want to have support for it, then we must support all interpretations.  _(Frankly, we wish it didn't exist, and that people would use only the published RFC7239 standard)_

Back to the filed issue...

Some examples requests to help this discussion ...

**Two forwarded-for hosts with ports**
```
GET /foo HTTP/1.1
Host: myhost
X-Forwarded-For: [2001:db8:cafe::17]:1111,6.5.4.3:2222
```

**Two forwarded-hosts (with ports)**
```
GET /foo HTTP/1.1
Host: myhost
X-Forwarded-Host: [2001:db8:cafe::17]:1111,6.5.4.3:2222
```


**Two forwarded host/port pairs**
```
GET /foo HTTP/1.1
Host: myhost
X-Forwarded-Host: [2001:db8:cafe::17],6.5.4.3
X-Forwarded-Port: 1111,2222
```

**A pathological request from a load balancer with confusing details**
```
GET /foo HTTP/1.1
Host: myhost
X-Forwarded-For: [2001:db8:cafe::17]:1111,6.5.4.3:2222
X-Forwarded-Host: [2001:db8:cafe::17],6.5.4.3
X-Forwarded-Port: 3333,4444
```
(I think our current implementation will produce 4 host:port pairs from this.  Perhaps we should throw a 400 Bad Request instead?)


**A IPv6 only request from a load balancer: Using Host/Port**
```
GET /foo HTTP/1.1
Host: myhost
X-Forwarded-Host: [2001:db8:cafe::17]
X-Forwarded-Port: 1111
```

**A IPv6 only request from a load balancer: Using `For`**
```
GET /foo HTTP/1.1
Host: myhost
X-Forwarded-For: [2001:db8:cafe::17]:1111
```

Now, lets see what your failing request looks like.

Would it be possible to have a check in place in HostPort that checks if there is more than one `: ` and  and no `[]`?
That or verify that it is actually a proper ipv6 address rather than reporting back an invalid address?

@mkrogh what do you mean by "more than one `:`" ?  Please give us a concrete example.

IPv6 supports more then one `:` currently.

Example of valid authorities (from our `HostPortTest`) ...

https://github.com/eclipse/jetty.project/blob/8cdb36f32bef167e72e7ed86c82ddcbbdfb6556c/jetty-util/src/test/java/org/eclipse/jetty/util/HostPortTest.java#L34-L46

Examples of invalid authorities (from our `HostPortTest`) ...

https://github.com/eclipse/jetty.project/blob/8cdb36f32bef167e72e7ed86c82ddcbbdfb6556c/jetty-util/src/test/java/org/eclipse/jetty/util/HostPortTest.java#L48-L62


Example on a linux command line ...

An IPv6 Host with multiple `:` characters (two in a row in this example) - IP is valid, but the hostname cannot be found.
```
[joakim@hyperion tmp]$ host 2001:db8:cafe::17
Host 7.1.0.0.0.0.0.0.0.0.0.0.0.0.0.0.0.0.0.0.e.f.a.c.8.b.d.0.1.0.0.2.ip6.arpa not found: 3(NXDOMAIN)
```

Example of IPv6 failure if given three `:` characters in a row. - IP is invalid.
```
[joakim@hyperion tmp]$ host 2001:db8:cafe:::17
Host 2001:db8:cafe:::17 not found: 2(SERVFAIL)
```

I gave an example in the initial post, but what I meant was given e.g. that Nginx sets `$remote_addr` for an ipv6 address to be without the brackets that is: `2001:878:302:6:5dcb:8e1:f1c9:c71c` not `[2001:878:302:6:5dcb:8e1:f1c9:c71c]` it might make sense to support it since it worked before #3302 .

Sorry for the confusion but what I meant is that HostPort does not support a raw ipv6 address without the brackets. Which I guess is fine if it is supposed to be a hostname and a port. But the place it is being used that causes this bug is getRemoteAddr, which normally returns an ip address.


Put into the testcase format from `validAuthorityProvider` I mean supporting this:

```java
Arguments.of("2001:878:302:6:5dcb:8e1:f1c9:c71c", "2001:878:302:6:5dcb:8e1:f1c9:c71c", null),
// or perhaps
Arguments.of("2001:878:302:6:5dcb:8e1:f1c9:c71c", "[2001:878:302:6:5dcb:8e1:f1c9:c71c]", null),
```


The actual problem I have is that [HttpServletRequest.RemoteAddr](https://javaee.github.io/javaee-spec/javadocs/javax/servlet/ServletRequest.html#getRemoteAddr--) is supposed to return the client IP address. The way jetty currently does parsing of `X-Forwarded-For` turns a non bracketed IPv6 address (e.g. `2001:878:302:6:5dcb:8e1:f1c9:c71c`)  into an invalid IPv6 address loosing the last chunk, in this case the `c71c`.

Even though `X-Forwarded-For` is not a standard it is supposed to return a comma separated list of ip adresses of the clients it has passed through, making it possible to get the ip address of the real client.   

@joakime with regards to the examples from `host`:

```
⇑ idun:~ λ host 2001:878:302:6:5dcb:8e1:f1c9:c71c
Host c.1.7.c.9.c.1.f.1.e.8.0.b.c.d.5.6.0.0.0.2.0.3.0.8.7.8.0.1.0.0.2.ip6.arpa not found: 3(NXDOMAIN)

⇑ idun:~ λ host 2001:878:302:6:5dcb:8e1:f1c9
Host 2001:878:302:6:5dcb:8e1:f1c9 not found: 3(NXDOMAIN)
```
The last is an example of what jetty returns from [HttpServletRequest.RemoteAddr](https://javaee.github.io/javaee-spec/javadocs/javax/servlet/ServletRequest.html#getRemoteAddr--)

I really REALLY would like to know what the IPv6 designers were thinking when they decided to use : as the separator!
The issue here appears to be that [] are not required for IPv6 when used in the way nginx is.    So, yes I think we probably do need a better check of IPv6 addresses without [].


The rules for IPv6 are actually referenced in the RFC7239 (Forwarding), RFC2732 (URI syntax for IPv6), RF3986 (URI syntax update), RFC7230 (HTTP uri-host header).

In the above RFCs, the IPv6 representation in textual form MUST be enclosed in square brackets, always, regardless of use of port after or not.
In RFC7239 (Forwarding), it takes the extra step of requiring that the use of IPv6 + port be enclosed in quotes to satisfy HTTP header field requirements.
Interesting note, the IETF has already declared future IP formatting in the above specs, they too require square brackets, and has the ABNF of `IPvFuture  = "v" 1*HEXDIG "." 1*( unreserved / sub-delims / ":" )` (so that means the opening characters `v#.` are technically valid right now for future IP addresses / hosts.  should we detect that and error out with a clear error message?)

Even nginx requires using square brackets for IPv6 in their discussion on using RFC7239 (Forwarding) - https://www.nginx.com/resources/wiki/start/topics/examples/forwarded/

So we have to decide, do we support yet another variant of `X-Forwarded-For` with bad IPv6 usage? or force users to configure their load balancers / proxies properly?



@joakime It depends on what you consider the 'yet another variant' of `X-Forwarded-For`. The `X-Forwarded-For` has never been an official spec. The de facto 'standard' is documented by Mozilla here: https://docs.aws.amazon.com/elasticloadbalancing/latest/classic/x-forwarded-headers.html#x-forwarded-for
That one is indeed using the non-bracket notation. Not nice and not compliant with the RFCs, but clear, ubiquitous and non-ambiguous. For example Amazon AWS's Load balancer follows Mozilla's guideline. Ref: https://docs.aws.amazon.com/elasticloadbalancing/latest/classic/x-forwarded-headers.html#x-forwarded-for

I think it was a mistake by Azure to add a port number to the `X-Forwarded-For`. Although it makes sense in hindsight, you cannot simply break compatibility with existing semi-standards that everyone is already using.

My suggestion is to follow the Mozilla specs as a guideline so we have a clear and invariant source of truth. If people want to include port numbers in the header that's fine, but then use an additional header `X-Forwarded-Port` like AWS does, or just skip this legacy `X-Forwarded-*` altogether and use the new and official [`Forwarded`](https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Forwarded).

@vanDonselaar we've encountered too many variants outside of the mozilla documented de-facto spec to just stick with just the mozilla behaviors. sorry. (the perils of having countless millions of instances of Jetty operating in countless environments for the past 24 years)

> I think it was a mistake by Azure to add a port number to the `X-Forwarded-For`. 

Azure wasn't the first, nor the last to add ports to `X-Forwarded-For`.
Unfortunately, because Azure did it, now we are seeing dozens of other proxies/load balancers that are _adding_ this feature as well. (so we are actually seeing an increase in usage of port!)
And we are not the only open source project dealing with this. (see akka, go, and python issue trackers for similar impacts of port in `X-Forwarded-For` across many different proxy/load balancer implementations)

>  or just skip this legacy `X-Forwarded-*` altogether and use the new and official `Forwarded`.

We do support the official RFC7239 `Forwarded` spec already.


@mkrogh I've had lots of self debates over the issue of should we return the "[ ]" or not.  I can see the argument that the getLocalAddr and getRemoteAddr methods should return the address without the [] brackets.  However, currently for a normal request (without forwarding), those methods are returning  the address in [] brackets, so to be compatible I have made the forwarding customizer have the same behaviour.   Note we will accept the address with our without the brackets in the headers, but we will normalize and return with the [] from our methods.

I need to double check why we went that way... and perhaps we have got that wrong, but if so, we will fix it for all behaviours not just forwarding.



@gregw With regards to `[]`, I dont have any real preference to what getRemoteAddr should return. 

The problem I have is that jetty currently removes the last hextet of the ip address when handling `X-Forwarded-For` without brackets.

@joakime That makes sense. Thank you for the clear explanation. And thank you for your work on Jetty of course!

@vanDonselaar interestingly, the way other projects are handling ports in `X-Forwarded-For` varies.   

* Some parse the port and provide it to the APIs on that project.
* Some recognize that the port exists and drop it, never returning the port on the APIs for that project. (it should be noted that _most of_ those projects don't even seem to support the `X-Forwarded-Port` header)
* Some even have configuration to add the port if it's not present in the `X-Forwarded-For` (geez)

_... rolls his eyes ..._

@mkrogh I believe my PR #3639 should address your issue with the last hextet being dropped.  I have a unit test for it, but it would be great if you could build and test the branch as well.

@gregw Unfortunatly both the `trunk` and your PR fails when I try to build it using `mvn clean install`. So I cannot test if it fixed the problem.

I see you added the following which should cover the case, but I cannot say for sure:

```java
                Arguments.of("0:1:2:3:4:5:6","[0:1:2:3:4:5:6]",null),
```

The fuller test case only covers when the X-Forwarded-Port is present, not when `X-Forwarded-For` is the only header:

```java
       String response=_connector.getResponse(
                "GET / HTTP/1.1\n"+
                        "Host: myhost\n"+
                        "X-Forwarded-For: 1:2:3:4:5:6:7:8\n"+
                        "X-Forwarded-Port: 2222\n"+
                        "\n");
```

I might suggest adding the following test:

```java
       String response=_connector.getResponse(
                "GET / HTTP/1.1\n"+
                        "Host: myhost\n"+
                        "X-Forwarded-For: 1:2:3:4:5:6:7:8\n"+
                        "\n");
```


The errors from the `mvn clean install`:

```
[ERROR] Failures:
[ERROR]   FileSystemResourceTest.testCaseInsensitiveAlias:739 alias
Expected: getAlias should return <file:/app/jetty-util/target/tests/oejur.FileSystemResourceTest/testCaseInsensitiveAlias%255B1%255D+class+org.eclipse.jetty.util.resource.FileResource/file>
     but: was null
[ERROR]   FileSystemResourceTest.testCaseInsensitiveAlias:739 alias
Expected: getAlias should return <file:///app/jetty-util/target/tests/oejur.FileSystemResourceTest/testCaseInsensitiveAlias%255B2%255D+class+org.eclipse.jetty.util.resource.PathResource/file>
     but: was null
[INFO]
[ERROR] Tests run: 1165, Failures: 2, Errors: 0, Skipped: 94

[ERROR] Failed to execute goal org.apache.maven.plugins:maven-surefire-plugin:3.0.0-M3:test (default-test) on project jetty-util: There are test failures.
```

We'll check that out. Looks like a windows issue...

But you can build without tests to progress this.

Regards


Building using the `maven:3-jdk-8` docker image which is based on stretch with `mvn clean install -Dmaven.test.skip=true` still fails:

```
[INFO] ------------------------------------------------------------------------
[INFO] BUILD FAILURE
[INFO] ------------------------------------------------------------------------
[INFO] Total time:  02:44 min
[INFO] Finished at: 2019-05-14T08:08:20Z
[INFO] ------------------------------------------------------------------------
[ERROR] Failed to execute goal on project jetty-server: Could not resolve dependencies for project org.eclipse.jetty:jetty-server:jar:9.4.19-SNAPSHOT: Could not find artifact org.eclipse.jetty:jetty-http:jar:tests:9.4.19-SNAPSHOT -> [Help 1]
[ERROR]
[ERROR] To see the full stack trace of the errors, re-run Maven with the -e switch.
[ERROR] Re-run Maven using the -X switch to enable full debug logging.
[ERROR]
[ERROR] For more information about the errors and possible solutions, please read the following articles:
[ERROR] [Help 1] http://cwiki.apache.org/confluence/display/MAVEN/DependencyResolutionException
[ERROR]
[ERROR] After correcting the problems, you can resume the build with the command
[ERROR]   mvn <goals> -rf :jetty-server
```

@mkrogh switch from `-Dmaven.test.skip=true` to using `-DskipTests`.
This is because you have to build the tests, and install them, but you don't have to run them.
The missing artifact `org.eclipse.jetty:jetty-http:jar:tests:9.4.19-SNAPSHOT` is a test artifact produced by `/jetty-http/`, but using `-Dmaven.test.skip=true` prevents it from building.

Note, PR #3639 has been merge into `jetty-9.4.x` (mainline) branch.

@gregw Finally got around to test out the build, it works 🎆 

Closing due to merge into mainline `jetty-9.4.x`.