Pass semicolon as is in the request

Hi,
Is there a way that we can pass semi colon as is(without encoding) in the curl request for Jetty to accept it. Could someone please advise?
Thanks,
Chetna K

The semi-colon `;` is part of the [RFC 3986: Reserved Character List](https://tools.ietf.org/html/rfc3986#section-2.2), and has meaning only as a delimiter.  If you want it to be a delimiter (like the `/` in `/path/to/my/resource`) then don't encode it, but if you want it to be a value, then you have to encode it (like the `/` in `/path/with%2fslash/resource`)

Note that the `;` character is used as a delimiter in "path parameters", such as `/path;a/with;b/parameters;c/resource`)
See: https://tools.ietf.org/html/rfc3986#section-3.3

The `;` is not allowed in the host section of the URI/URL.
If you have a `;` in the query section of a URI/URL then it must be percent-encoded.
If you have a `;` in the fragment section of a URL/URL then it must be percent-encoded.

Be aware that curl follows these specs too, it might be (re)encoding it for you.

Thanks Joakine.

Hi Joakime, 

We just noted that when we are passing a curl request with URL in single quotes as 'http://localhost/9022/rest/namespace/ab;c.txt', we can see request._originalURI  is populated as **/rest/namespace/ab;c.txt**. 

However, request._pathInfo is populated as **/rest/namespace/ab** 

Could you please advise if we can set _originalURI as is in _pathInfo? 

Thanks,
Chetna

Request._originalURI is the raw URI as seen in the HTTP protocol (before any parsing, decoding, normalization, etc).

The request `http://localhost/9022/rest/namespace/ab;c.txt` is path `/rest/namespace/ab` with a path parameter name of `c.txt` which has no value. (equivalent of doing `/path/?c.txt` or `/path/?c.txt=`)

The raw, unencoded `;` is being used as a (RFC3986 Section 3.3) delimiter in your example.

If you want to see that `;` in your pathInfo, then you'll need to send it encoded, like this ...

`http://localhost/9022/rest/namespace/ab%3bc.txt`

Closing as invalid