Jetty fails to restart after enabling and disabling the HTTPS module

Hello

I added the https module into /opt/web/mybase/start.ini, I went into /opt/web/mybase/etc and I entered the following command line to create a keystore, taken [here](https://www.eclipse.org/jetty/documentation/current/configuring-ssl.html#generating-key-pairs-and-certificates):
`keytool -keystore keystore -alias jetty -genkey -keyalg RSA`

I tried to configure SSLContextFactory. As it failed, I tried to revert all my stuff (I reverted the changes in the context file and in start.ini and I deleted the file /opt/web/mybase/etc/keystore) but I can no longer restart Jetty. I even deleted the directory of Jetty installation in JETTY_HOME and uncompressed the tar.gz archive anew, I still get the following error in my logs:

> Caused by: java.security.PrivilegedActionException: java.io.IOException: Keystore was tampered with, or password was incorrect
>         at java.security.AccessController.doPrivileged(Native Method)
>         at org.eclipse.jetty.xml.XmlConfiguration.main(XmlConfiguration.java:1837)
>         ... 7 more
> Caused by: java.io.IOException: Keystore was tampered with, or password was incorrect
>         at sun.security.provider.JavaKeyStore.engineLoad(JavaKeyStore.java:780)
>         at sun.security.provider.JavaKeyStore$JKS.engineLoad(JavaKeyStore.java:56)
>         at sun.security.provider.KeyStoreDelegator.engineLoad(KeyStoreDelegator.java:224)
>         at sun.security.provider.JavaKeyStore$DualFormatJKS.engineLoad(JavaKeyStore.java:70)
>         at java.security.KeyStore.load(KeyStore.java:1445)
>         at org.eclipse.jetty.util.security.CertificateUtils.getKeyStore(CertificateUtils.java:54)
>         at org.eclipse.jetty.util.ssl.SslContextFactory.loadKeyStore(SslContextFactory.java:1230)
>         at org.eclipse.jetty.util.ssl.SslContextFactory.load(SslContextFactory.java:365)
>         at org.eclipse.jetty.util.ssl.SslContextFactory.doStart(SslContextFactory.java:287)
>         at org.eclipse.jetty.util.component.AbstractLifeCycle.start(AbstractLifeCycle.java:72)
>         at org.eclipse.jetty.util.component.ContainerLifeCycle.start(ContainerLifeCycle.java:169)
>         at org.eclipse.jetty.util.component.ContainerLifeCycle.doStart(ContainerLifeCycle.java:117)
>         at org.eclipse.jetty.server.SslConnectionFactory.doStart(SslConnectionFactory.java:92)
>         at org.eclipse.jetty.util.component.AbstractLifeCycle.start(AbstractLifeCycle.java:72)
>         at org.eclipse.jetty.util.component.ContainerLifeCycle.start(ContainerLifeCycle.java:169)
>         at org.eclipse.jetty.util.component.ContainerLifeCycle.doStart(ContainerLifeCycle.java:117)
>         at org.eclipse.jetty.server.AbstractConnector.doStart(AbstractConnector.java:320)
>         at org.eclipse.jetty.server.AbstractNetworkConnector.doStart(AbstractNetworkConnector.java:81)
>         at org.eclipse.jetty.server.ServerConnector.doStart(ServerConnector.java:231)
>         at org.eclipse.jetty.util.component.AbstractLifeCycle.start(AbstractLifeCycle.java:72)
>         at org.eclipse.jetty.server.Server.doStart(Server.java:385)
>         at org.eclipse.jetty.util.component.AbstractLifeCycle.start(AbstractLifeCycle.java:72)
>         at org.eclipse.jetty.xml.XmlConfiguration.lambda$main$0(XmlConfiguration.java:1888)
>         ... 9 more
> Caused by: java.security.UnrecoverableKeyException: Password verification failed
>         at sun.security.provider.JavaKeyStore.engineLoad(JavaKeyStore.java:778)
>         ... 31 more

I use Jetty 9.4.21. What can I do to prevent Jetty from trying to access the keystore I deleted?

This is the content of my start.ini file in case it could help:

```
# --------------------------------------- 
# Module: ext
# Adds all jar files discovered in $JETTY_HOME/lib/ext
# and $JETTY_BASE/lib/ext to the servers classpath.
# --------------------------------------- 
--module=ext


# --------------------------------------- 
# Module: server
# Enables the core Jetty server on the classpath.
# --------------------------------------- 
--module=server

### ThreadPool configuration
## Minimum number of threads
# jetty.threadPool.minThreads=10

## Maximum number of threads
# jetty.threadPool.maxThreads=200

## Thread idle timeout (in milliseconds)
# jetty.threadPool.idleTimeout=60000

### Common HTTP configuration
## Scheme to use to build URIs for secure redirects
# jetty.httpConfig.secureScheme=https

## Port to use to build URIs for secure redirects
# jetty.httpConfig.securePort=8443

## Response content buffer size (in bytes)
# jetty.httpConfig.outputBufferSize=32768

## Max response content write length that is buffered (in bytes)
# jetty.httpConfig.outputAggregationSize=8192

## Max request headers size (in bytes)
# jetty.httpConfig.requestHeaderSize=8192

## Max response headers size (in bytes)
# jetty.httpConfig.responseHeaderSize=8192

## Whether to send the Server: header
# jetty.httpConfig.sendServerVersion=true

## Whether to send the Date: header
# jetty.httpConfig.sendDateHeader=false

## Max per-connection header cache size (in nodes)
# jetty.httpConfig.headerCacheSize=512

## Whether, for requests with content, delay dispatch until some content has arrived
# jetty.httpConfig.delayDispatchUntilContent=true

## Maximum number of error dispatches to prevent looping
# jetty.httpConfig.maxErrorDispatches=10

## Maximum time to block in total for a blocking IO operation (default -1 is to use idleTimeout on progress)
# jetty.httpConfig.blockingTimeout=-1

## Cookie compliance mode of: RFC2965, RFC6265
# jetty.httpConfig.cookieCompliance=RFC6265

### Server configuration
## Whether ctrl+c on the console gracefully stops the Jetty server
# jetty.server.stopAtShutdown=true

## Timeout in ms to apply when stopping the server gracefully
# jetty.server.stopTimeout=5000

## Dump the state of the Jetty server, components, and webapps after startup
# jetty.server.dumpAfterStart=false

## Dump the state of the Jetty server, components, and webapps before shutdown
# jetty.server.dumpBeforeStop=false

# --------------------------------------- 
# Module: requestlog
# Enables a NCSA style request log.
# --------------------------------------- 
--module=requestlog

## Logging directory (relative to $jetty.base)
# jetty.requestlog.dir=logs

## File path
# jetty.requestlog.filePath=${jetty.requestlog.dir}/yyyy_mm_dd.request.log

## Date format for rollovered files (uses SimpleDateFormat syntax)
# jetty.requestlog.filenameDateFormat=yyyy_MM_dd

## How many days to retain old log files
jetty.requestlog.retainDays=365

## Whether to append to existing file
jetty.requestlog.append=true

## Whether to use the extended log output
# jetty.requestlog.extended=true

## Whether to log http cookie information
# jetty.requestlog.cookies=true

## Timezone of the log entries
# jetty.requestlog.timezone=GMT

## Whether to log LogLatency
# jetty.requestlog.loglatency=false


# --------------------------------------- 
# Module: servlet
# Enables standard Servlet handling.
# --------------------------------------- 
--module=servlet


# --------------------------------------- 
# Module: resources
# Adds the $JETTY_HOME/resources and/or $JETTY_BASE/resources
# directory to the server classpath. Useful for configuration
# property files (eg jetty-logging.properties)
# --------------------------------------- 
--module=resources


# --------------------------------------- 
# Module: deploy
# Enables webapplication deployment from the webapps directory.
# --------------------------------------- 
--module=deploy

# Monitored directory name (relative to $jetty.base)
# jetty.deploy.monitoredDir=webapps
# - OR -
# Monitored directory path (fully qualified)
# jetty.deploy.monitoredPath=/var/www/webapps

# Defaults Descriptor for all deployed webapps
# jetty.deploy.defaultsDescriptorPath=${jetty.base}/etc/webdefault.xml

# Monitored directory scan period (seconds)
# jetty.deploy.scanInterval=1

# Whether to extract *.war files
# jetty.deploy.extractWars=true


# --------------------------------------- 
# Module: jndi
# Adds the Jetty JNDI implementation to the classpath.
# --------------------------------------- 
--module=jndi


# --------------------------------------- 
# Module: console-capture
# Redirects JVMs console stderr and stdout to a log file,
# including output from Jetty's default StdErrLog logging.
# --------------------------------------- 
--module=console-capture

## Logging directory (relative to $jetty.base)
# jetty.console-capture.dir=logs

## Whether to append to existing file
jetty.console-capture.append=true

## How many days to retain old log files
jetty.console-capture.retainDays=365

## Timezone of the log timestamps
# jetty.console-capture.timezone=GMT

# --------------------------------------- 
# Module: home-base-warning
# Generates a warning that server has been run from $JETTY_HOME
# rather than from a $JETTY_BASE.
# --------------------------------------- 
--module=home-base-warning


# --------------------------------------- 
# Module: http
# Enables a HTTP connector on the server.
# By default HTTP/1 is support, but HTTP2C can
# be added to the connector with the http2c module.
# --------------------------------------- 
--module=http

### HTTP Connector Configuration

## Connector host/address to bind to
# jetty.http.host=0.0.0.0

## Connector port to listen on
# jetty.http.port=8080

## Connector idle timeout in milliseconds
# jetty.http.idleTimeout=30000

## Connector socket linger time in seconds (-1 to disable)
# jetty.http.soLingerTime=-1

## Number of acceptors (-1 picks default based on number of cores)
# jetty.http.acceptors=-1

## Number of selectors (-1 picks default based on number of cores)
# jetty.http.selectors=-1

## ServerSocketChannel backlog (0 picks platform default)
# jetty.http.acceptorQueueSize=0

## Thread priority delta to give to acceptor threads
# jetty.http.acceptorPriorityDelta=0

## Reserve threads for high priority tasks (-1 use a heuristic, 0 no reserved threads)
# jetty.http.reservedThreads=-1

## Connect Timeout in milliseconds
# jetty.http.connectTimeout=15000

## HTTP Compliance: RFC7230, RFC2616, LEGACY
# jetty.http.compliance=RFC7230

# --------------------------------------- 
# Module: webapp
# Adds support for servlet specification webapplication to the server
# classpath.  Without this, only Jetty specific handlers may be deployed.
# --------------------------------------- 
--module=webapp

## Add to the server wide default jars and packages protected or hidden from webapps.
## System classes are protected and cannot be overridden by a webapp.
## Server classes are hidden and cannot be seen by a webapp
## Lists of patterns are comma separated and may be either:
##  + a qualified classname e.g. 'com.acme.Foo'
##  + a package name e.g. 'net.example.'
##  + a jar file e.g. '${jetty.base.uri}/lib/dependency.jar'
##  + a directory of jars,resource or classes e.g. '${jetty.base.uri}/resources'
##  + A pattern preceeded with a '-' is an exclusion, all other patterns are inclusions
##
## The +=, operator appends to a CSV list with a comma as needed.
##
#jetty.webapp.addSystemClasses+=,org.example.
#jetty.webapp.addServerClasses+=,org.example.

# --------------------------------------- 
# Module: servlets
# Puts a collection of jetty utility servlets and filters
# on the server classpath (CGI, CrossOriginFilter, DosFilter,
# MultiPartFilter, PushCacheFilter, QoSFilter, etc.) for
# use by all webapplications.
# --------------------------------------- 
--module=servlets


# --------------------------------------- 
# Module: gzip
# Enable GzipHandler for dynamic gzip compression
# for the entire server.
# --------------------------------------- 
--module=gzip

## Minimum content length after which gzip is enabled
# jetty.gzip.minGzipSize=20480

## Check whether a file with *.gz extension exists
# jetty.gzip.checkGzExists=false

## Gzip compression level (-1 for default)
# jetty.gzip.compressionLevel=-1

## User agents for which gzip is disabled
# jetty.gzip.excludedUserAgent=.*MSIE.6\.0.*

## Inflate request buffer size, or 0 for no request inflation
# jetty.gzip.inflateBufferSize=0

## Comma separated list of included methods
# jetty.gzip.includedMethodList=GET

## Comma separated list of excluded methods
# jetty.gzip.excludedMethodList=


```

run `$ java -jar /path/to/jetty-home/start.jar --list-config` from your jetty.base directory.
see if there's any XML files (listed at the end) that indicate configuration of ssl.

```

Java Environment:
-----------------
 java.home = /usr/lib/jvm/java-8-openjdk-armhf/jre (null)
 java.vm.vendor = Oracle Corporation (null)
 java.vm.version = 25.171-b11 (null)
 java.vm.name = OpenJDK Client VM (null)
 java.vm.info = mixed mode (null)
 java.runtime.name = OpenJDK Runtime Environment (null)
 java.runtime.version = 1.8.0_171-8u171-b11-1~bpo8+1-b11 (null)
 java.io.tmpdir = /tmp (null)
 user.dir = /opt/web/mybase (null)
 user.language = en (null)
 user.country = null (null)

Jetty Environment:
-----------------
 jetty.version = 9.4.21.v20190926
 jetty.tag.version = master
 jetty.home = /opt/jetty/jetty-distribution-9.4.21.v20190926
 jetty.base = /opt/web/mybase

Config Search Order:
--------------------
 <command-line>
 ${jetty.base} -> /opt/web/mybase
 ${jetty.home} -> /opt/jetty/jetty-distribution-9.4.21.v20190926


JVM Arguments:
--------------
 (no jvm args specified)

System Properties:
------------------
 (no system properties specified)

Properties:
-----------
 java.version = 1.8.0_171
 java.version.major = 1
 java.version.micro = 0
 java.version.minor = 8
 java.version.platform = 8
 jetty.base = /opt/web/mybase
 jetty.base.uri = file:///opt/web/mybase
 jetty.console-capture.append = true
 jetty.console-capture.retainDays = 365
 jetty.home = /opt/jetty/jetty-distribution-9.4.21.v20190926
 jetty.home.uri = file:///opt/jetty/jetty-distribution-9.4.21.v20190926
 jetty.requestlog.append = true
 jetty.requestlog.retainDays = 365

Jetty Server Classpath:
-----------------------
Version Information on 16 entries in the classpath.
Note: order presented here is how they would appear on the classpath.
      changes to the --module=name command line options will be reflected here.
 0:                    (dir) | ${jetty.base}/resources
 1:                   42.1.4 | ${jetty.base}/lib/ext/remotecontent?filepath=org%2Fpostgresql%2Fpostgresql%2F42.1.4%2Fpostgresql-42.1.4.jar
 2:                    3.1.0 | ${jetty.home}/lib/servlet-api-3.1.jar
 3:                 3.1.0.M0 | ${jetty.home}/lib/jetty-schemas-3.1.jar
 4:         9.4.21.v20190926 | ${jetty.home}/lib/jetty-http-9.4.21.v20190926.jar
 5:         9.4.21.v20190926 | ${jetty.home}/lib/jetty-server-9.4.21.v20190926.jar
 6:         9.4.21.v20190926 | ${jetty.home}/lib/jetty-xml-9.4.21.v20190926.jar
 7:         9.4.21.v20190926 | ${jetty.home}/lib/jetty-util-9.4.21.v20190926.jar
 8:         9.4.21.v20190926 | ${jetty.home}/lib/jetty-io-9.4.21.v20190926.jar
 9:         9.4.21.v20190926 | ${jetty.home}/lib/jetty-security-9.4.21.v20190926.jar
10:         9.4.21.v20190926 | ${jetty.home}/lib/jetty-servlet-9.4.21.v20190926.jar
11:         9.4.21.v20190926 | ${jetty.home}/lib/jetty-webapp-9.4.21.v20190926.jar
12:         9.4.21.v20190926 | ${jetty.home}/lib/jetty-deploy-9.4.21.v20190926.jar
13:      1.4.1.v201005082020 | ${jetty.home}/lib/mail/javax.mail.glassfish-1.4.1.v201005082020.jar
14:         9.4.21.v20190926 | ${jetty.home}/lib/jetty-jndi-9.4.21.v20190926.jar
15:         9.4.21.v20190926 | ${jetty.home}/lib/jetty-servlets-9.4.21.v20190926.jar

Jetty Active XMLs:
------------------
 ${jetty.home}/etc/jetty-bytebufferpool.xml
 ${jetty.home}/etc/console-capture.xml
 ${jetty.home}/etc/jetty-threadpool.xml
 ${jetty.home}/etc/jetty.xml
 ${jetty.home}/etc/jetty-webapp.xml
 ${jetty.home}/etc/jetty-deploy.xml
 ${jetty.home}/etc/jetty-gzip.xml
 ${jetty.home}/etc/home-base-warning.xml
 ${jetty.home}/etc/jetty-http.xml
 ${jetty.home}/etc/jetty-requestlog.xml

```

I see nothing about SSL in the active XML files :s

Actually, it writes no log. I've just tried to restart it today, there is no new log file in /opt/web/mybase/logs.

JETTY_HOME/etc/jetty.conf contains the necessary lines:
```
# ========================================================
# jetty.conf Configuration for jetty.sh script
# --------------------------------------------------------
# This file is used by the jetty.sh script to provide 
# extra configuration arguments for the start.jar command
# created by that script.
# 
# Each line in this file becomes an argument to start.jar
# in addition to those found in the start.ini file
# =======================================================
jetty-started.xml
console-capture.xml

```

When doing `sudo -u jetty /etc/init.d/jetty start`, I get this:
```
Starting Jetty: FAILED Tue Oct 22 07:56:12 CEST 2019
root@A20-OLinuXino:~# 2019-10-22 07:56:15.369:INFO::main: Logging initialized @6525ms to org.eclipse.jetty.util.log.StdErrLog
2019-10-22 07:56:16.103:DBUG:oejx.XmlParser:main: resolveEntity(-//Jetty//Configure//EN, http://www.eclipse.org/jetty/configure_9_3.dtd)
2019-10-22 07:56:16.117:DBUG:oejx.XmlParser:main: Redirected entity http://www.eclipse.org/jetty/configure_9_3.dtd --> jar:file:/opt/jetty/jetty-distribution-9.4.21.v20190926/lib/jetty-xml-9.4.21.v20190926.jar!/org/eclipse/jetty/xml/configure_9_3.dtd
2019-10-22 07:56:16.407:DBUG:oejx.XmlConfiguration:main: XML new org.eclipse.jetty.io.ArrayByteBufferPool
2019-10-22 07:56:16.458:INFO:oeju.TypeUtil:main: JVM Runtime does not support Modules
2019-10-22 07:56:16.465:DBUG:oejx.XmlConfiguration:main: Invoking constructor, no XML parameter mapping
2019-10-22 07:56:16.510:DBUG:oejx.XmlParser:main: resolveEntity(-//Jetty//Configure//EN, http://www.eclipse.org/jetty/configure_9_3.dtd)
2019-10-22 07:56:16.513:DBUG:oejx.XmlParser:main: Redirected entity http://www.eclipse.org/jetty/configure_9_3.dtd --> jar:file:/opt/jetty/jetty-distribution-9.4.21.v20190926/lib/jetty-xml-9.4.21.v20190926.jar!/org/eclipse/jetty/xml/configure_9_3.dtd
2019-10-22 07:56:16.572:DBUG:oejx.XmlConfiguration:main: Invoking constructor, no arguments
2019-10-22 07:56:16.573:DBUG:oejx.XmlConfiguration:main: XML new java.io.PrintStream
2019-10-22 07:56:16.574:DBUG:oejx.XmlConfiguration:main: XML new org.eclipse.jetty.util.RolloverFileOutputStream
2019-10-22 07:56:16.599:DBUG:oejx.XmlConfiguration:main: XML call getTimeZone
2019-10-22 07:56:16.623:IGNORED:oejx.XmlConfiguration:main: 
java.lang.IllegalArgumentException: argument type mismatch
        at sun.reflect.NativeMethodAccessorImpl.invoke0(Native Method)
        at sun.reflect.NativeMethodAccessorImpl.invoke(NativeMethodAccessorImpl.java:62)
        at sun.reflect.DelegatingMethodAccessorImpl.invoke(DelegatingMethodAccessorImpl.java:43)
        at java.lang.reflect.Method.invoke(Method.java:498)
        at org.eclipse.jetty.xml.XmlConfiguration$JettyXmlConfiguration.invokeMethod(XmlConfiguration.java:762)
        at org.eclipse.jetty.xml.XmlConfiguration$JettyXmlConfiguration.invokeMethod(XmlConfiguration.java:757)
        at org.eclipse.jetty.xml.XmlConfiguration$JettyXmlConfiguration.call(XmlConfiguration.java:973)
        at org.eclipse.jetty.xml.XmlConfiguration$JettyXmlConfiguration.call(XmlConfiguration.java:940)
        at org.eclipse.jetty.xml.XmlConfiguration$JettyXmlConfiguration.itemValue(XmlConfiguration.java:1634)
        at org.eclipse.jetty.xml.XmlConfiguration$JettyXmlConfiguration.value(XmlConfiguration.java:1539)
        at org.eclipse.jetty.xml.XmlConfiguration$JettyXmlConfiguration.newObj(XmlConfiguration.java:1036)
        at org.eclipse.jetty.xml.XmlConfiguration$JettyXmlConfiguration.itemValue(XmlConfiguration.java:1638)
        at org.eclipse.jetty.xml.XmlConfiguration$JettyXmlConfiguration.value(XmlConfiguration.java:1539)
        at org.eclipse.jetty.xml.XmlConfiguration$JettyXmlConfiguration.newObj(XmlConfiguration.java:1036)
        at org.eclipse.jetty.xml.XmlConfiguration$JettyXmlConfiguration.configure(XmlConfiguration.java:518)
        at org.eclipse.jetty.xml.XmlConfiguration$JettyXmlConfiguration.configure(XmlConfiguration.java:454)
        at org.eclipse.jetty.xml.XmlConfiguration.configure(XmlConfiguration.java:354)
        at org.eclipse.jetty.xml.XmlConfiguration.lambda$main$0(XmlConfiguration.java:1874)
        at java.security.AccessController.doPrivileged(Native Method)
        at org.eclipse.jetty.xml.XmlConfiguration.main(XmlConfiguration.java:1837)
        at sun.reflect.NativeMethodAccessorImpl.invoke0(Native Method)
        at sun.reflect.NativeMethodAccessorImpl.invoke(NativeMethodAccessorImpl.java:62)
        at sun.reflect.DelegatingMethodAccessorImpl.invoke(DelegatingMethodAccessorImpl.java:43)
        at java.lang.reflect.Method.invoke(Method.java:498)
        at org.eclipse.jetty.start.Main.invokeMain(Main.java:218)
        at org.eclipse.jetty.start.Main.start(Main.java:491)
        at org.eclipse.jetty.start.Main.main(Main.java:77)
2019-10-22 07:56:16.672:DBUG:oejx.XmlConfiguration:main: Invoking constructor, no XML parameter mapping
2019-10-22 07:56:16.771:DBUG:oejx.XmlConfiguration:main: XML get datedFilename
2019-10-22 07:56:16.773:DBUG:oejx.XmlConfiguration:main: Invoking constructor, no XML parameter mapping
2019-10-22 07:56:16.774:DBUG:oejx.XmlConfiguration:main: XML get rootLogger
2019-10-22 07:56:16.776:DBUG:oejx.XmlConfiguration:main: XML call info
2019-10-22 07:56:16.788:IGNORED:oejx.XmlConfiguration:main: 
java.lang.IllegalArgumentException: argument type mismatch
        at sun.reflect.NativeMethodAccessorImpl.invoke0(Native Method)
        at sun.reflect.NativeMethodAccessorImpl.invoke(NativeMethodAccessorImpl.java:62)
        at sun.reflect.DelegatingMethodAccessorImpl.invoke(DelegatingMethodAccessorImpl.java:43)
        at java.lang.reflect.Method.invoke(Method.java:498)
        at org.eclipse.jetty.xml.XmlConfiguration$JettyXmlConfiguration.invokeMethod(XmlConfiguration.java:762)
        at org.eclipse.jetty.xml.XmlConfiguration$JettyXmlConfiguration.invokeMethod(XmlConfiguration.java:757)
        at org.eclipse.jetty.xml.XmlConfiguration$JettyXmlConfiguration.call(XmlConfiguration.java:973)
        at org.eclipse.jetty.xml.XmlConfiguration$JettyXmlConfiguration.call(XmlConfiguration.java:940)
        at org.eclipse.jetty.xml.XmlConfiguration$JettyXmlConfiguration.configure(XmlConfiguration.java:512)
        at org.eclipse.jetty.xml.XmlConfiguration$JettyXmlConfiguration.get(XmlConfiguration.java:883)
        at org.eclipse.jetty.xml.XmlConfiguration$JettyXmlConfiguration.configure(XmlConfiguration.java:515)
        at org.eclipse.jetty.xml.XmlConfiguration$JettyXmlConfiguration.configure(XmlConfiguration.java:454)
        at org.eclipse.jetty.xml.XmlConfiguration.configure(XmlConfiguration.java:354)
        at org.eclipse.jetty.xml.XmlConfiguration.lambda$main$0(XmlConfiguration.java:1874)
        at java.security.AccessController.doPrivileged(Native Method)
        at org.eclipse.jetty.xml.XmlConfiguration.main(XmlConfiguration.java:1837)
        at sun.reflect.NativeMethodAccessorImpl.invoke0(Native Method)
        at sun.reflect.NativeMethodAccessorImpl.invoke(NativeMethodAccessorImpl.java:62)
        at sun.reflect.DelegatingMethodAccessorImpl.invoke(DelegatingMethodAccessorImpl.java:43)
        at java.lang.reflect.Method.invoke(Method.java:498)
        at org.eclipse.jetty.start.Main.invokeMain(Main.java:218)
        at org.eclipse.jetty.start.Main.start(Main.java:491)
        at org.eclipse.jetty.start.Main.main(Main.java:77)
2019-10-22 07:56:16.797:INFO::main: Console stderr/stdout captured to /opt/web/mybase/logs/2019_10_22.jetty.log
2019-10-22 07:56:16.798:DBUG:oejx.XmlConfiguration:main: XML call setErr

```

Actually, `sudo -u jetty /etc/init.d/jetty start` made it work. I killed the process and I restarted it with `systemctl start jetty`. Now it works. I saw an error message related to user management in journalctl, it was probably not related to Jetty.

The root cause of my problem seems to be the creation of a file as root that can be read by Jetty which is executed with a non root user for security reasons, I did this mistake when I created the keystore, I did a similar mistake when I created some other files in JETTY_BASE and when I uploaded some WARs, I got a few logs the first times before restarting Jetty with SystemD but the very first restart with SystemD after my typical mistake fails and gives no log even after several attempts, changing the owner helps if and only if I restart Jetty once without SystemD, the right command line is `sudo -u jetty -g jetty /etc/init.d/jetty start`.