Low setMaxConcurrentStreams causes "1/unexpected_data_frame" errors

**Jetty version**
9.4.27.v20200227,
HEAD as of this message 528d6088605d49e56af2c7287b055b6c732a611e

**Java version**
openjdk version "11.0.6" 2020-01-14

**OS type/version**
macOS 10.15.3

**Description**
We’re using a deliberately low max concurrent streams in our HTTP/2 connections. We have a large number of servers, a small number of clients, and keeping the concurrent streams low helps to balance load better.

When a client connects, it may send many HTTP/2 requests before it receives the server’s HTTP/2 settings. In particular, it may send more requests than the max concurrent streams limit. This is [permitted per RFC 7540 section 3.5](https://tools.ietf.org/html/rfc7540#section-3.5):

> To avoid unnecessary latency, clients are permitted to send
> additional frames to the server immediately after sending the client
> connection preface, without waiting to receive the server connection
> preface.  It is important to note, however, that the server
> connection preface SETTINGS frame might include parameters that
> necessarily alter how a client is expected to communicate with the
> server.  Upon receiving the SETTINGS frame, the client is expected to
> honor any parameters established.

When Jetty receives an over-the-limit HEADERS frame, it correctly refuses the stream with a `REFUSED_STREAM_ERROR`. This happens in `HTTP2Session#createRemoteStream()`.

But if a subsequent `DATA` frame is sent, Jetty doesn’t remember that it recently refused that stream and interprets it as a `DATA` frame for which there was no `HEADERS` frame. This happens in `HTTP2Session#onData()`. Jetty fails the entire connection by calling `onConnectionFailure(ErrorCode.PROTOCOL_ERROR)`.

I believe the fix is for `createRemoteStream()` to make this call before it refuses the unwanted stream:
```
  updateLastRemoteStreamId(streamId);
```

I didn’t have a good strategy for creating a test for this race condition, but you can see it for yourself by executing `testConcurrentWithSmallServerThreadPool` on [this branch](https://github.com/swankjesse/jetty.project/compare/master...jwilson.0325.unexpected_data_frame?expand=1#files_bucket).

