Add SameFileAliasChecker to help with FileSystem static file access normalization on Mac and Windows

Since Jetty 9.3, we now get 404 errors when referencing URLs containing the URL encoded form of the Swedish characters å ä and ö. Note, this problem only seems to manifest on Mac OS X (tested on two computers), seems to work on Windows 10. In Jetty 9.4 it is possible to reference such URLs using the expanded form, aka "Canonical decomposition", for instance a%cc%8a for "å" instead of the common, and correct (for Swedish use at least) %c3%a5, but we naturally want to reference "å" using this normal, 2 byte UTF-8 encoding. This has been working between Jetty 6 and 9.2. 

Hejsan!

The Swedish characters å ä and ö have different rules depending on where in the URL they are used.

* If they show up in the URL authority portion (host name), then ([RFC 5895](https://tools.ietf.org/html/rfc5895): IDNA 2008) punycode is preferred encoding.
* If they show up in any HTTP header (example: the `Host:` header) for HTTP, then they must be % encoded
* If they show up in the path portion of the URL then they must be % encoded
* If they show up in the query portion of the URL then they must follow form url encoding rules (which overlaps with % encoding rules)
* If they show up in the body content of a `Content-Type: application/x-www-form-urlencoded` of a HTTP form Request, then the must follow form url encoding rules (which overlaps with % encoding rules)

As an example, the UTF-8 % encoding for the 3 unicode characters ...

```
å = %C3%A5
ä = %C3%A4
ö = %C3%B6
```

The "Canonical decomposition" of [`%cc%8a` is invalid UTF-8](http://www.ltg.ed.ac.uk/~richard/utf-8.cgi?input=cc8a&mode=bytes).
Whatever charset or codepage you are using for that sequence is not compatible with today's HTTP.

Back in Jetty 6 we parsed native utf-8 and were happy with that.
In fact, back in Jetty 6 we parsed with whatever the default JVM Charset was. (which was colossally bad!  Especially so in Asian countries)
This led to mean people finding ways to inject unintended sequences of bytes to change the meaning of the request (XSS, but at the HTTP protocol level).

At around the same time the HTTP spec group at the IETF updated the HTTP/1.1 specs to make this kind of behavior not just undesirable, but outright forbidden.
From [RFC 2068 (obsolete)](https://tools.ietf.org/html/rfc2068) used back in the Jetty 6 days, to [RFC 2616 (obsolete)](https://tools.ietf.org/html/rfc2616), and again to [RFC 7230](https://tools.ietf.org/html/rfc7230).

In short, using raw UTF-8 bytes is now forbidden at the HTTP protocol level (even in modern browsers will fail many responses with raw utf-8 sequences).


Thanks for a quick answer Joakim (and fellow Swede I take it), but I don't get it. I'm pretty certain we've identified an error in Jetty 9 here. Remember it works on Windows, but not on Mac. Here's a concrete example: Given a file called "David å.html", it now neither works to reference it as <a href="David%20å.html"> or as <a href="David%20%C3%A5.html">. As I understand it, the "David%20%C3%A5.html" format should work. Likewise,  I cannot reference this file by typing its name directly to the address field anymore. How do we resolve this?

> Likewise, I cannot reference this file by typing its name directly to the address field anymore. How do we resolve this?

This is deceptive.

For most browsers (not all), if you type the raw unicode character in the Location bar the browser will automatically encode it when sending it over the network, but leave it as a raw character on the Location bar.

![chrome-sjobo](https://user-images.githubusercontent.com/191721/63284300-d3fdcb00-c278-11e9-90fd-6bc35d9c2b5e.png)

![chrome-gavle](https://user-images.githubusercontent.com/191721/63284313-d6f8bb80-c278-11e9-82d5-99334c457a47.png)

You mentioned not being able to access files, perhaps this is bug, perhaps not.
The best way to move forward with this is to write a simple unit test you can share with us showing the bug you are encountering.

Unit test?? Here's how you reproduce it: 1) Use a Mac, 2) Create a file containing either of the Swedish characters å, ä or ö in the file name. 3) Try to reference this file via Jetty 9.3 and onwards. Look, If this is not a bug, then what is it? You feel rather "defensive" I must say :-(

"The "Canonical decomposition" of %cc%8a is invalid UTF-8."

I don't want to use it either, still that format actually works using Jetty 9.4. I was only mentioning that to support you in your debugging efforts.

> Here's how you reproduce it: 1) Use a Mac, 2) Create a file containing either of the Swedish characters å, ä or ö in the file name. 3) Try to reference this file via Jetty 9.3 and onwards.

Which version of OSX and Safari are you using? (I have access to 2 different versions)
What version of Java are you using? (I have access to several dozen versions on OSX)
Is this a file on your filesystem, or within a JAR/WAR file?
What is the default charset of your JVM on your environment?
Did you start Jetty as a `${jetty.base}` and `${jetty.home}`, or did you use some kind of embedded jetty setup?
When you say "Try to reference this file" be specific.  Did you reference it from an HTML page? from manually typing in the Location bar? from copy/paste of a URL somewhere? (these are some of the more common behaviors that can have different results)

> Look, If this is not a bug, then what is it? You feel rather "defensive" I must say :-(

We have many different unit tests for these kinds of unicode behaviors.
Defensive isn't the case.  Surprised? Definitely.
These kinds of unicode issues need careful care, and as precise of a set of steps to reproduce.

I'm using OS X Mojave (10.14.6). It fails across all browsers (Chrome, Firefox and Safari).
Java 11.0.2 (Launcher fails when we try to move to Java 12)
It is a plain file, accessed plainly from the file system. No JAR/WAR
The "file.encoding" is set to "UTF-8"
We've tested both by running Jetty standalone and in an embedded setup
I tried to reference the file both via an ordinary <a href="..."> link and by directly typing the URL in the location bar of the browser. Neither works unless I reference "å" as a "a%cc%8a"

I understand that steps to reproduce is key. "Luckily" my colleague could reproduce it right away on his Mac too so I doubt it will be hard to reproduce. I simply asked him to create a file called "david å.html" and try referencing it via Jetty. We've tried both Swedish and English language settings on both our Macs.

That helps, thank you.

So far, the low level `PathResource` (what's responsible for accessing the files on disk) has no obvious problem. - See commit 407b5643200dc480877e2585845478c563038639

But the `DefaultServlet` (what's responsible for serving the http request for static content) doesn't like it.

A preliminary analysis points to the request being encoded properly.
The `PathResource.addPath(String)` uses the decoded form of the file being requested from the base resource properly.
But the `AliasCheck` doesn't like that this `PathResource` is an alias with identical references (to self, and via uri)
This alias mismatch might be a wild goose chase. (but I'm working it anyway)


You're welcome. I take it you've been able to reproduce the problem, then I guess it won't take that much time to nail it. The challenge is naturally to not break other things while fixing this, but that's what unit tests are for I guess :-)

So this is a quirk in the OSX filesystem with how it works with UTF-8.

The file on disk says `swedish-å.txt`
The URI reference (from HTTP) says `swedish-%C3%A5.txt`
The URI reference (from FileSystem) says `swedish-a%CC%8A.txt`

The URI reference from FileSystem is using NFD (Normalization Form Canonical Decomposition) or [Unicode Equivalence](https://en.wikipedia.org/wiki/Unicode_equivalence)

> Note for other devs, the sequence `a%CC%8A` is saying ... character `a` with a unicode hex sequence `CC 8A` for [COMBINING RING ABOVE](http://www.ltg.ed.ac.uk/~richard/utf-8.cgi?input=cc+8a&mode=bytes).

The lookup from HTTP to FileSystem fails as the alias rules kick in.
The name `swedish-%C3%A5.txt` is not the same as `swedish-a%CC%8A.txt` and is identified as an alias of each other.
But when the two references are resolved the values are the same, which is an alias, and a failure.

I think if the file on disk is `swedish-å.txt` then HTTP requests for both `swedish-%C3%A5.txt` and `swedish-a%CC%8A.txt` should work and not be considered aliases for that file.
In short, if the encoded URI and the actual file point to the same thing, then it's not an alias.
@gregw what do you think of this change?

Opened PR #4001

@joakime & @davidekholm I think the fix looks good... I just want to go through the security scenario to make sure that we have not created a real alias problem.

If we create a security constraint in `web.xml` that say `swedish-å.txt` is a protected resource, then we must not let alternate encodings of that URI not match the security constraint but do match the file.

So how do we specify security constraints and are they encoded or not???

I believe (but will double check) that we specify our constraints in charset decoded form (or at least encoded in XML format that is removed before we see it) - ie we can use unicode characters rather than % encoding.   Furthermore, our PathMappings class used to select security constraints is also working on the charset decoded form, so the comparison is good.

So in this case it is unlike a case insensitive file system, because while the file can have different encoded forms, it has only a single decoded form (using unicode java string characters), thus the different encoding cannot be used to bypass a security constraint.

I think we need a unit test to prove this is the case!





We have a problem! See comments in PR!

So, add a unit test for constraints where the path has alt UTF-8 format.
And add a unit test for PathMappings for the same alt UTF-8 format.

Scenario for constraints ...

1. Path on disk is `/secret-å/` (the 1 codepoint version)
2. Some content exists in that directory (say a file called `foo.txt`)
3. A security constraint is setup to require auth on `/secret-å/`
4. A user requests the 2 codepoint version via `http://localhost/secret-a%CC%8A/foo.txt` 
5. Without auth, that should return a 401 Unauthorized
6. With auth, that should return the contents of the file.

Did I get that right?

@davidekholm So on reflection, this is not a jetty bug.   It's a problem that there are different characters in swedish that are encoded differently but that look the same.  Similarly there are russian and greek characters that look the same as latin characters.

The problem is that there is difficult to tell when characters that look the same actually mean the same. In Swedish å means the same no matter how it is encoded, but we also have to deal with all other character sets.

So Jetty is being correct to treat these as aliases - because it is possible for a security constraint to be bypassed by them - as the different character encoding persists in XML and java unicode.

However, there may be something we can do to assist with normalizing these characters to one encoding or the other and doing all comparisons in that way.  This will not be a cheap operation and we will not enable for all URIs - but it may be in an AliasChecker and/or a Rewrite rule.   So this is not a feature request on Jetty, as I believe we are acting correctly given the limitations of servlet security constraints (Note that if servlet constrainst had define what was allowed rather than what is prohibited, then we would not have had this alias problem!)






Some links to help with research on the best solution:
- https://dzone.com/articles/canonical-equivalence-in-unicode-pattern-matching - perhaps we need to include the `Pattern.CANON_EQ` in some of our regex based mechanisms?
- http://www.tothenew.com/blog/normalization-forms-for-accented-characters-in-java/ - refers to the java.text.Normalizer class



@joakime you got it kind of right....
Currently what we make happen is:
5. Without auth, that should return a 404
6. With auth, that should return a 404

because we treat them as different files, so even though the file system does normalization, because our security constraints are not normalized, then we can't allow the FS normalization to create an alias.

What I'm proposing above is that we add a mode where we normalize all URIs and all configured paths - then the security contraint will apply to any encoding that the browser sends... so we can then relax the alias checking on the resource.

But it is still very difficult to do the normalization of "all configured paths" because configuration can come from XML, from embedded code, even from serialized classes! All of which may be non-normalized.   So the trick will be to find the right location to do the normalization.   We also will need to turn on normalization in Regex patterns etc.  Note that it is not just security constraints, as differently encoded paths can currently result in different context, different virtual hosts, different servlets etc. all being selected.

I think we can do something pretty quickly to get the 99% case, but we will need to apply some rigour if we want to ensure that we can be 100% normalized... and only then can we be tolerant of non-normal file systems.






 I guess one problem is that some languages consider, for instance a and á to be the same character (the only difference being the accent), while in Swedish, "å", "ä" and "ö" are distinct characters although they look like accented variants of a and o. I wish one could tell the OS X file system to use the NFC form for these characters. If this isn't resolved somehow, we're likely to receive complaints from Mac users from the nordics when making the move from Jetty 6 to 9. 

Perhaps the file system internally uses the NFD form on Mac, but how is that exposed to Java? When I list the files of the directory containing the "David å.jpg" file using java.io, I receive the single character NFC encoded version.

We are dealing with a variant of a Homoglyph.
To a human they look the same.
To a computer they are different.

Interestingly, if you increase the font size, the 2 versions appear slightly different.

![swedish-a](https://user-images.githubusercontent.com/191721/63347553-f517f780-c31c-11e9-8d3e-18a4658b8396.png)


@davidekholm The alias checking mechanism is extensible for precisely these kinds of reasons.  If you are operating a webapp where the URI space requires such characters (and this is not all webapps, not even most webapps), then you can write an alias checker that does a comparison of the normalized names and allows the static file to be served.   This will solve your problem.

However, for Jetty to do the same is more difficult, because whatever we do has to work for not just static resources, but security constraints, context mapping and filter/servlet mapping.  It has to work for web.xml configured apps, plus programmatically added components using both standard APIs and jetty APIs - all of these can be sources of non-nomralized strings, so there is no single point at which we can normalize, yet  if we do anything, it has to be consistent over all these things and efficient for the majority of users that do not have a non USASCII URI space.       

If you are sure your app wont be affect by security constraints and servlet mappings, then you can act in a much more limited way to make your application work, but without risking exploits and/or inefficiencies on the millions of other jetty users.

Having said that, I would like to act on this - but only with careful consideration.  I recommend you write yourself an alias checker rather than wait for action from us.

@joakime on Linux, I can't see the difference in the characters.  "a with a circle over it" and "a" with a circle over it, both look pixel identical to me.    Note also that I think there is a difference between a pure Homoglyph eg cyrillic В and latin B look the same but have different meanings in searches, sorting and comparisons vs Canonical Equivalent characters like å and å, which have different digital represenations but the spec tells us they should be equivalent in searches, sorting and comparisons.

We will never  allow a cyrillic В to be normalized to a latin B, but we may do canonical equivalent normalisation, if we can find the right place(s) to do it and we can make it optional.







@gregw, thank you for carefully explaining the complexity of this. For our use case, it's perfectly fine if we only handle static resources straight on the file system. So adding an AliasChecker that normalizes both the uri and File reference via the Resource parameter before comparing for equality should do it for us? (I assume it however opens a security hole for protected resources if accessed via an alternate encoding not specified in the protection spec)

@gregw, I wrote the following AliasChecker. Seems to work. Just appreciating your comments on it:

            ch.addAliasCheck((String path, Resource rsc) -> {
                if (rsc instanceof PathResource) {
                    PathResource pr = (PathResource) rsc;
                    Path p = pr.getPath();
                    Path ap = pr.getAliasPath();
                    return !p.equals(ap) && p.toString().equals(ap.toString());
                }
                return false;
            });

That would probably be a good addition, I vote for the name `NormalizingFileSystemAliasChecker`.

@davidekholm your AliasCheck is doing double duty of checking things on an alias.

If the requested uri returns a Jetty PathResource, and that PathResource has an alias, then the alias points to the same file as the requested uri, but on a different URI or Path object.
It is expected that the check `return !p.equals(ap) && p.toString().equals(ap.toString());` will always be true if you reached this `AliasCheck`.
Why? well, if there's no alias reported on the `PathResource`, the `AliasCheck` is not called.

Perhaps you just need to use the existing `ContextHandler.ApproveAliases` (existing implementation) that always returns true on an `AliasCheck`?

https://github.com/eclipse/jetty.project/blob/a1bb3b4491ff66bfe45d9d6d2317b1352ea9e0ff/jetty-server/src/main/java/org/eclipse/jetty/server/handler/ContextHandler.java#L2898-L2908

@davidekholm there's a new `SameFileAliasChecker` committed to PR #4001 that might be a better long term option.
Can you give that a go on your environment? 
You should be able to just copy/paste the code from https://github.com/eclipse/jetty.project/blob/jetty-9.4.x-4000-swedish-unicode-file-serving/jetty-server/src/main/java/org/eclipse/jetty/server/SameFileAliasChecker.java

@joakime, Thanks! Works just fine. I'm currently using the copy+paste solution but will use the bundled one once you're made a new jetty release available

This is merged and will be available in the next release of Jetty (probably 9.4.21)

Thanks Joakim!