Jetty not reading keystorepass and keymanagerpass from ssl.mod file

**Jetty version**
9.4.22
**Java version**
8
**OS type/version**
SUSE 15
**Description**
I am trying to enable HTTPS on my jetty server but the values for the keystore password, key manager password are not being picked up from ssl.mod. Below you can find the files I have edited :

**ssl.mod**

```
DO NOT EDIT - See: https://www.eclipse.org/jetty/documentation/current/startup-modules.html

[description]
Enables a TLS(SSL) Connector on the server.
This may be used for HTTPS and/or HTTP2 by enabling
the associated support modules.

[tags]
connector
ssl

[depend]
server

[xml]
etc/jetty-ssl.xml
etc/jetty-ssl-context.xml

[files]
basehome:modules/ssl/keystore|etc/keystore

[ini-template]
### TLS(SSL) Connector Configuration

## Connector host/address to bind to
# jetty.ssl.host=0.0.0.0

## Connector port to listen on
# jetty.ssl.port=8443

## Connector idle timeout in milliseconds
# jetty.ssl.idleTimeout=30000

## Number of acceptors (-1 picks default based on number of cores)
# jetty.ssl.acceptors=-1

## Number of selectors (-1 picks default based on number of cores)
# jetty.ssl.selectors=-1

## ServerSocketChannel backlog (0 picks platform default)
# jetty.ssl.acceptorQueueSize=0

## Thread priority delta to give to acceptor threads
# jetty.ssl.acceptorPriorityDelta=0

## Connect Timeout in milliseconds
# jetty.ssl.connectTimeout=15000

## Whether request host names are checked to match any SNI names
# jetty.ssl.sniHostCheck=true

## max age in seconds for a Strict-Transport-Security response header (default -1)
# jetty.ssl.stsMaxAgeSeconds=31536000

## include subdomain property in any Strict-Transport-Security header (default false)
# jetty.ssl.stsIncludeSubdomains=true

### SslContextFactory Configuration
## Note that OBF passwords are not secure, just protected from casual observation
## See http://www.eclipse.org/jetty/documentation/current/configuring-security-secure-passwords.html

## The Endpoint Identification Algorithm
## Same as javax.net.ssl.SSLParameters#setEndpointIdentificationAlgorithm(String)
#jetty.sslContext.endpointIdentificationAlgorithm=

## SSL JSSE Provider
# jetty.sslContext.provider=

## Keystore file path (relative to $jetty.base)
# jetty.sslContext.keyStorePath=etc/keystore

## Truststore file path (relative to $jetty.base)
# jetty.sslContext.trustStorePath=etc/keystore

## Keystore password
 jetty.sslContext.keyStorePassword=OBF:1i1j1k6i1l1c1n7d1k6y1ink1iku1k781n451kxq1k7o1i07

## Keystore type and provider
# jetty.sslContext.keyStoreType=PKCS12
# jetty.sslContext.keyStoreProvider=

## KeyManager password
 jetty.sslContext.keyManagerPassword=OBF:1i1j1k6i1l1c1n7d1k6y1ink1iku1k781n451kxq1k7o1i07


## Truststore password
 jetty.sslContext.trustStorePassword=OBF:1i1j1k6i1l1c1n7d1k6y1ink1iku1k781n451kxq1k7o1i07


## Truststore type and provider
# jetty.sslContext.trustStoreType=JKS
# jetty.sslContext.trustStoreProvider=

## whether client certificate authentication is required
# jetty.sslContext.needClientAuth=false

## Whether client certificate authentication is desired
# jetty.sslContext.wantClientAuth=false

## Whether cipher order is significant (since java 8 only)
# jetty.sslContext.useCipherSuitesOrder=true

## To configure Includes / Excludes for Cipher Suites or Protocols see tweak-ssl.xml example at
## https://www.eclipse.org/jetty/documentation/current/configuring-ssl.html#configuring-sslcontextfactory-cipherSuites

## Set the size of the SslSession cache
# jetty.sslContext.sslSessionCacheSize=-1

## Set the timeout (in seconds) of the SslSession cache timeout
# jetty.sslContext.sslSessionTimeout=-1

## Allow SSL renegotiation
# jetty.sslContext.renegotiationAllowed=true
# jetty.sslContext.renegotiationLimit=5
```

**start.ini**

```
#===========================================================
# Jetty Startup 
#
# Starting Jetty from this {jetty.home} is not recommended.
#
# A proper {jetty.base} directory should be configured, instead
# of making changes to this {jetty.home} directory.
#
# See documentation about {jetty.base} at
# http://www.eclipse.org/jetty/documentation/current/startup.html
#
# A demo-base directory has been provided as an example of
# this sort of setup.
#
# $ cd demo-base
# $ java -jar ../start.jar
#
#===========================================================

# To disable the warning message, comment the following line
--module=home-base-warning

# --------------------------------------- 
# Module: ext
# Adds all jar files discovered in $JETTY_HOME/lib/ext
# and $JETTY_BASE/lib/ext to the servers classpath.
# --------------------------------------- 
--module=ext


# --------------------------------------- 
# Module: server
# Enables the core Jetty server on the classpath.
# --------------------------------------- 
--module=server

### Common HTTP configuration
## Scheme to use to build URIs for secure redirects
# jetty.httpConfig.secureScheme=https

## Port to use to build URIs for secure redirects
# jetty.httpConfig.securePort=8443

## Response content buffer size (in bytes)
# jetty.httpConfig.outputBufferSize=32768

## Max response content write length that is buffered (in bytes)
# jetty.httpConfig.outputAggregationSize=8192

## Max request headers size (in bytes)
# jetty.httpConfig.requestHeaderSize=8192

## Max response headers size (in bytes)
# jetty.httpConfig.responseHeaderSize=8192

## Whether to send the Server: header
# jetty.httpConfig.sendServerVersion=true

## Whether to send the Date: header
# jetty.httpConfig.sendDateHeader=false

## Max per-connection header cache size (in nodes)
# jetty.httpConfig.headerCacheSize=4096

## Whether, for requests with content, delay dispatch until some content has arrived
# jetty.httpConfig.delayDispatchUntilContent=true

## Maximum number of error dispatches to prevent looping
# jetty.httpConfig.maxErrorDispatches=10

## Cookie compliance mode for parsing request Cookie headers: RFC2965, RFC6265
# jetty.httpConfig.requestCookieCompliance=RFC6265

## Cookie compliance mode for generating response Set-Cookie: RFC2965, RFC6265
# jetty.httpConfig.responseCookieCompliance=RFC6265

## multipart/form-data compliance mode of: LEGACY(slow), RFC7578(fast)
# jetty.httpConfig.multiPartFormDataCompliance=LEGACY

### Server configuration
## Whether ctrl+c on the console gracefully stops the Jetty server
# jetty.server.stopAtShutdown=true

## Timeout in ms to apply when stopping the server gracefully
# jetty.server.stopTimeout=5000

## Dump the state of the Jetty server, components, and webapps after startup
# jetty.server.dumpAfterStart=false

## Dump the state of the Jetty server, components, and webapps before shutdown
# jetty.server.dumpBeforeStop=false

## Scheduler Configuration
# jetty.scheduler.name=
# jetty.scheduler.deamon=false
# jetty.scheduler.threads=-1

# --------------------------------------- 
# Module: jsp
# Enables JSP for all webapplications deployed on the server.
# --------------------------------------- 
--module=jsp


# --------------------------------------- 
# Module: resources
# Adds the $JETTY_HOME/resources and/or $JETTY_BASE/resources
# directory to the server classpath. Useful for configuration
# property files (eg jetty-logging.properties)
# --------------------------------------- 
--module=resources


# --------------------------------------- 
# Module: deploy
# Enables webapplication deployment from the webapps directory.
# --------------------------------------- 
--module=deploy

# Monitored directory name (relative to $jetty.base)
# jetty.deploy.monitoredDir=webapps
# - OR -
# Monitored directory path (fully qualified)
# jetty.deploy.monitoredPath=/var/www/webapps

# Defaults Descriptor for all deployed webapps
# jetty.deploy.defaultsDescriptorPath=${jetty.base}/etc/webdefault.xml

# Monitored directory scan period (seconds)
# jetty.deploy.scanInterval=1

# Whether to extract *.war files
# jetty.deploy.extractWars=true

# --------------------------------------- 
# Module: jstl
# Enables JSTL for all webapplications deployed on the server
# --------------------------------------- 
--module=jstl


# --------------------------------------- 
# Module: websocket
# Enable websockets for deployed web applications
# --------------------------------------- 
--module=websocket


# --------------------------------------- 
# Module: http
# Enables an HTTP connector on the server.
# By default HTTP/1 is support, but HTTP2C can
# be added to the connector with the http2c module.
# --------------------------------------- 
--module=http

### HTTP Connector Configuration

## Connector host/address to bind to
# jetty.http.host=0.0.0.0

## Connector port to listen on
# jetty.http.port=8080

## Connector idle timeout in milliseconds
# jetty.http.idleTimeout=30000

## Number of acceptors (-1 picks default based on number of cores)
# jetty.http.acceptors=-1

## Number of selectors (-1 picks default based on number of cores)
# jetty.http.selectors=-1

## ServerSocketChannel backlog (0 picks platform default)
# jetty.http.acceptorQueueSize=0

## Thread priority delta to give to acceptor threads
# jetty.http.acceptorPriorityDelta=0

## Connect Timeout in milliseconds
# jetty.http.connectTimeout=15000

## HTTP Compliance: RFC7230, RFC7230_LEGACY, RFC2616, RFC2616_LEGACY, LEGACY or CUSTOMn
# jetty.http.compliance=RFC7230_LEGACY

--module=ssl
--module=https
```

**jetty-ssl-context.xml**

```
<Configure id="sslContextFactory" class="org.eclipse.jetty.util.ssl.SslContextFactory$Server">
  <Set name="Provider"><Property name="jetty.sslContext.provider"/></Set>
  <Set name="KeyStorePath"><Property name="jetty.base" default="." />/<Property name="jetty.sslContext.keyStorePath" deprecated="jetty.keystore" default="etc/keystore"/></Set>
  <Set name="KeyStorePassword"><Property name="jetty.sslContext.keyStorePassword" deprecated="jetty.keystore.password"/></Set>
  <Set name="KeyStoreType"><Property name="jetty.sslContext.keyStoreType" default="JKS"/></Set>
  <Set name="KeyStoreProvider"><Property name="jetty.sslContext.keyStoreProvider"/></Set>
  <Set name="KeyManagerPassword"><Property name="jetty.sslContext.keyManagerPassword" deprecated="jetty.keymanager.password"/></Set>
  <Set name="TrustStorePath"><Property name="jetty.base" default="." />/<Property name="jetty.sslContext.trustStorePath" deprecated="jetty.truststore" default="etc/keystore"/></Set>
  <Set name="TrustStorePassword"><Property name="jetty.sslContext.trustStorePassword" deprecated="jetty.truststore.password"/></Set>
  <Set name="TrustStoreType"><Property name="jetty.sslContext.trustStoreType"/></Set>
  <Set name="TrustStoreProvider"><Property name="jetty.sslContext.trustStoreProvider"/></Set>
  <Set name="EndpointIdentificationAlgorithm"><Property name="jetty.sslContext.endpointIdentificationAlgorithm"/></Set>
  <Set name="NeedClientAuth"><Property name="jetty.sslContext.needClientAuth" deprecated="jetty.ssl.needClientAuth" default="false"/></Set>
  <Set name="WantClientAuth"><Property name="jetty.sslContext.wantClientAuth" deprecated="jetty.ssl.wantClientAuth" default="false"/></Set>
  <Set name="useCipherSuitesOrder"><Property name="jetty.sslContext.useCipherSuitesOrder" default="true"/></Set>
  <Set name="sslSessionCacheSize"><Property name="jetty.sslContext.sslSessionCacheSize" default="-1"/></Set>
  <Set name="sslSessionTimeout"><Property name="jetty.sslContext.sslSessionTimeout" default="-1"/></Set>
  <Set name="RenegotiationAllowed"><Property name="jetty.sslContext.renegotiationAllowed" default="true"/></Set>
  <Set name="RenegotiationLimit"><Property name="jetty.sslContext.renegotiationLimit" default="5"/></Set>
 
  <!-- Example of how to configure a PKIX Certificate Path revocation Checker
  <Call id="pkixPreferCrls" class="java.security.cert.PKIXRevocationChecker$Option" name="valueOf"><Arg>PREFER_CRLS</Arg></Call>
  <Call id="pkixSoftFail" class="java.security.cert.PKIXRevocationChecker$Option" name="valueOf"><Arg>SOFT_FAIL</Arg></Call>
  <Call id="pkixNoFallback" class="java.security.cert.PKIXRevocationChecker$Option" name="valueOf"><Arg>NO_FALLBACK</Arg></Call>
  <Call class="java.security.cert.CertPathBuilder" name="getInstance">
    <Arg>PKIX</Arg>
    <Call id="pkixRevocationChecker" name="getRevocationChecker">
      <Call name="setOptions">
        <Arg>
          <Call class="java.util.EnumSet" name="of">
            <Arg><Ref refid="pkixPreferCrls"/></Arg>
            <Arg><Ref refid="pkixSoftFail"/></Arg>
            <Arg><Ref refid="pkixNoFallback"/></Arg>
          </Call>
        </Arg>
      </Call>
    </Call>
  </Call>
  <Set name="PkixCertPathChecker"><Ref refid="pkixRevocationChecker"/></Set>
  -->
  
 </Configure>
```

Now the issue is somehow solved if I add the **default** parameter in **jetty-ssl-context.xml** for the respective passwords. Please guide on how to solve this.



Run the `--list-config` for your `${jetty.base}` and lets see the output.

``` shell
$ cd /path/to/myjettybase
$ java -jar /opt/jetty-home-9.4.36.v20210114/start.jar --list-config
```

Also, please keep your version of Jetty up to date.
 * Releases - https://github.com/eclipse/jetty.project/releases
 * Security Reports - https://www.eclipse.org/jetty/security_reports.php

Hi Joakim, 

Here's the output below :

```
Java Environment:
-----------------
 java.home = /usr/lib/jvm/java-1.8.0-amazon-corretto/jre (null)
 java.vm.vendor = Amazon.com Inc. (null)
 java.vm.version = 25.265-b01 (null)
 java.vm.name = OpenJDK 64-Bit Server VM (null)
 java.vm.info = mixed mode (null)
 java.runtime.name = OpenJDK Runtime Environment (null)
 java.runtime.version = 1.8.0_265-b01 (null)
 java.io.tmpdir = /tmp (null)
 user.dir = /usr/g/gehc_security/csi/jetty (null)
 user.language = en (null)
 user.country = US (null)

Jetty Environment:
-----------------
 jetty.version = 9.4.22.v20191022
 jetty.tag.version = master
 jetty.home = /usr/g/gehc_security/csi/jetty
 jetty.base = /usr/g/gehc_security/csi/jetty

Config Search Order:
--------------------
 <command-line>
 ${jetty.base} -> /usr/g/gehc_security/csi/jetty
 ${jetty.home} -> /usr/g/gehc_security/csi/jetty


JVM Arguments:
--------------
 (no jvm args specified)

System Properties:
------------------
 (no system properties specified)

Properties:
-----------
 java.version = 1.8.0_265
 java.version.major = 1
 java.version.micro = 0
 java.version.minor = 8
 java.version.platform = 8
 jetty.base = /usr/g/gehc_security/csi/jetty
 jetty.base.uri = file:///usr/g/gehc_security/csi/jetty
 jetty.home = /usr/g/gehc_security/csi/jetty
 jetty.home.uri = file:///usr/g/gehc_security/csi/jetty

Jetty Server Classpath:
-----------------------
Version Information on 36 entries in the classpath.
Note: order presented here is how they would appear on the classpath.
      changes to the --module=name command line options will be reflected here.
 0:      1.4.1.v201005082020 | ${jetty.base}/lib/mail/javax.mail.glassfish-1.4.1.v201005082020.jar
 1:                    3.1.0 | ${jetty.base}/lib/servlet-api-3.1.jar
 2:                 3.1.0.M0 | ${jetty.base}/lib/jetty-schemas-3.1.jar
 3:         9.4.22.v20191022 | ${jetty.base}/lib/jetty-http-9.4.22.v20191022.jar
 4:         9.4.22.v20191022 | ${jetty.base}/lib/jetty-server-9.4.22.v20191022.jar
 5:         9.4.22.v20191022 | ${jetty.base}/lib/jetty-xml-9.4.22.v20191022.jar
 6:         9.4.22.v20191022 | ${jetty.base}/lib/jetty-util-9.4.22.v20191022.jar
 7:         9.4.22.v20191022 | ${jetty.base}/lib/jetty-io-9.4.22.v20191022.jar
 8:         9.4.22.v20191022 | ${jetty.base}/lib/jetty-jndi-9.4.22.v20191022.jar
 9:         9.4.22.v20191022 | ${jetty.base}/lib/jetty-security-9.4.22.v20191022.jar
10:                      1.3 | ${jetty.base}/lib/transactions/javax.transaction-api-1.3.jar
11:         9.4.22.v20191022 | ${jetty.base}/lib/jetty-servlet-9.4.22.v20191022.jar
12:         9.4.22.v20191022 | ${jetty.base}/lib/jetty-webapp-9.4.22.v20191022.jar
13:         9.4.22.v20191022 | ${jetty.base}/lib/jetty-plus-9.4.22.v20191022.jar
14:         9.4.22.v20191022 | ${jetty.base}/lib/jetty-annotations-9.4.22.v20191022.jar
15:                      7.1 | ${jetty.base}/lib/annotations/asm-7.1.jar
16:                      7.1 | ${jetty.base}/lib/annotations/asm-analysis-7.1.jar
17:                      7.1 | ${jetty.base}/lib/annotations/asm-commons-7.1.jar
18:                      7.1 | ${jetty.base}/lib/annotations/asm-tree-7.1.jar
19:                      1.3 | ${jetty.base}/lib/annotations/javax.annotation-api-1.3.jar
20:    3.17.0.v20190306-2240 | ${jetty.base}/lib/apache-jsp/org.eclipse.jdt.ecj-3.17.0.jar
21:         9.4.22.v20191022 | ${jetty.base}/lib/apache-jsp/org.eclipse.jetty.apache-jsp-9.4.22.v20191022.jar
22:                   8.5.40 | ${jetty.base}/lib/apache-jsp/org.mortbay.jasper.apache-el-8.5.40.jar
23:                   8.5.40 | ${jetty.base}/lib/apache-jsp/org.mortbay.jasper.apache-jsp-8.5.40.jar
24:                    1.2.5 | ${jetty.base}/lib/apache-jstl/org.apache.taglibs.taglibs-standard-impl-1.2.5.jar
25:                    1.2.5 | ${jetty.base}/lib/apache-jstl/org.apache.taglibs.taglibs-standard-spec-1.2.5.jar
26:         9.4.22.v20191022 | ${jetty.base}/lib/jetty-client-9.4.22.v20191022.jar
27:         9.4.22.v20191022 | ${jetty.base}/lib/jetty-deploy-9.4.22.v20191022.jar
28:                      1.0 | ${jetty.base}/lib/websocket/javax.websocket-api-1.0.jar
29:         9.4.22.v20191022 | ${jetty.base}/lib/websocket/javax-websocket-client-impl-9.4.22.v20191022.jar
30:         9.4.22.v20191022 | ${jetty.base}/lib/websocket/javax-websocket-server-impl-9.4.22.v20191022.jar
31:         9.4.22.v20191022 | ${jetty.base}/lib/websocket/websocket-api-9.4.22.v20191022.jar
32:         9.4.22.v20191022 | ${jetty.base}/lib/websocket/websocket-client-9.4.22.v20191022.jar
33:         9.4.22.v20191022 | ${jetty.base}/lib/websocket/websocket-common-9.4.22.v20191022.jar
34:         9.4.22.v20191022 | ${jetty.base}/lib/websocket/websocket-server-9.4.22.v20191022.jar
35:         9.4.22.v20191022 | ${jetty.base}/lib/websocket/websocket-servlet-9.4.22.v20191022.jar

Jetty Active XMLs:
------------------
 ${jetty.base}/etc/jetty-bytebufferpool.xml
 ${jetty.base}/etc/jetty-threadpool.xml
 ${jetty.base}/etc/jetty.xml
 ${jetty.base}/etc/jetty-webapp.xml
 ${jetty.base}/etc/jetty-plus.xml
 ${jetty.base}/etc/jetty-annotations.xml
 ${jetty.base}/etc/jetty-deploy.xml
 ${jetty.base}/etc/home-base-warning.xml
 ${jetty.base}/etc/jetty-http.xml
 ${jetty.base}/etc/jetty-ssl.xml
 ${jetty.base}/etc/jetty-ssl-context.xml
 ${jetty.base}/etc/jetty-https.xml
```


```
Properties:
-----------
 java.version = 1.8.0_265
 java.version.major = 1
 java.version.micro = 0
 java.version.minor = 8
 java.version.platform = 8
 jetty.base = /usr/g/gehc_security/csi/jetty
 jetty.base.uri = file:///usr/g/gehc_security/csi/jetty
 jetty.home = /usr/g/gehc_security/csi/jetty
 jetty.home.uri = file:///usr/g/gehc_security/csi/jetty
```

Your properties do not list the passwords you want to use (nor the specific keystore you want to use)

First, don't edit the `ssl.mod`, it even tells you this at the top of the file.

```
DO NOT EDIT - See: https://www.eclipse.org/jetty/documentation/current/startup-modules.html
```

You are also using the same directory for your `${jetty.home}` and `${jetty.base}` directory.

```
 jetty.home = /usr/g/gehc_security/csi/jetty
 jetty.base = /usr/g/gehc_security/csi/jetty
```

This is not recommended, and there is a warning specifically produced telling you this ...

```
[WARNING] This instance of Jetty is not running from a separate {jetty.base} directory, this is not recommended.  See documentation at https://www.eclipse.org/jetty/documentation/current/startup.html
```

The process you want to follow ...

1. Download the `jetty-home` archive and unpack it into a unique directory that you will treat as read-only and never change/edit/add/remove content from.
2. Create a new `${jetty.base}` directory somewhere for your specific configuration.
3. Add the modules you want to use
4. Configure the modules you are using (if you want different behavior than default)
5. Add your webapps
6. Configure your webapps (if you want different behavior than default)
7. Verify the configuration with `--list-config`
8. Start Jetty

Or as seen from a command line ...

``` shell
$ cd /tmp
# step 1 above
$ curl -O https://repo1.maven.org/maven2/org/eclipse/jetty/jetty-home/9.4.36.v20210114/jetty-home-9.4.36.v20210114.tar.gz
$ cd /opt
$ tar -zxf /tmp/jetty-home-9.4.36.v20210114.tar.gz
# step 2 above
$ cd /usr/g/gehc_security/csi/
$ mkdir jetty-base
$ cd jetty-base
# step 3 above
$ java -jar /opt/jetty-home-9.4.36.v20210114/start.jar --add-to-start=http,https,ssl-context,deploy,annotations
# step 4 above - make the changes for your keystore / passwords / etc here
$ edit start.d/ss-context.ini
# step 5 above
$ cp /tmp/mywebapp.war webapps/
# step 6 above (optional)
$ edit webapps/mywebapp.xml
# step 7 above
$ java -jar /opt/jetty-home-9.4.36.v20210114/start.jar --list-config
# step 8 above
$ java -jar /opt/jetty-home-9.4.36.v20210114/start.jar
```

Use the `jetty-home` artifact/tarball/zip.
The old school `jetty-distribution` artifact/tarball/zip is just `jetty-home` with an demonstration `${jetty.base}` directory.
Note: the `jetty-distribution` artifact/tarball/zip has been completely removed from Jetty 10 onwards, only the `jetty-home` artifact exists anymore.

Why go thru all of this?
Well, you have a separate configuration now, one not tied to a specific version of Jetty.

You can now upgrade (or downgrade) your version of Jetty without having to reimplement your changes over an unpacked tarball ever again.

closing for now. Please reopen if we have not answered your question.