Jetty 9 - Client-side problems with digest authentication

When a Jetty `HttpClient` sends a POST to a URI protected by a `DigestAuthenticator` on a Jetty server, and the server responds with an authentication challenge, the requests fails intermittently on the client side. The larger the content and the slower the internet connection, the more likely the failure occurs. The requests fails with randomly either an `org.eclipse.jetty.io.EofException` thrown in `ChannelEndPoint.flush` or a `java.io.EOFException` thrown in `HttpReceiverOverHTTP.earlyEOF`. Apparently, the client complains about the connection being closed by the server before the request content is sent completely.

The reasons why the server closes the connection without reading all the content are already discussed in issue #651. I also agree to the points raised by @gregw, but I think that the client should be ready for a server behaving in this way and attempt to recover from such a situation. This also seems to be in line with [RFC 7230, section 6.3.1](https://tools.ietf.org/html/rfc7230#section-6.3.1). In particular, since an authentication challenge response indicates that the request must be authenticated before the server can process the request and its content, the client could safely ignore the closed connection, follow the authentication protocol and resend the request with the established credentials using a new connection, even if the request uses a non-idempotent method such as POST.

I also agree with @sbordet that in the case of digest authentication, the credentials should be established with an initial request without content, but this does not solve the problem in the case of stale credentials of a later POST.

On the server side, I implemented @Adebski’s solution, which works fine apart from being a potential DOS risk as noted by @gregw. Therefore, I hope it is possible to change the `HttpClient` such that it also works with servers that close the connection without reading the whole content, at least in the case of digest authentication challenges.

By the way, I use the TCP/IP Monitor integrated in Eclipse IDE for network debugging. When I activate this monitor between a Jetty server and a Jetty `HttpClient`, requests that require digest authentication always fail, regardless of payload size or connection speed (even with client and server running on the same machine). Unfortunately, I cannot tell whether the problem is created by the client, the server, or the monitor, so I do not know where to raise an issue regarding this problem.

Our use case is the distribution and synchronization of data between multiple systems. So, our client executes POSTs, PUTs and DELETEs all day and only rarely a GET. Our exact test environment is Jetty 9.4.7.v20170914, Java 1.8.0_152 and Http1.1.


`HttpClient` has no way to retry the POST on behalf of user code, as it would not know where to take the POST content from. Only user code can do that.

What `HttpClient` does it to relay the failure back to the user code; the user code can inspect the `Result` object, see that there are no _response_ failures and that it got a 401, see that there has been a _request_ failure and arrange to retrieve the content again and retry the POST, this time with the proper credentials.

Would that work for you ? 
Otherwise you need to explain in detail what you would like `HttpClient` to do, but I don't see much that `HttpClient` can do in this case.

I think retrying the POST is only a problem if you use the `InputStreamContentProvider`
or an `AsyncContentProvider`. But for the others there is no problem because the  `iterator()` 
method always creates a new `Iterator`.
The `AuthenticationProtocolHandler.AuthenticationListener.onComplete()` already makes exactly this retry and copies the `ContentProvider` from the old `Request` into the new `Request`.
This is the behaviour I expect from the  `HttpClient`, and works fine on a lan, but failes if the connection is not fast enough.

I can show you my test scenario

This is my server
```java
import java.io.BufferedReader;
import java.io.IOException;

import javax.servlet.ServletException;
import javax.servlet.http.HttpServletRequest;
import javax.servlet.http.HttpServletResponse;

import org.eclipse.jetty.security.ConstraintMapping;
import org.eclipse.jetty.security.ConstraintSecurityHandler;
import org.eclipse.jetty.security.HashLoginService;
import org.eclipse.jetty.security.UserStore;
import org.eclipse.jetty.security.authentication.DigestAuthenticator;
import org.eclipse.jetty.util.security.Constraint;
import org.eclipse.jetty.util.security.Credential;

import org.eclipse.jetty.server.Request;
import org.eclipse.jetty.server.Server;
import org.eclipse.jetty.server.handler.AbstractHandler;

public class HelloJetty extends AbstractHandler
{
    @Override
    public void handle( String target,
                        Request baseRequest,
                        HttpServletRequest request,
                        HttpServletResponse response ) throws IOException,
                                                      ServletException
    {
		String method = request.getMethod();
		if ("GET".equals(method)) {
			response.setContentType("text/html; charset=utf-8");
			response.setStatus(HttpServletResponse.SC_OK);
			response.getWriter().println("<h1>Hello Jetty</h1>");
		}
		else if ("POST".equals(method)) {
			BufferedReader reader = request.getReader();
			for (;;) {
				String line = reader.readLine();
				if (line == null)
					break;
				System.out.println(line);
			}
		}
        baseRequest.setHandled(true);
    }

    public static void main(String[] args) throws Exception
    {
        Server server = new Server(8080);

		HelloJetty helloJettyHandler = new HelloJetty();
		
		String realm = "HelloJettyRealm";
		String[] roles = new String[] { "user" };

		UserStore userStore = new UserStore();
		userStore.addUser("USERNAME", Credential.getCredential("PASSWORD"), roles);

		HashLoginService loginService = new HashLoginService();
		loginService.setUserStore(userStore);
		loginService.setName(realm);

		Constraint constraint = new Constraint();
		constraint.setName(Constraint.__DIGEST_AUTH);
		constraint.setRoles(roles);
		constraint.setAuthenticate(true);

		ConstraintMapping cm = new ConstraintMapping();
		cm.setConstraint(constraint);
		cm.setPathSpec("/");

		ConstraintSecurityHandler csHandler = new ConstraintSecurityHandler();
		csHandler.setAuthenticator(new DigestAuthenticator());
		csHandler.setRealmName(realm);
		csHandler.addConstraintMapping(cm);
		csHandler.setLoginService(loginService);
		csHandler.setHandler(helloJettyHandler);
		
        server.setHandler(csHandler);

        server.start();
        server.join();
    }
}
```

This is my client
```java
import java.net.URI;
import java.util.concurrent.TimeUnit;
import org.eclipse.jetty.client.HttpClient;
import org.eclipse.jetty.client.api.Authentication;
import org.eclipse.jetty.client.api.ContentResponse;
import org.eclipse.jetty.client.util.DigestAuthentication;
import org.eclipse.jetty.client.util.StringContentProvider;

public class HelloClient
{
    public static void main(String[] args) throws Exception
    {
		HttpClient httpClient = new HttpClient();
		try {
			String outStr =
"firstline\n" +
"line  2 ------------------------------------------------------------------ \n" +
"line  3 ------------------------------------------------------------------ \n" +
"line  4 ------------------------------------------------------------------ \n" +
"line  5 ------------------------------------------------------------------ \n" +
"line  6 ------------------------------------------------------------------ \n" +
"line  7 ------------------------------------------------------------------ \n" +
"line  8 ------------------------------------------------------------------ \n" +
"line  9 ------------------------------------------------------------------ \n" +
"line 10 ------------------------------------------------------------------ \n" +
"line 11 ------------------------------------------------------------------ \n" +
"line 12 ------------------------------------------------------------------ \n" +
"line 13 ------------------------------------------------------------------ \n" +
"line 14 ------------------------------------------------------------------ \n" +
"line 15 ------------------------------------------------------------------ \n" +
"line 16 ------------------------------------------------------------------ \n" +
"line 17 ------------------------------------------------------------------ \n" +
"line 18 ------------------------------------------------------------------ \n" +
"line 19 ------------------------------------------------------------------ \n" +
"line 20 ------------------------------------------------------------------ \n" +
"line 21 ------------------------------------------------------------------ \n" +
"line 22 ------------------------------------------------------------------ \n" +
"line 23 ------------------------------------------------------------------ \n" +
"line 24 ------------------------------------------------------------------ \n" +
"line 25 ------------------------------------------------------------------ \n" +
"lastline";
			httpClient.start();
			URI uri = URI.create(args[0]);
			httpClient.getAuthenticationStore()
				.addAuthentication(new DigestAuthentication(uri, Authentication.ANY_REALM, "USERNAME", "PASSWORD"));
			ContentResponse response = httpClient.POST(uri)
				.timeout(30, TimeUnit.SECONDS)
				.content(new StringContentProvider(outStr), "text/plain")
				.send();
			System.out.println(response);
		}
		catch (Exception exc) {
			exc.printStackTrace();
		}
		finally {
			httpClient.stop();
		}
    }
}
```

On the client you have to pass in as first parameter the uri pointing to the server.
Maybe you have to increase the size of `outStr` to provocate the failure.

This are samples of Stacktraces of failure
```
java.io.EOFException: HttpConnectionOverHTTP@10334cf(l:/client:52195 <-> r:/remoteserver:8480,closed=false)=>HttpChannelOverHTTP@bd0475(exchange=HttpExchange@1bf9486 req=TERMINATED/null@null res=PENDING/null@null)[send=HttpSenderOverHTTP@d7f8f3(req=QUEUED,snd=COMPLETED,failure=null)[HttpGenerator@44e5a2{s=START}],recv=HttpReceiverOverHTTP@c6d773(rsp=IDLE,failure=null)[HttpParser{s=CLOSED,0 of -1}]]<-SocketChannelEndPoint@1906bc9{/remoteserver:8480<->/client:52195,ISHUT,fill=-,flush=-,to=0/0}{io=0/0,kio=0,kro=1}->HttpConnectionOverHTTP@10334cf(l:/client:52195 <-> r:/remoteserver:8480,closed=false)=>HttpChannelOverHTTP@bd0475(exchange=HttpExchange@1bf9486 req=TERMINATED/null@null res=PENDING/null@null)[send=HttpSenderOverHTTP@d7f8f3(req=QUEUED,snd=COMPLETED,failure=null)[HttpGenerator@44e5a2{s=START}],recv=HttpReceiverOverHTTP@c6d773(rsp=IDLE,failure=null)[HttpParser{s=CLOSED,0 of -1}]]
	at org.eclipse.jetty.client.http.HttpReceiverOverHTTP.earlyEOF(HttpReceiverOverHTTP.java:320)
	at org.eclipse.jetty.http.HttpParser.parseNext(HttpParser.java:1419)
	at org.eclipse.jetty.client.http.HttpReceiverOverHTTP.shutdown(HttpReceiverOverHTTP.java:196)
	at org.eclipse.jetty.client.http.HttpReceiverOverHTTP.process(HttpReceiverOverHTTP.java:143)
	at org.eclipse.jetty.client.http.HttpReceiverOverHTTP.receive(HttpReceiverOverHTTP.java:70)
	at org.eclipse.jetty.client.http.HttpChannelOverHTTP.receive(HttpChannelOverHTTP.java:130)
	at org.eclipse.jetty.client.http.HttpConnectionOverHTTP.onFillable(HttpConnectionOverHTTP.java:116)
	at org.eclipse.jetty.io.AbstractConnection$ReadCallback.succeeded(AbstractConnection.java:279)
	at org.eclipse.jetty.io.FillInterest.fillable(FillInterest.java:104)
	at org.eclipse.jetty.io.ChannelEndPoint$2.run(ChannelEndPoint.java:124)
	at org.eclipse.jetty.util.thread.QueuedThreadPool.runJob(QueuedThreadPool.java:679)
	at org.eclipse.jetty.util.thread.QueuedThreadPool$2.run(QueuedThreadPool.java:597)
	at java.lang.Thread.run(Thread.java:748)
```
```
java.io.IOException: Eine bestehende Verbindung wurde softwaregesteuert
durch den Hostcomputer abgebrochen
	at sun.nio.ch.SocketDispatcher.writev0(Native Method)
	at sun.nio.ch.SocketDispatcher.writev(SocketDispatcher.java:55)
	at sun.nio.ch.IOUtil.write(IOUtil.java:148)
	at sun.nio.ch.SocketChannelImpl.write(SocketChannelImpl.java:504)
	at org.eclipse.jetty.io.ChannelEndPoint.flush(ChannelEndPoint.java:272)
	at org.eclipse.jetty.io.WriteFlusher.flush(WriteFlusher.java:429)
	at org.eclipse.jetty.io.WriteFlusher.write(WriteFlusher.java:322)
	at org.eclipse.jetty.io.AbstractEndPoint.write(AbstractEndPoint.java:372)
	at org.eclipse.jetty.client.http.HttpSenderOverHTTP$HeadersCallback.process(HttpSenderOverHTTP.java:261)
	at org.eclipse.jetty.util.IteratingCallback.processing(IteratingCallback.java:241)
	at org.eclipse.jetty.util.IteratingCallback.iterate(IteratingCallback.java:224)
	at org.eclipse.jetty.client.http.HttpSenderOverHTTP.sendHeaders(HttpSenderOverHTTP.java:62)
	at org.eclipse.jetty.client.HttpSender.send(HttpSender.java:207)
	at org.eclipse.jetty.client.http.HttpChannelOverHTTP.send(HttpChannelOverHTTP.java:83)
	at org.eclipse.jetty.client.HttpConnection.send(HttpConnection.java:202)
	at org.eclipse.jetty.client.http.HttpConnectionOverHTTP$Delegate.send(HttpConnectionOverHTTP.java:215)
	at org.eclipse.jetty.client.http.HttpConnectionOverHTTP.send(HttpConnectionOverHTTP.java:83)
	at org.eclipse.jetty.client.http.HttpDestinationOverHTTP.send(HttpDestinationOverHTTP.java:38)
	at org.eclipse.jetty.client.HttpDestination.process(HttpDestination.java:332)
	at org.eclipse.jetty.client.HttpDestination.process(HttpDestination.java:290)
	at org.eclipse.jetty.client.HttpDestination.send(HttpDestination.java:280)
	at org.eclipse.jetty.client.HttpDestination.release(HttpDestination.java:385)
	at org.eclipse.jetty.client.http.HttpConnectionOverHTTP.release(HttpConnectionOverHTTP.java:137)
	at org.eclipse.jetty.client.http.HttpChannelOverHTTP.release(HttpChannelOverHTTP.java:89)
	at org.eclipse.jetty.client.http.HttpChannelOverHTTP.exchangeTerminated(HttpChannelOverHTTP.java:179)
	at org.eclipse.jetty.client.HttpReceiver.terminateResponse(HttpReceiver.java:461)
	at org.eclipse.jetty.client.HttpReceiver.responseSuccess(HttpReceiver.java:405)
	at org.eclipse.jetty.client.http.HttpReceiverOverHTTP.messageComplete(HttpReceiverOverHTTP.java:297)
	at org.eclipse.jetty.http.HttpParser.handleContentMessage(HttpParser.java:607)
	at org.eclipse.jetty.http.HttpParser.parseContent(HttpParser.java:1537)
	at org.eclipse.jetty.http.HttpParser.parseNext(HttpParser.java:1385)
	at org.eclipse.jetty.client.http.HttpReceiverOverHTTP.parse(HttpReceiverOverHTTP.java:170)
	at org.eclipse.jetty.client.http.HttpReceiverOverHTTP.process(HttpReceiverOverHTTP.java:131)
	at org.eclipse.jetty.client.http.HttpReceiverOverHTTP.receive(HttpReceiverOverHTTP.java:70)
	at org.eclipse.jetty.client.http.HttpChannelOverHTTP.receive(HttpChannelOverHTTP.java:130)
	at org.eclipse.jetty.client.http.HttpConnectionOverHTTP.onFillable(HttpConnectionOverHTTP.java:116)
	at org.eclipse.jetty.io.AbstractConnection$ReadCallback.succeeded(AbstractConnection.java:279)
	at org.eclipse.jetty.io.FillInterest.fillable(FillInterest.java:104)
	at org.eclipse.jetty.io.ChannelEndPoint$2.run(ChannelEndPoint.java:124)
	at java.util.concurrent.ThreadPoolExecutor.runWorker(ThreadPoolExecutor.java:1149)
	at java.util.concurrent.ThreadPoolExecutor$Worker.run(ThreadPoolExecutor.java:624)
	at java.lang.Thread.run(Thread.java:748)
```
```
org.eclipse.jetty.io.EofException
	at org.eclipse.jetty.io.ChannelEndPoint.flush(ChannelEndPoint.java:292)
	at org.eclipse.jetty.io.WriteFlusher.flush(WriteFlusher.java:429)
	at org.eclipse.jetty.io.WriteFlusher.write(WriteFlusher.java:322)
	at org.eclipse.jetty.io.AbstractEndPoint.write(AbstractEndPoint.java:372)
	at org.eclipse.jetty.client.http.HttpSenderOverHTTP$HeadersCallback.process(HttpSenderOverHTTP.java:261)
	at org.eclipse.jetty.util.IteratingCallback.processing(IteratingCallback.java:241)
	at org.eclipse.jetty.util.IteratingCallback.iterate(IteratingCallback.java:224)
	at org.eclipse.jetty.client.http.HttpSenderOverHTTP.sendHeaders(HttpSenderOverHTTP.java:62)
	at org.eclipse.jetty.client.HttpSender.send(HttpSender.java:207)
	at org.eclipse.jetty.client.http.HttpChannelOverHTTP.send(HttpChannelOverHTTP.java:83)
	at org.eclipse.jetty.client.HttpConnection.send(HttpConnection.java:202)
	at org.eclipse.jetty.client.http.HttpConnectionOverHTTP$Delegate.send(HttpConnectionOverHTTP.java:215)
	at org.eclipse.jetty.client.http.HttpConnectionOverHTTP.send(HttpConnectionOverHTTP.java:83)
	at org.eclipse.jetty.client.http.HttpDestinationOverHTTP.send(HttpDestinationOverHTTP.java:38)
	at org.eclipse.jetty.client.HttpDestination.process(HttpDestination.java:332)
	at org.eclipse.jetty.client.HttpDestination.process(HttpDestination.java:290)
	at org.eclipse.jetty.client.HttpDestination.send(HttpDestination.java:280)
	at org.eclipse.jetty.client.HttpDestination.send(HttpDestination.java:255)
	at org.eclipse.jetty.client.HttpClient.send(HttpClient.java:557)
	at org.eclipse.jetty.client.HttpRequest.send(HttpRequest.java:723)
	at org.eclipse.jetty.client.HttpRequest.send(HttpRequest.java:707)
	at org.eclipse.jetty.client.AuthenticationProtocolHandler$AuthenticationListener.onComplete(AuthenticationProtocolHandler.java:176)
	at org.eclipse.jetty.client.ResponseNotifier.notifyComplete(ResponseNotifier.java:193)
	at org.eclipse.jetty.client.ResponseNotifier.notifyComplete(ResponseNotifier.java:185)
	at org.eclipse.jetty.client.HttpReceiver.terminateResponse(HttpReceiver.java:459)
	at org.eclipse.jetty.client.HttpReceiver.responseSuccess(HttpReceiver.java:405)
	at org.eclipse.jetty.client.http.HttpReceiverOverHTTP.messageComplete(HttpReceiverOverHTTP.java:297)
	at org.eclipse.jetty.http.HttpParser.handleContentMessage(HttpParser.java:607)
	at org.eclipse.jetty.http.HttpParser.parseContent(HttpParser.java:1537)
	at org.eclipse.jetty.http.HttpParser.parseNext(HttpParser.java:1385)
	at org.eclipse.jetty.client.http.HttpReceiverOverHTTP.parse(HttpReceiverOverHTTP.java:170)
	at org.eclipse.jetty.client.http.HttpReceiverOverHTTP.process(HttpReceiverOverHTTP.java:131)
	at org.eclipse.jetty.client.http.HttpReceiverOverHTTP.receive(HttpReceiverOverHTTP.java:70)
	at org.eclipse.jetty.client.http.HttpChannelOverHTTP.receive(HttpChannelOverHTTP.java:130)
	at org.eclipse.jetty.client.http.HttpConnectionOverHTTP.onFillable(HttpConnectionOverHTTP.java:116)
	at org.eclipse.jetty.io.AbstractConnection$ReadCallback.succeeded(AbstractConnection.java:279)
	at org.eclipse.jetty.io.FillInterest.fillable(FillInterest.java:104)
	at org.eclipse.jetty.io.ChannelEndPoint$2.run(ChannelEndPoint.java:124)
	at java.util.concurrent.ThreadPoolExecutor.runWorker(ThreadPoolExecutor.java:1149)
	at java.util.concurrent.ThreadPoolExecutor$Worker.run(ThreadPoolExecutor.java:624)
	at java.lang.Thread.run(Thread.java:748)
Caused by: java.io.IOException: Eine bestehende Verbindung wurde softwaregesteuert
durch den Hostcomputer abgebrochen
	at sun.nio.ch.SocketDispatcher.writev0(Native Method)
	at sun.nio.ch.SocketDispatcher.writev(SocketDispatcher.java:55)
	at sun.nio.ch.IOUtil.write(IOUtil.java:148)
	at sun.nio.ch.SocketChannelImpl.write(SocketChannelImpl.java:504)
	at org.eclipse.jetty.io.ChannelEndPoint.flush(ChannelEndPoint.java:272)
	... 40 more
```


I believe it is not correct for a user-agent to retry a POST even if it can be done.

The HttpClient must "ask" it's user before retrying a post.

RFC 7231 defines:
- [safe methods](https://tools.ietf.org/html/rfc7231#section-4.2.1): GET, HEAD, OPTIONS, TRACE
- [idempotent methods](https://tools.ietf.org/html/rfc7231#section-4.2.2): PUT, DELETE, safe methods
What's left is CONNECT and POST.

RFC 7230 defines retrying requests [here](https://tools.ietf.org/html/rfc7230#section-6.3.1).

I think we must enforce that if the request is a POST, then `AuthenticationProtocolHandler` does not retry it and relays the error to user code.

In other cases, it may retry the request, but how does `HttpClient` know that the content may be read again ?
We may introduce an empty sub-interface of `ContentProvider` that marks a `ContentProvider` implementation as one that can repeat the content, e.g. `ContentProvider.Repeatable`.



@Dietmar and I had a closer look at the stacktraces, and according to our interpretation, they represent three different failures due to the connection being closed in different situations:
- while sending the **original**, unauthenticated request (stacktrace 2),
- while sending the **copied**, authenticated request (stacktrace 3), or
- while receiving the response of the **copied**, authenticated request (stacktrace 1).

I agree with @gregw that the `HttpClient` is not allowed to automatically repeat the POST request when the connection is closed during the copied request before the response status is received, as it is not possible to tell whether the request arrived at the server or not.

However, when the connection is closed after the response with the authentication challenge was received but before the whole content could be sent, I still think that the `HttpClient` should stop sending and continue processing the authentication challenge. After all, if the server indicates that the request is not authorized, why would it be important to send the rest of the content?

Otherwise, with jetty client and server out of the box, Digest authentication cannot be used safely with POST requests, unless an OPTIONS request is sent before *every* POST, as the established credentials could expire any time.

Currently, in these special cases, we only get an exception and no response status, so the solution suggested by @sbordet does not work.

wrong dietmar ;)

@gregw and I discussed this, and even for POSTs, if the server replies with a 401 it means that the POST was not authorized and therefore did not have the effects that it would normally have, and therefore can be retried.
Of course an application can always screw things up, perform the POST action and then return 401, but that'd be a broken application.

So current approach would be for the `AuthenticationProtocolHandler` to check if the content is repeatable, and if it is attempt to retry the request, otherwise relay the result to the application.

That should solve your case, right ? 


Yes, that should solve it. :thumbsup:

Whether a `ContentProvider` is repeatable is actually already a concern whenever the server responds with UNAUTHORIZED, regardless of wether also the connection is closed or not, so introducing a way of specifying this would definitely be a good idea.

Currently, the `AuthenticationProtocolHandler` just blindly reuses the `ContentProvider` for the copied request without checking.
For a `DeferredContentProvider`, this fails with an `IllegalStateException` thrown in `setListener`, whereas the original UNAUTHORIZED response would be a more useful result.
For an `InputStreamContentProvider`, the content of the copied request is empty, but there is no failure. When the `HttpClient` will be able to stop sending when an UNAUTHORIZED response has arrived, the rest of the content will go to the copied request. While in principle this could be the desired behavior for certain situations where only the latest data is of interest, it is probably best to let the programmer decide.


I pushed a change for this issue at 57368cb895ba4a82f88a95a0ea7bfee81a929228.
Can you guys try it out and report whether it solves your problem ?

```
$ git clone https://github.com/eclipse/jetty.project.git
$ cd jetty.project
$ git checkout 57368cb895ba4a82f88a95a0ea7bfee81a929228
$ mvn clean install -DskipTests
```

Thank you for your efforts!
Unfortunately, it does not work yet. I observerd two different problems.

One is that if the result passed to `onComplete` indeed has a request failure but no response failure, the `AuthenticationHandler` does try to resend the request but actually never reaches the server. Maybe it tries to reuse the now-closed connection?

Another problem is that sometimes the result has both, a request failure and a response failure (both pointing to the same exception object, see stacktrace below). I am not sure, but probably this means that this failure happened before the response status was received.
Looking a bit deeper into `HttpClient`, it seems that it only starts receiving the response after the first chunk of content is sent. Provided this is true, if the connection is closed while sending the first chunk, we never receive a response, even if physically it would already be available.
Otherwise, I do not understand how this can be the case.

Here is the stacktrace of the exceptions registered in the result passed to the `AuthenticationHandler`, both for request failures and response failures:
```
org.eclipse.jetty.io.EofException
	at org.eclipse.jetty.io.ChannelEndPoint.flush(ChannelEndPoint.java:292)
	at org.eclipse.jetty.io.WriteFlusher.flush(WriteFlusher.java:429)
	at org.eclipse.jetty.io.WriteFlusher.write(WriteFlusher.java:322)
	at org.eclipse.jetty.io.AbstractEndPoint.write(AbstractEndPoint.java:372)
	at org.eclipse.jetty.client.http.HttpSenderOverHTTP.sendContent(HttpSenderOverHTTP.java:106)
	at org.eclipse.jetty.client.HttpSender$ContentCallback.process(HttpSender.java:836)
	at org.eclipse.jetty.util.IteratingCallback.processing(IteratingCallback.java:241)
	at org.eclipse.jetty.util.IteratingCallback.iterate(IteratingCallback.java:224)
	at org.eclipse.jetty.client.HttpSender$CommitCallback.process(HttpSender.java:760)
	at org.eclipse.jetty.client.HttpSender$CommitCallback.succeeded(HttpSender.java:697)
	at org.eclipse.jetty.client.http.HttpSenderOverHTTP$HeadersCallback.onCompleteSuccess(HttpSenderOverHTTP.java:318)
	at org.eclipse.jetty.util.IteratingCallback.processing(IteratingCallback.java:325)
	at org.eclipse.jetty.util.IteratingCallback.iterate(IteratingCallback.java:224)
	at org.eclipse.jetty.client.http.HttpSenderOverHTTP.sendHeaders(HttpSenderOverHTTP.java:62)
	at org.eclipse.jetty.client.HttpSender.send(HttpSender.java:207)
	at org.eclipse.jetty.client.http.HttpChannelOverHTTP.send(HttpChannelOverHTTP.java:88)
	at org.eclipse.jetty.client.HttpConnection.send(HttpConnection.java:199)
	at org.eclipse.jetty.client.http.HttpConnectionOverHTTP$Delegate.send(HttpConnectionOverHTTP.java:254)
	at org.eclipse.jetty.client.http.HttpConnectionOverHTTP.send(HttpConnectionOverHTTP.java:122)
	at org.eclipse.jetty.client.http.HttpDestinationOverHTTP.send(HttpDestinationOverHTTP.java:38)
	at org.eclipse.jetty.client.HttpDestination.process(HttpDestination.java:332)
	at org.eclipse.jetty.client.HttpDestination.process(HttpDestination.java:290)
	at org.eclipse.jetty.client.HttpDestination.send(HttpDestination.java:280)
	at org.eclipse.jetty.client.HttpDestination.succeeded(HttpDestination.java:221)
	at org.eclipse.jetty.client.AbstractConnectionPool.proceed(AbstractConnectionPool.java:138)
	at org.eclipse.jetty.client.AbstractConnectionPool$1.succeeded(AbstractConnectionPool.java:115)
	at org.eclipse.jetty.client.AbstractConnectionPool$1.succeeded(AbstractConnectionPool.java:108)
	at org.eclipse.jetty.util.Promise$Wrapper.succeeded(Promise.java:130)
	at org.eclipse.jetty.client.http.HttpConnectionOverHTTP.onOpen(HttpConnectionOverHTTP.java:130)
	at org.eclipse.jetty.io.SelectorManager.connectionOpened(SelectorManager.java:322)
	at org.eclipse.jetty.io.ManagedSelector.createEndPoint(ManagedSelector.java:213)
	at org.eclipse.jetty.io.ManagedSelector.access$1600(ManagedSelector.java:60)
	at org.eclipse.jetty.io.ManagedSelector$CreateEndPoint.run(ManagedSelector.java:650)
	at org.eclipse.jetty.util.thread.QueuedThreadPool.runJob(QueuedThreadPool.java:708)
	at org.eclipse.jetty.util.thread.QueuedThreadPool$2.run(QueuedThreadPool.java:626)
	at java.lang.Thread.run(Thread.java:745)
Caused by: java.io.IOException: Eine bestehende Verbindung wurde softwaregesteuert
durch den Hostcomputer abgebrochen
	at sun.nio.ch.SocketDispatcher.write0(Native Method)
	at sun.nio.ch.SocketDispatcher.write(SocketDispatcher.java:51)
	at sun.nio.ch.IOUtil.writeFromNativeBuffer(IOUtil.java:93)
	at sun.nio.ch.IOUtil.write(IOUtil.java:51)
	at sun.nio.ch.SocketChannelImpl.write(SocketChannelImpl.java:471)
	at org.eclipse.jetty.io.ChannelEndPoint.flush(ChannelEndPoint.java:270)
```


> Maybe it tries to reuse the now-closed connection?

No, we carefully avoid that.

The other issue is that the connection is closed by the server before sending the response, so it's a "normal" failure that your application should handle.

> Looking a bit deeper into `HttpClient`, it seems that it only starts receiving the response after the first chunk of content is sent. Provided this is true, if the connection is closed while sending the first chunk, we never receive a response, even if physically it would already be available.

`HttpClient` is always ready to receive a response, it does not wait for anything.
If the connection is closed while sending the request and before receiving the response, I don't see how it "physically would already be available".

You need to take a network trace with wireshark, or enable DEBUG logging, but this seems another issue to me, possibly due to the server rather than the client.

OK, then it really must be something else.

Now I took network traces and also enabled debugging. Here are three different network traces (as `.txt` files) and the corresponding logs:

[jetty-digest-1.pcapng.txt](https://github.com/eclipse/jetty.project/files/1498492/jetty-digest-1.pcapng.txt)
[jetty-digest-1.log](https://github.com/eclipse/jetty.project/files/1498484/jetty-digest-1.log)
[jetty-digest-2.pcapng.txt](https://github.com/eclipse/jetty.project/files/1498493/jetty-digest-2.pcapng.txt)
[jetty-digest-2.log](https://github.com/eclipse/jetty.project/files/1498485/jetty-digest-2.log)
[jetty-digest-3.pcapng.txt](https://github.com/eclipse/jetty.project/files/1498494/jetty-digest-3.pcapng.txt)
[jetty-digest-3.log](https://github.com/eclipse/jetty.project/files/1498486/jetty-digest-3.log)

When I force the server to consume all the content even if the request is not authorized, the request succeeds, and this is what happens:

[jetty-digest-skipcontent.pcapng.txt](https://github.com/eclipse/jetty.project/files/1498550/jetty-digest-skipcontent.pcapng.txt)
[jetty-digest-skipcontent.log](https://github.com/eclipse/jetty.project/files/1498551/jetty-digest-skipcontent.log)





For case 1, the logs shows that the request upload went into TCP congestion and stopped uploading (at 07:01:08.305, "flushed incompete"); at about the same time, the connection was readable, but attempting to read caused an exception (at 07:01:08.315, "parseNext").
Despite the TCP dump shows that the server did send the 401 response, this was never given to the application (by the TCP stack) to be read, so there is nothing that we can do.
From `HttpClient` point of view, it tried to upload the request, got TCP congested, tried to read the response, got an error and at that point it's a hard failure reported to the application.

Case 2 is identical to case 1: stops uploading at 07:03:46.027 "flushed incomplete", tries to read response at 07:03:46.039 "parseNext".
Again the TCP dump shows the response arrived, but this was not given to the application.

Case 3 is identical to the previous 2: stops uploading at 07:07:13.502 "flushed incomplete", tries to read response at 07:07:13.513 "parseNext".
Again the TCP dump shows the response arrived, but this was not given to the application.

I don't know why the TCP stack of Windows (or the JVM binding to the Windows TCP stack) behaves in this way.

How can you force the server to consume the content for unauthorized requests ?
Jetty should have not given you the request, if not authorized. Did you modify Jetty ?

Thank you for your analysis!

I will do another experiment with a plain `UrlConnection` instead of a jetty `HttpClient` to see if there are any differences, just in case.

For consuming the content on the server, I used an approach similar to what @Adebski suggested in #651. The only difference is that instead of copy-pasting `DigestAuthenticator`, I put the comsuming logic in a custom `ErrorHandler`.

Interestingly, sending the POST using a `UrlConnection` works. Here is a network trace:

[urlconn-digest.pcapng.txt](https://github.com/eclipse/jetty.project/files/1502961/urlconn-digest.pcapng.txt)

I do not have much experience in reading network traces, but what I can see is that the client initiates a new connection just after the server closed the previous one. But as you said, if Jetty never gets to see the UNAUTHORIZED response, there is not much it can do about.

So the question is why the response is seen by `UrlConnection` but not by Jetty.




Could be a difference due to the fact that Jetty uses NIO while `UrlConnection` uses blocking IO (BIO); it may be that NIO does not relay the 401 response, but using BIO does.

Do you have the chance to try it on a different OS than Windows (not virtualized) to see if the behavior is the same ?
Or even code a simple Java client on Windows that uses NIO versus BIO ?

I did some experiments, and they suggest it is an NIO issue.

On the other hand, I discovered netty/netty#1952, which is closely related to this issue and was solved.

But lets start with the experiments.

### Experiments

I made a test client using [Apache's `HttpAsyncClient`](https://hc.apache.org/httpcomponents-asyncclient-4.1.x/index.html), which apparently uses NIO and also fails to complete the request:

[async-apache-digest-failure.pcapng.txt](https://github.com/eclipse/jetty.project/files/1505277/async-apache-digest-failure.pcapng.txt)
[async-apache-digest-failure.log](https://github.com/eclipse/jetty.project/files/1505278/async-apache-digest-failure.log)

In contrast, [Apache's `HttpClient`](https://hc.apache.org/httpcomponents-client-4.5.x/index.html) seems to use BIO and works:

[sync-apache-digest.pcapng.txt](https://github.com/eclipse/jetty.project/files/1505398/sync-apache-digest.pcapng.txt)

Running the various clients on macOS 10.13.1 also gives similar results.
Jetty and `HttpAsyncClient` fail:

[mac-jetty-digest.pcapng.txt](https://github.com/eclipse/jetty.project/files/1505407/mac-jetty-digest.pcapng.txt)
[mac-jetty-digest.log](https://github.com/eclipse/jetty.project/files/1505406/mac-jetty-digest.log)
[mac-async-apache-digest.pcapng.txt](https://github.com/eclipse/jetty.project/files/1505411/mac-async-apache-digest.pcapng.txt)
[mac-async-apache-digest.log](https://github.com/eclipse/jetty.project/files/1505410/mac-async-apache-digest.log)

`UrlConnection` and Apache's synchronoues `HttpClient` work:

[mac-sync-apache-digest.pcapng.txt](https://github.com/eclipse/jetty.project/files/1505408/mac-sync-apache-digest.pcapng.txt)
[mac-urlconn-digest.pcapng.txt](https://github.com/eclipse/jetty.project/files/1505409/mac-urlconn-digest.pcapng.txt)

So to summarize, if NIO is used, the request fails, independently of the client OS (Windows vs. Mac) or the higher-level HTTP client implementation (Jetty vs Apache).

### Related Netty Issue

Now consider https://github.com/netty/netty/issues/1952#issuecomment-27432650:

> The problem I discovered is that on a write exception netty will close the socket with bytes to be read on the socket. Once closed, those bytes are lost.

Could it be that both, Jetty and Apache's `HttpAsyncClient`, do something similar?
At least it seems so for Jetty from the following stacktraces:

```
Thread [HttpClient@24377049-18] (Suspended)	
	HttpParser.close() line: 1658	
	HttpReceiverOverHTTP.dispose() line: 347	
	HttpReceiverOverHTTP(HttpReceiver).abort(HttpExchange, Throwable) line: 526	
	HttpChannelOverHTTP(HttpChannel).abortResponse(HttpExchange, Throwable) line: 129	
	HttpSenderOverHTTP(HttpSender).terminateRequest(HttpExchange, Throwable, Result) line: 376	
	HttpSenderOverHTTP(HttpSender).abort(HttpExchange, Throwable) line: 561	
	HttpSenderOverHTTP(HttpSender).anyToFailure(Throwable) line: 345	
	HttpSender$ContentCallback.onCompleteFailure(Throwable) line: 897	
	HttpSender$ContentCallback(IteratingCallback).failed(Throwable) line: 401	
	WriteFlusher$PendingState.fail(Throwable) line: 262	
	AbstractEndPoint$2(WriteFlusher).completeWrite() line: 410	
	ChannelEndPoint$3.run() line: 139	
	EatWhatYouKill.doProduce() line: 247	
	EatWhatYouKill.produce() line: 140	
	EatWhatYouKill.run() line: 131	
	ReservedThreadExecutor$ReservedThread.run() line: 382	
	QueuedThreadPool.runJob(Runnable) line: 708	
	QueuedThreadPool$2.run() line: 626	
	Thread.run() line: 745
```

```
Thread [HttpClient@24377049-16] (Suspended (breakpoint at line 187 in HttpConnectionOverHTTP))	
	HttpConnectionOverHTTP.close(Throwable) line: 187	
	HttpConnectionOverHTTP.close() line: 182	
	HttpChannelOverHTTP.exchangeTerminated(HttpExchange, Result) line: 179	
	HttpReceiverOverHTTP(HttpReceiver).terminateResponse(HttpExchange, Result) line: 454	
	HttpReceiverOverHTTP(HttpReceiver).abort(HttpExchange, Throwable) line: 540	
	HttpChannelOverHTTP(HttpChannel).abortResponse(HttpExchange, Throwable) line: 129	
	HttpSenderOverHTTP(HttpSender).terminateRequest(HttpExchange, Throwable, Result) line: 376	
	HttpSenderOverHTTP(HttpSender).abort(HttpExchange, Throwable) line: 561	
	HttpSenderOverHTTP(HttpSender).anyToFailure(Throwable) line: 345	
	HttpSender$ContentCallback.onCompleteFailure(Throwable) line: 897	
	HttpSender$ContentCallback(IteratingCallback).failed(Throwable) line: 401	
	WriteFlusher$PendingState.fail(Throwable) line: 262	
	AbstractEndPoint$2(WriteFlusher).completeWrite() line: 410	
	ChannelEndPoint$3.run() line: 139	
	EatWhatYouKill.doProduce() line: 247	
	EatWhatYouKill.produce() line: 140	
	EatWhatYouKill.run() line: 131	
	ReservedThreadExecutor$ReservedThread.run() line: 382	
	QueuedThreadPool.runJob(Runnable) line: 708	
	QueuedThreadPool$2.run() line: 626	
	Thread.run() line: 745	
```








So it's a NIO issue.

I don't think it's related to the Netty issue, since your logs show that we got the exception while reading from the socket, not writing to it.

> I don't think it's related to the Netty issue, since your logs show that we got the exception while reading from the socket, not writing to it.

I am not so sure about that.

I should have mentioned that the above stacktraces are *not* exception stacktraces. Rather, I debugged single-stepping and took two particular snapshots (from the same thread) to show what happens after the following exception is thrown (which I should have included, too):

```
org.eclipse.jetty.io.EofException
	at org.eclipse.jetty.io.ChannelEndPoint.flush(ChannelEndPoint.java:292)
	at org.eclipse.jetty.io.WriteFlusher.flush(WriteFlusher.java:429)
	at org.eclipse.jetty.io.WriteFlusher.completeWrite(WriteFlusher.java:384)
	at org.eclipse.jetty.io.ChannelEndPoint$3.run(ChannelEndPoint.java:139)
	at org.eclipse.jetty.util.thread.strategy.EatWhatYouKill.doProduce(EatWhatYouKill.java:247)
	at org.eclipse.jetty.util.thread.strategy.EatWhatYouKill.produce(EatWhatYouKill.java:140)
	at org.eclipse.jetty.util.thread.strategy.EatWhatYouKill.run(EatWhatYouKill.java:131)
	at org.eclipse.jetty.util.thread.ReservedThreadExecutor$ReservedThread.run(ReservedThreadExecutor.java:382)
	at org.eclipse.jetty.util.thread.QueuedThreadPool.runJob(QueuedThreadPool.java:708)
	at org.eclipse.jetty.util.thread.QueuedThreadPool$2.run(QueuedThreadPool.java:626)
	at java.lang.Thread.run(Thread.java:745)
Caused by: java.io.IOException: Eine bestehende Verbindung wurde softwaregesteuert
durch den Hostcomputer abgebrochen
	at sun.nio.ch.SocketDispatcher.write0(Native Method)
	at sun.nio.ch.SocketDispatcher.write(SocketDispatcher.java:51)
	at sun.nio.ch.IOUtil.writeFromNativeBuffer(IOUtil.java:93)
	at sun.nio.ch.IOUtil.write(IOUtil.java:51)
	at sun.nio.ch.SocketChannelImpl.write(SocketChannelImpl.java:471)
	at org.eclipse.jetty.io.ChannelEndPoint.flush(ChannelEndPoint.java:270)
	... 10 more
```

This is clearly a write failure.

Note that `WriteFlusher.completeWrite(WriteFlusher.java:384)` appears on the stack.
Here, the exception is catched, and inside the `catch` block, `PendingState.fail` is called, which in turn indirectly calls `HttpReceiverOverHTTP.abort`.
Until this point, both stacktraces are identical.

The first stacktrace shows that from here, `HttpParser.close` will be called through `HttpReceiverOverHTTP.dispose`.

The second stacktrace shows that afterwards, `HttpSender.terminateRequest` will be called, which eventually indirectly calls `HttpConnectionOverHTTP.close`. Previously I stopped here, but if we go deeper, we can see that this really closes the underlying channel (again not an exception, but a snapshot):

```
Thread [HttpClient@24377049-12] (Suspended)	
	SocketChannelImpl(AbstractInterruptibleChannel).close() line: 111 [local variables unavailable]	
	SocketChannelEndPoint(ChannelEndPoint).doClose() line: 205	
	SocketChannelEndPoint(AbstractEndPoint).doOnClose(Throwable) line: 212	
	SocketChannelEndPoint(AbstractEndPoint).close(Throwable) line: 184	
	SocketChannelEndPoint(AbstractEndPoint).close() line: 169	
	HttpConnectionOverHTTP.close(Throwable) line: 196	
	HttpConnectionOverHTTP.close() line: 182	
	HttpChannelOverHTTP.exchangeTerminated(HttpExchange, Result) line: 179	
	HttpReceiverOverHTTP(HttpReceiver).terminateResponse(HttpExchange, Result) line: 454	
	HttpReceiverOverHTTP(HttpReceiver).abort(HttpExchange, Throwable) line: 540	
	HttpChannelOverHTTP(HttpChannel).abortResponse(HttpExchange, Throwable) line: 129	
	HttpSenderOverHTTP(HttpSender).terminateRequest(HttpExchange, Throwable, Result) line: 376	
	HttpSenderOverHTTP(HttpSender).abort(HttpExchange, Throwable) line: 561	
	HttpSenderOverHTTP(HttpSender).anyToFailure(Throwable) line: 345	
	HttpSender$ContentCallback.onCompleteFailure(Throwable) line: 897	
	HttpSender$ContentCallback(IteratingCallback).failed(Throwable) line: 401	
	WriteFlusher$PendingState.fail(Throwable) line: 262	
	AbstractEndPoint$2(WriteFlusher).completeWrite() line: 410	
	ChannelEndPoint$3.run() line: 139	
	EatWhatYouKill.doProduce() line: 247	
	EatWhatYouKill.produce() line: 140	
	EatWhatYouKill.run() line: 131	
	ReservedThreadExecutor$ReservedThread.run() line: 382	
	QueuedThreadPool.runJob(Runnable) line: 708	
	QueuedThreadPool$2.run() line: 626	
	Thread.run() line: 745	
```

Thus, as a consequence of the exception thrown while writing, both the parser and the connection are closed.

I was not looking at the stack traces, but at the logs, that show a write congested (a normal condition), followed by the read failure.

After the read failure the connection is closed, and therefore the write would fail too, but I think that is more a consequence than the cause.

I don't think there is much we can do here, if NIO does not report a TCP packet that actually arrived (while BIO reports it).

Your application should be prepared to fail requests and possibly retry them, so this would be such a case. Alternatively, the trick to consume the input in the error handler also you reported it works.


OK I see, the read failure in the logs indeed appears before the write failure.

I now tried to execute the tests with JDK 9.0.1, just to see if this was fixed already (I was using JDK 8u121 before).

Now the request still fails, but sometimes the read failure appears before the write failure, like this:

[jetty-write-then-read-exc-9.pcapng.txt](https://github.com/eclipse/jetty.project/files/1507029/jetty-write-then-read-exc-9.pcapng.txt)
[jetty-write-then-read-exc-9.log](https://github.com/eclipse/jetty.project/files/1507028/jetty-write-then-read-exc-9.log)

And sometimes, there is no read failure, or at least no exception logged:

[jetty-write-exc-only-9.pcapng.txt](https://github.com/eclipse/jetty.project/files/1507027/jetty-write-exc-only-9.pcapng.txt)
[jetty-write-exc-only-9.log](https://github.com/eclipse/jetty.project/files/1507030/jetty-write-exc-only-9.log)

So it might be that reading and writing failes concurrently. Also, even if the read exception is logged before, the write exception is reported as the result failure in the end.

On the other hand, I was only observed this behavior in JDK 9. In JDK 8, the read failure is always logged before the write failure.