Some buggy cookie is not parsed correctly and cause other cookie missing

Now we encounter some buggy device Netgear. 
it's passing a buggy cookie when login:
```
Cookie: testcookie; lmrelayserver.id=abcd; lmrelayserver.detail=efg
```
After I call getCookie, I found the latter cookie after the bug cookie `testcookie` is missed.
below is a test code:
```
import org.eclipse.jetty.http.CookieCompliance;
import org.eclipse.jetty.server.CookieCutter;

import javax.servlet.http.Cookie;

public class Test {
    public static void main(String[] args) {
        CookieCutter cc = new CookieCutter(CookieCompliance.RFC6265);
        cc.addCookieField("testcookie; lmrelayserver.id=abcd; lmrelayserver.detail=efg");

        for (Cookie c : cc.getCookies()) {
            System.out.println(c.getName() + " " + c.getValue());
        }
    }
}

```
and output is (only one cookie is got):
```
lmrelayserver.detail efg
```

Anyway to workaround this? (I worked it around by adding a dummy cookie between testcookie and lmrelayserver.id. but it's not a beautiful solution)

What version of Jetty did you encounter this on?

I was able to reproduce the results from OP on `jetty-9.4.x`

Added testcase for this issue on commit eaf22630538d18653c3f4409c9d21936f245a07f

I don't have a fix.
But I feel the parsing rules should be changed for CookieCutter.

While the https://tools.ietf.org/html/rfc6265 doesn't have server parsing rules, [the user-agent parsing rules](https://tools.ietf.org/html/rfc6265#section-5.2) are useful to understand, and are roughly as follows ...

1. Split by ";" first.
2. Parse each part.
3. If part is missing "=" ignore that cookie.

Hi @joakime yes, I used 9.4.18.v20190429.  

@gregw Looking at the lenient cookie parsing we do.
I'm wondering if we should reject `tspecial` usage within cookie values, or within quoted sections.

So that would mean the following cookies would suddenly have different parsing rules.

If we go with the ABNF rules in RFC6265, then we should reject the DQUOTE `"` as well (do we fail / throw exception, quietly reject, or strip characters?).
So that would end up with ...

**Lenient, no DQUOTE special handling approach**

Cookie | 9.4.20 behavior | proposed behavior
--------- | --------------------- | ---------------
`foo=bar;baz` | name: `foo`, value: `bar` (`baz` is rejected for lack of `=`) | name: `foo`, value: `bar` (cookie 2 `baz` is rejected for lack of `=`)
`foo="bar;baz"` | name: `foo`, value: `bar;baz` | name: `foo`, value: `"bar` (cookie 2 `baz"` is rejected for lack of `=`)
`z=a;b,c:d;e/f[g]` | name: `z`, value: `a` (rest of cookies rejected for lack of `=`) | name: `z`, value `a` (rest of cookies rejected for lack of `=`)
`z="a;b,c:d;e/f[g]"` | name: `z`, value: `a` (rest of cookies rejected for lack of `=`) | name: `z`, value `"a` (rest of cookies rejected for lack of `=`)
`a="b;z=y"` | name: `a`, value: `b;z=y` | [0] name: `a`, value: `"b` [1] name: `z`, value: `y"`

**Strip Character Approach**

Cookie | 9.4.20 behavior | proposed behavior (strip approach)
--------- | --------------------- | ---------------
`foo=bar;baz` | name: `foo`, value: `bar` (`baz` is rejected for lack of `=`) | name: `foo`, value: `bar` (cookie 2 `baz` is rejected for lack of `=`)
`foo="bar;baz"` | name: `foo`, value: `bar;baz` | name: `foo`, value: `bar` (cookie 2 `baz` is rejected for lack of `=`)
`z=a;b,c:d;e/f[g]` | name: `z`, value: `a` (rest of cookies rejected for lack of `=`) | name: `z`, value `a` (rest of cookies rejected for lack of `=`)
`z="a;b,c:d;e/f[g]"` | name: `z`, value: `a` (rest of cookies rejected for lack of `=`) | name: `z`, value `a` (rest of cookies rejected for lack of `=`)
`a="b;z=y"` | name: `a`, value: `b;z=y` | [0] name: `a`, value: `b` [1] name: `z`, value: `y`

**Reject Entry Approach**

Cookie | 9.4.20 behavior | proposed behavior (reject approach)
--------- | --------------------- | ---------------
`foo=bar;baz` | name: `foo`, value: `bar` (`baz` is rejected for lack of `=`) | name: `foo`, value: `bar` (cookie 2 `baz` is rejected for lack of `=`)
`foo="bar;baz"` | name: `foo`, value: `bar;baz` | cookie 1 `foo` is rejected for DQUOTE, cookie 2 `baz` is rejected for both DQUOTE and lack of `=`
`z=a;b,c:d;e/f[g]` | name: `z`, value: `a` (rest of cookies rejected for lack of `=`) | name: `z`, value `a` (rest of cookies rejected for lack of `=`)
`z="a;b,c:d;e/f[g]"` | name: `z`, value: `a` (rest of cookies rejected for lack of `=`) | name: `z`, value `a` (rest of cookies rejected for lack of `=`)
`a="b;z=y"` | name: `a`, value: `b;z=y` | cookie 1 `a` is rejected for DQUOTE, cookie 2 `z` is rejected for DQUOTE


Since the spec is all about rejecting / dropping / stripping bad entries, I think that stripping invalid characters is probably an option.

I think the last approach (reject) is the most appropriate, because if Jetty sent that kind of Cookie to a modern web browser then that Cookie would be rejected at the User-Agent.

Either way, we'll probably wind up with a RFC6265 unique parser, and a RFC2109/RFC2965 unique parser.