SslContextFactory(true) not being honored fully? Capturing HTTPS traffic in Fiddler

With URLConnection and Apache HttpClient I can capture HTTPS traffic in MITM programs such as Fiddler in order to debug my client applications. However I am making the switch to Jetty HttpClient and everything I have tried so far has been unsuccessful. To my understanding when SslContextFactory(true) is passed the "true" parameter, than it should trust all certificates.  

But when I try to capture HTTPS traffic from Jetty HttpClient, I get the following Exception

```
java.util.concurrent.ExecutionException: org.eclipse.jetty.io.EofException
	at org.eclipse.jetty.client.util.FutureResponseListener.getResult(FutureResponseListener.java:118)
	at org.eclipse.jetty.client.util.FutureResponseListener.get(FutureResponseListener.java:101)
	at org.eclipse.jetty.client.HttpRequest.send(HttpRequest.java:652)
	at org.eclipse.jetty.client.HttpClient.GET(HttpClient.java:343)
	at org.eclipse.jetty.client.HttpClient.GET(HttpClient.java:328)
	at jettytest.Main.main(Main.java:32)
Caused by: org.eclipse.jetty.io.EofException
	at org.eclipse.jetty.io.ChannelEndPoint.flush(ChannelEndPoint.java:199)
	at org.eclipse.jetty.io.ssl.SslConnection$DecryptedEndPoint.flush(SslConnection.java:840)
	at org.eclipse.jetty.io.WriteFlusher.flush(WriteFlusher.java:420)
	at org.eclipse.jetty.io.WriteFlusher.write(WriteFlusher.java:313)
	at org.eclipse.jetty.io.AbstractEndPoint.write(AbstractEndPoint.java:140)
	at org.eclipse.jetty.client.http.HttpSenderOverHTTP$HeadersCallback.process(HttpSenderOverHTTP.java:230)
	at org.eclipse.jetty.util.IteratingCallback.processing(IteratingCallback.java:241)
	at org.eclipse.jetty.util.IteratingCallback.iterate(IteratingCallback.java:224)
	at org.eclipse.jetty.client.http.HttpSenderOverHTTP.sendHeaders(HttpSenderOverHTTP.java:58)
	at org.eclipse.jetty.client.HttpSender.send(HttpSender.java:204)
	at org.eclipse.jetty.client.http.HttpChannelOverHTTP.send(HttpChannelOverHTTP.java:79)
	at org.eclipse.jetty.client.HttpConnection.send(HttpConnection.java:205)
	at org.eclipse.jetty.client.http.HttpConnectionOverHTTP$Delegate.send(HttpConnectionOverHTTP.java:202)
	at org.eclipse.jetty.client.http.HttpConnectionOverHTTP.send(HttpConnectionOverHTTP.java:82)
	at org.eclipse.jetty.client.http.HttpDestinationOverHTTP.send(HttpDestinationOverHTTP.java:37)
	at org.eclipse.jetty.client.http.HttpDestinationOverHTTP.send(HttpDestinationOverHTTP.java:27)
	at org.eclipse.jetty.client.PoolingHttpDestination.process(PoolingHttpDestination.java:165)
	at org.eclipse.jetty.client.PoolingHttpDestination.process(PoolingHttpDestination.java:113)
	at org.eclipse.jetty.client.PoolingHttpDestination.send(PoolingHttpDestination.java:97)
	at org.eclipse.jetty.client.PoolingHttpDestination.succeeded(PoolingHttpDestination.java:84)
	at org.eclipse.jetty.client.DuplexConnectionPool.proceed(DuplexConnectionPool.java:171)
	at org.eclipse.jetty.client.DuplexConnectionPool$1.succeeded(DuplexConnectionPool.java:148)
	at org.eclipse.jetty.client.DuplexConnectionPool$1.succeeded(DuplexConnectionPool.java:139)
	at org.eclipse.jetty.util.Promise$Wrapper.succeeded(Promise.java:78)
	at org.eclipse.jetty.client.http.HttpConnectionOverHTTP.onOpen(HttpConnectionOverHTTP.java:90)
	at org.eclipse.jetty.io.ssl.SslConnection.onOpen(SslConnection.java:162)
	at org.eclipse.jetty.io.AbstractEndPoint.upgrade(AbstractEndPoint.java:200)
	at org.eclipse.jetty.client.HttpProxy$CreateTunnelPromise.tunnelSucceeded(HttpProxy.java:215)
	at org.eclipse.jetty.client.HttpProxy$CreateTunnelPromise.lambda$tunnel$0(HttpProxy.java:184)
	at org.eclipse.jetty.client.ResponseNotifier.notifyComplete(ResponseNotifier.java:193)
	at org.eclipse.jetty.client.ResponseNotifier.notifyComplete(ResponseNotifier.java:185)
	at org.eclipse.jetty.client.HttpReceiver.terminateResponse(HttpReceiver.java:457)
	at org.eclipse.jetty.client.HttpReceiver.responseSuccess(HttpReceiver.java:404)
	at org.eclipse.jetty.client.http.HttpReceiverOverHTTP.messageComplete(HttpReceiverOverHTTP.java:270)
	at org.eclipse.jetty.http.HttpParser.parseNext(HttpParser.java:1331)
	at org.eclipse.jetty.client.http.HttpReceiverOverHTTP.parse(HttpReceiverOverHTTP.java:159)
	at org.eclipse.jetty.client.http.HttpReceiverOverHTTP.process(HttpReceiverOverHTTP.java:120)
	at org.eclipse.jetty.client.http.HttpReceiverOverHTTP.receive(HttpReceiverOverHTTP.java:70)
	at org.eclipse.jetty.client.http.HttpChannelOverHTTP.receive(HttpChannelOverHTTP.java:90)
	at org.eclipse.jetty.client.http.HttpConnectionOverHTTP.onFillable(HttpConnectionOverHTTP.java:115)
	at org.eclipse.jetty.io.AbstractConnection$ReadCallback.succeeded(AbstractConnection.java:273)
	at org.eclipse.jetty.io.FillInterest.fillable(FillInterest.java:95)
	at org.eclipse.jetty.io.SelectChannelEndPoint$2.run(SelectChannelEndPoint.java:93)
	at org.eclipse.jetty.util.thread.strategy.ExecuteProduceConsume.executeProduceConsume(ExecuteProduceConsume.java:303)
	at org.eclipse.jetty.util.thread.strategy.ExecuteProduceConsume.produceConsume(ExecuteProduceConsume.java:148)
	at org.eclipse.jetty.util.thread.strategy.ExecuteProduceConsume.run(ExecuteProduceConsume.java:136)
	at org.eclipse.jetty.util.thread.QueuedThreadPool.runJob(QueuedThreadPool.java:671)
	at org.eclipse.jetty.util.thread.QueuedThreadPool$2.run(QueuedThreadPool.java:589)
	at java.lang.Thread.run(Unknown Source)
Caused by: java.nio.channels.ClosedChannelException
	at sun.nio.ch.SocketChannelImpl.ensureWriteOpen(Unknown Source)
	at sun.nio.ch.SocketChannelImpl.write(Unknown Source)
	at org.eclipse.jetty.io.ChannelEndPoint.flush(ChannelEndPoint.java:177)
	... 48 more
```


Here is all of my code

```java
import org.eclipse.jetty.client.HttpClient;
import org.eclipse.jetty.client.HttpProxy;
import org.eclipse.jetty.client.ProxyConfiguration;
import org.eclipse.jetty.client.api.ContentResponse;
import org.eclipse.jetty.http.HttpField;
import org.eclipse.jetty.util.ssl.SslContextFactory;

public class Main {
	public static void main(String[] args) {
		HttpClient httpClient = null;
		try {
			SslContextFactory sslContextFactory = new SslContextFactory(true);
			httpClient = new HttpClient(sslContextFactory);
			httpClient.setUserAgentField(new HttpField("User-Agent",
					"Mozilla/5.0 (Windows NT 10.0; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/53.0.2785.116 Safari/537.36"));
			httpClient.setConnectTimeout(90000);
			httpClient.start();

			ProxyConfiguration proxyConfig = httpClient.getProxyConfiguration();
			HttpProxy proxy = new HttpProxy("127.0.0.1", 8888);
			proxyConfig.getProxies().add(proxy);

			ContentResponse response = httpClient
					.GET("https://www.google.ca/?gfe_rd=cr&ei=fpHtV_fXAuvj8AfjxrLwAw&gws_rd=ssl");

			System.out.println(response.getContentAsString());

		} catch (Exception e) {
			e.printStackTrace();
		} finally {
			try {
				httpClient.stop();
			} catch (Exception e) {
				// TODO Auto-generated catch block
				e.printStackTrace();
			}
		}
	}
}
```


Client DEBUG logs ?

Drop a file called `jetty-logging.properties` into the client's classpath with this content:

```
org.eclipse.jetty.util.log.class=org.eclipse.jetty.util.log.StdErrLog
org.eclipse.jetty.client.LEVEL=DEBUG
```


Here is everything with log enabled


```
2016-09-30 13:43:25.072:INFO::main: Logging initialized @109ms
2016-09-30 13:43:25.430:DBUG:oejc.HttpClient:main: Created HttpDestination[https://www.google.ca]@4b952a2d(via 127.0.0.1:8888),queue=0,pool=DuplexConnectionPool[c=0/64,a=0,i=0]
2016-09-30 13:43:25.433:DBUG:oejc.HttpDestination:main: Queued HttpRequest[GET / HTTP/1.1]@2d928643 for HttpDestination[https://www.google.ca]@4b952a2d(via 127.0.0.1:8888),queue=1,pool=DuplexConnectionPool[c=0/64,a=0,i=0]
2016-09-30 13:43:25.434:DBUG:oejc.DuplexConnectionPool:main: Connection 1/64 creation
2016-09-30 13:43:25.473:DBUG:oejc.HttpClientTransport:HttpClient@1595428806-11: Created HttpConnectionOverHTTP@6b41d9c(l:/127.0.0.1:55281 <-> r:/127.0.0.1:8888,closed=false)[HttpChannelOverHTTP@2a8c00e3(exchange=null)[send=HttpSenderOverHTTP@334bad0b(req=QUEUED,snd=IDLE,failure=null)[HttpGenerator@68b5d27a{s=START}],recv=HttpReceiverOverHTTP@4e4b7a0d(rsp=IDLE,failure=null)[HttpParser{s=START,0 of 0}]]]
2016-09-30 13:43:25.476:DBUG:oejc.TimeoutCompleteListener:HttpClient@1595428806-11: Scheduled timeout task org.eclipse.jetty.util.thread.ScheduledExecutorScheduler$ScheduledFutureTask@4ebc46d1 in 90000 ms for HttpRequest[CONNECT www.google.ca:443 HTTP/1.1]@1545ce04
2016-09-30 13:43:25.477:DBUG:oejc.HttpChannel:HttpClient@1595428806-11: HttpExchange@5b938bb1 req=PENDING/null@null res=PENDING/null@null associated true to HttpChannelOverHTTP@2a8c00e3(exchange=HttpExchange@5b938bb1 req=PENDING/null@null res=PENDING/null@null)[send=HttpSenderOverHTTP@334bad0b(req=QUEUED,snd=IDLE,failure=null)[HttpGenerator@68b5d27a{s=START}],recv=HttpReceiverOverHTTP@4e4b7a0d(rsp=IDLE,failure=null)[HttpParser{s=START,0 of 0}]]
2016-09-30 13:43:25.477:DBUG:oejc.HttpSender:HttpClient@1595428806-11: Request begin HttpRequest[CONNECT www.google.ca:443 HTTP/1.1]@1545ce04
2016-09-30 13:43:25.479:DBUG:oejc.HttpSender:HttpClient@1595428806-11: Request headers HttpRequest[CONNECT www.google.ca:443 HTTP/1.1]@1545ce04
Accept-Encoding: gzip
User-Agent: Mozilla/5.0 (Windows NT 10.0; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/53.0.2785.116 Safari/537.36
Host: www.google.ca:443
2016-09-30 13:43:25.481:DBUG:oejc.HttpContent:HttpClient@1595428806-11: Advanced content to last chunk
2016-09-30 13:43:25.482:DBUG:oejc.HttpSender:HttpClient@1595428806-11: Generated headers (-1 bytes), chunk (-1 bytes), content (0 bytes) - NEED_HEADER/HttpGenerator@68b5d27a{s=START}
2016-09-30 13:43:25.483:DBUG:oejc.HttpSender:HttpClient@1595428806-11: Generated headers (210 bytes), chunk (-1 bytes), content (0 bytes) - FLUSH/HttpGenerator@68b5d27a{s=COMPLETING}
2016-09-30 13:43:25.485:DBUG:oejc.HttpSender:HttpClient@1595428806-11: Generated headers (-1 bytes), chunk (-1 bytes), content (0 bytes) - DONE/HttpGenerator@68b5d27a{s=END}
2016-09-30 13:43:25.485:DBUG:oejc.HttpSender:HttpClient@1595428806-11: Request committed HttpRequest[CONNECT www.google.ca:443 HTTP/1.1]@1545ce04
2016-09-30 13:43:25.485:DBUG:oejc.HttpSender:HttpClient@1595428806-11: Request success HttpRequest[CONNECT www.google.ca:443 HTTP/1.1]@1545ce04
2016-09-30 13:43:25.485:DBUG:oejc.HttpExchange:HttpClient@1595428806-11: Terminated request for HttpExchange@5b938bb1 req=TERMINATED/null@null res=PENDING/null@null, result: null
2016-09-30 13:43:25.485:DBUG:oejc.HttpSender:HttpClient@1595428806-11: Terminating request HttpRequest[CONNECT www.google.ca:443 HTTP/1.1]@1545ce04
2016-09-30 13:43:25.520:DBUG:oejc.HttpReceiver:HttpClient@1595428806-17: Parsed false, remaining 0 HttpParser{s=START,0 of 0}
2016-09-30 13:43:25.527:DBUG:oejc.HttpReceiver:HttpClient@1595428806-17: Read 107 bytes DirectByteBuffer@13e67acd[p=0,l=107,c=16384,r=107]={<<<HTTP/1.1 200 Conn...tion: close\r\n\r\n>>>\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00...\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00} from SelectChannelEndPoint@430de760{/127.0.0.1:8888<->55281,Open,in,out,-,-,8/180000,HttpConnectionOverHTTP@6b41d9c}{io=0/0,kio=0,kro=1}
2016-09-30 13:43:25.533:DBUG:oejc.HttpReceiver:HttpClient@1595428806-17: Response begin HttpResponse[HTTP/1.1 200 Connection Established]@5046b034
2016-09-30 13:43:25.536:DBUG:oejc.HttpReceiver:HttpClient@1595428806-17: Response headers HttpResponse[HTTP/1.1 200 Connection Established]@5046b034
FiddlerGateway: Direct
StartTime: 13:43:25.520
Connection: close
2016-09-30 13:43:25.540:DBUG:oejc.HttpReceiver:HttpClient@1595428806-17: Response success HttpResponse[HTTP/1.1 200 Connection Established]@5046b034
2016-09-30 13:43:25.541:DBUG:oejc.HttpExchange:HttpClient@1595428806-17: Terminated response for HttpExchange@5b938bb1 req=TERMINATED/null@null res=TERMINATED/null@null, result: Result[HttpRequest[CONNECT www.google.ca:443 HTTP/1.1]@1545ce04 > HttpResponse[HTTP/1.1 200 Connection Established]@5046b034] null
2016-09-30 13:43:25.542:DBUG:oejc.HttpReceiver:HttpClient@1595428806-17: Response complete HttpResponse[HTTP/1.1 200 Connection Established]@5046b034
2016-09-30 13:43:25.543:DBUG:oejc.HttpChannel:HttpClient@1595428806-17: HttpExchange@5b938bb1 req=TERMINATED/null@null res=TERMINATED/null@null disassociated true from HttpChannelOverHTTP@2a8c00e3(exchange=null)[send=HttpSenderOverHTTP@334bad0b(req=QUEUED,snd=COMPLETED,failure=null)[HttpGenerator@68b5d27a{s=START}],recv=HttpReceiverOverHTTP@4e4b7a0d(rsp=IDLE,failure=null)[HttpParser{s=START,0 of -1}]]
2016-09-30 13:43:25.545:DBUG:oejc.HttpChannel:HttpClient@1595428806-17: Closing, reason: http/1.1 - HttpConnectionOverHTTP@6b41d9c(l:/127.0.0.1:55281 <-> r:/127.0.0.1:8888,closed=false)[HttpChannelOverHTTP@2a8c00e3(exchange=null)[send=HttpSenderOverHTTP@334bad0b(req=QUEUED,snd=COMPLETED,failure=null)[HttpGenerator@68b5d27a{s=START}],recv=HttpReceiverOverHTTP@4e4b7a0d(rsp=IDLE,failure=null)[HttpParser{s=START,0 of -1}]]]
2016-09-30 13:43:25.547:DBUG:oejch.HttpConnectionOverHTTP:HttpClient@1595428806-17: Shutdown HttpConnectionOverHTTP@6b41d9c(l:/127.0.0.1:55281 <-> r:/127.0.0.1:8888,closed=true)[HttpChannelOverHTTP@2a8c00e3(exchange=null)[send=HttpSenderOverHTTP@334bad0b(req=QUEUED,snd=COMPLETED,failure=null)[HttpGenerator@68b5d27a{s=START}],recv=HttpReceiverOverHTTP@4e4b7a0d(rsp=IDLE,failure=null)[HttpParser{s=START,0 of -1}]]]
2016-09-30 13:43:25.550:DBUG:oejch.HttpConnectionOverHTTP:HttpClient@1595428806-17: Closed HttpConnectionOverHTTP@6b41d9c(l:/127.0.0.1:55281 <-> r:/127.0.0.1:8888,closed=true)[HttpChannelOverHTTP@2a8c00e3(exchange=null)[send=HttpSenderOverHTTP@334bad0b(req=QUEUED,snd=COMPLETED,failure=null)[HttpGenerator@68b5d27a{s=START}],recv=HttpReceiverOverHTTP@4e4b7a0d(rsp=IDLE,failure=null)[HttpParser{s=START,0 of -1}]]]
2016-09-30 13:43:25.551:DBUG:oejc.HttpReceiver:HttpClient@1595428806-17: Request/Response succeeded: Result[HttpRequest[CONNECT www.google.ca:443 HTTP/1.1]@1545ce04 > HttpResponse[HTTP/1.1 200 Connection Established]@5046b034] null
2016-09-30 13:43:25.551:DBUG:oejc.TimeoutCompleteListener:HttpClient@1595428806-17: Cancelled (successfully: true) timeout task org.eclipse.jetty.util.thread.ScheduledExecutorScheduler$ScheduledFutureTask@4ebc46d1
2016-09-30 13:43:25.576:DBUG:oejc.HttpClientTransport:HttpClient@1595428806-17: Created HttpConnectionOverHTTP@3602c9c1(l:/127.0.0.1:55281 <-> r:/127.0.0.1:8888,closed=false)[HttpChannelOverHTTP@7b8d3f0d(exchange=null)[send=HttpSenderOverHTTP@64647d44(req=QUEUED,snd=IDLE,failure=null)[HttpGenerator@74d73016{s=START}],recv=HttpReceiverOverHTTP@54bbb38c(rsp=IDLE,failure=null)[HttpParser{s=START,0 of 0}]]]
2016-09-30 13:43:25.577:DBUG:oejc.DuplexConnectionPool:HttpClient@1595428806-17: Connection 1/64 creation succeeded HttpConnectionOverHTTP@3602c9c1(l:/127.0.0.1:55281 <-> r:/127.0.0.1:8888,closed=false)[HttpChannelOverHTTP@7b8d3f0d(exchange=null)[send=HttpSenderOverHTTP@64647d44(req=QUEUED,snd=IDLE,failure=null)[HttpGenerator@74d73016{s=START}],recv=HttpReceiverOverHTTP@54bbb38c(rsp=IDLE,failure=null)[HttpParser{s=START,0 of 0}]]]
2016-09-30 13:43:25.578:DBUG:oejc.DuplexConnectionPool:HttpClient@1595428806-17: Connection idle HttpConnectionOverHTTP@3602c9c1(l:/127.0.0.1:55281 <-> r:/127.0.0.1:8888,closed=false)[HttpChannelOverHTTP@7b8d3f0d(exchange=null)[send=HttpSenderOverHTTP@64647d44(req=QUEUED,snd=IDLE,failure=null)[HttpGenerator@74d73016{s=START}],recv=HttpReceiverOverHTTP@54bbb38c(rsp=IDLE,failure=null)[HttpParser{s=START,0 of 0}]]]
2016-09-30 13:43:25.579:DBUG:oejc.DuplexConnectionPool:HttpClient@1595428806-17: Connection active HttpConnectionOverHTTP@3602c9c1(l:/127.0.0.1:55281 <-> r:/127.0.0.1:8888,closed=false)[HttpChannelOverHTTP@7b8d3f0d(exchange=null)[send=HttpSenderOverHTTP@64647d44(req=QUEUED,snd=IDLE,failure=null)[HttpGenerator@74d73016{s=START}],recv=HttpReceiverOverHTTP@54bbb38c(rsp=IDLE,failure=null)[HttpParser{s=START,0 of 0}]]]
2016-09-30 13:43:25.579:DBUG:oejc.HttpDestination:HttpClient@1595428806-17: Processing exchange HttpExchange@6785779f req=PENDING/null@null res=PENDING/null@null on HttpConnectionOverHTTP@3602c9c1(l:/127.0.0.1:55281 <-> r:/127.0.0.1:8888,closed=false)[HttpChannelOverHTTP@7b8d3f0d(exchange=null)[send=HttpSenderOverHTTP@64647d44(req=QUEUED,snd=IDLE,failure=null)[HttpGenerator@74d73016{s=START}],recv=HttpReceiverOverHTTP@54bbb38c(rsp=IDLE,failure=null)[HttpParser{s=START,0 of 0}]]] of HttpDestination[https://www.google.ca]@4b952a2d(via 127.0.0.1:8888),queue=0,pool=DuplexConnectionPool[c=1/64,a=1,i=0]
2016-09-30 13:43:25.580:DBUG:oejc.HttpChannel:HttpClient@1595428806-17: HttpExchange@6785779f req=PENDING/null@null res=PENDING/null@null associated true to HttpChannelOverHTTP@7b8d3f0d(exchange=HttpExchange@6785779f req=PENDING/null@null res=PENDING/null@null)[send=HttpSenderOverHTTP@64647d44(req=QUEUED,snd=IDLE,failure=null)[HttpGenerator@74d73016{s=START}],recv=HttpReceiverOverHTTP@54bbb38c(rsp=IDLE,failure=null)[HttpParser{s=START,0 of 0}]]
2016-09-30 13:43:25.580:DBUG:oejc.HttpSender:HttpClient@1595428806-17: Request begin HttpRequest[GET / HTTP/1.1]@2d928643
2016-09-30 13:43:25.580:DBUG:oejc.HttpSender:HttpClient@1595428806-17: Request headers HttpRequest[GET / HTTP/1.1]@2d928643
Accept-Encoding: gzip
User-Agent: Mozilla/5.0 (Windows NT 10.0; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/53.0.2785.116 Safari/537.36
Host: www.google.ca
2016-09-30 13:43:25.581:DBUG:oejc.HttpContent:HttpClient@1595428806-17: Advanced content to last chunk
2016-09-30 13:43:25.581:DBUG:oejc.HttpSender:HttpClient@1595428806-17: Generated headers (-1 bytes), chunk (-1 bytes), content (0 bytes) - NEED_HEADER/HttpGenerator@74d73016{s=START}
2016-09-30 13:43:25.581:DBUG:oejc.HttpSender:HttpClient@1595428806-17: Generated headers (233 bytes), chunk (-1 bytes), content (0 bytes) - FLUSH/HttpGenerator@74d73016{s=COMPLETING}
2016-09-30 13:43:25.585:DBUG:oejc.HttpSender:HttpClient@1595428806-17: Request shutdown output HttpRequest[GET / HTTP/1.1]@2d928643
2016-09-30 13:43:25.585:DBUG:oejc.HttpSender:HttpClient@1595428806-17: Request failure HttpRequest[GET / HTTP/1.1]@2d928643 HttpExchange@6785779f req=COMPLETED/org.eclipse.jetty.io.EofException@32816967 res=PENDING/null@null on HttpChannelOverHTTP@7b8d3f0d(exchange=HttpExchange@6785779f req=COMPLETED/org.eclipse.jetty.io.EofException@32816967 res=PENDING/null@null)[send=HttpSenderOverHTTP@64647d44(req=FAILURE,snd=FAILED,failure=org.eclipse.jetty.io.EofException)[HttpGenerator@74d73016{s=END}],recv=HttpReceiverOverHTTP@54bbb38c(rsp=IDLE,failure=null)[HttpParser{s=START,0 of 0}]]: org.eclipse.jetty.io.EofException
2016-09-30 13:43:25.585:DBUG:oejc.HttpExchange:HttpClient@1595428806-17: Terminated request for HttpExchange@6785779f req=TERMINATED/org.eclipse.jetty.io.EofException@32816967 res=PENDING/null@null, result: null
2016-09-30 13:43:25.585:DBUG:oejc.HttpSender:HttpClient@1595428806-17: Terminating request HttpRequest[GET / HTTP/1.1]@2d928643
2016-09-30 13:43:25.585:DBUG:oejc.HttpSender:HttpClient@1595428806-17: Response failure from request HttpRequest[GET / HTTP/1.1]@2d928643 HttpExchange@6785779f req=TERMINATED/org.eclipse.jetty.io.EofException@32816967 res=COMPLETED/org.eclipse.jetty.io.EofException@32816967
2016-09-30 13:43:25.586:DBUG:oejc.HttpReceiver:HttpClient@1595428806-17: Response failure HttpResponse[null 0 null]@7ef4d927 HttpExchange@6785779f req=TERMINATED/org.eclipse.jetty.io.EofException@32816967 res=COMPLETED/org.eclipse.jetty.io.EofException@32816967 on HttpChannelOverHTTP@7b8d3f0d(exchange=HttpExchange@6785779f req=TERMINATED/org.eclipse.jetty.io.EofException@32816967 res=COMPLETED/org.eclipse.jetty.io.EofException@32816967)[send=HttpSenderOverHTTP@64647d44(req=FAILURE,snd=FAILED,failure=org.eclipse.jetty.io.EofException)[HttpGenerator@74d73016{s=END}],recv=HttpReceiverOverHTTP@54bbb38c(rsp=FAILURE,failure=org.eclipse.jetty.io.EofException)[HttpParser{s=CLOSE,0 of 0}]]: org.eclipse.jetty.io.EofException
2016-09-30 13:43:25.586:DBUG:oejc.HttpExchange:HttpClient@1595428806-17: Terminated response for HttpExchange@6785779f req=TERMINATED/org.eclipse.jetty.io.EofException@32816967 res=TERMINATED/org.eclipse.jetty.io.EofException@32816967, result: Result[HttpRequest[GET / HTTP/1.1]@2d928643 > HttpResponse[null 0 null]@7ef4d927] org.eclipse.jetty.io.EofException
2016-09-30 13:43:25.586:DBUG:oejc.HttpReceiver:HttpClient@1595428806-17: Response complete HttpResponse[null 0 null]@7ef4d927
2016-09-30 13:43:25.586:DBUG:oejc.HttpChannel:HttpClient@1595428806-17: HttpExchange@6785779f req=TERMINATED/org.eclipse.jetty.io.EofException@32816967 res=TERMINATED/org.eclipse.jetty.io.EofException@32816967 disassociated true from HttpChannelOverHTTP@7b8d3f0d(exchange=null)[send=HttpSenderOverHTTP@64647d44(req=FAILURE,snd=FAILED,failure=org.eclipse.jetty.io.EofException)[HttpGenerator@74d73016{s=END}],recv=HttpReceiverOverHTTP@54bbb38c(rsp=FAILURE,failure=org.eclipse.jetty.io.EofException)[HttpParser{s=CLOSE,0 of 0}]]
2016-09-30 13:43:25.586:DBUG:oejc.HttpChannel:HttpClient@1595428806-17: Closing, reason: failure - HttpConnectionOverHTTP@3602c9c1(l:/127.0.0.1:55281 <-> r:/127.0.0.1:8888,closed=false)[HttpChannelOverHTTP@7b8d3f0d(exchange=null)[send=HttpSenderOverHTTP@64647d44(req=FAILURE,snd=FAILED,failure=org.eclipse.jetty.io.EofException)[HttpGenerator@74d73016{s=END}],recv=HttpReceiverOverHTTP@54bbb38c(rsp=FAILURE,failure=org.eclipse.jetty.io.EofException)[HttpParser{s=CLOSE,0 of 0}]]]
2016-09-30 13:43:25.587:DBUG:oejc.DuplexConnectionPool:HttpClient@1595428806-17: Connection removed HttpConnectionOverHTTP@3602c9c1(l:/127.0.0.1:55281 <-> r:/127.0.0.1:8888,closed=true)[HttpChannelOverHTTP@7b8d3f0d(exchange=null)[send=HttpSenderOverHTTP@64647d44(req=FAILURE,snd=FAILED,failure=org.eclipse.jetty.io.EofException)[HttpGenerator@74d73016{s=END}],recv=HttpReceiverOverHTTP@54bbb38c(rsp=FAILURE,failure=org.eclipse.jetty.io.EofException)[HttpParser{s=CLOSE,0 of 0}]]] - pooled: 0
2016-09-30 13:43:25.587:DBUG:oejch.HttpConnectionOverHTTP:HttpClient@1595428806-17: Shutdown HttpConnectionOverHTTP@3602c9c1(l:/127.0.0.1:55281 <-> r:/127.0.0.1:8888,closed=true)[HttpChannelOverHTTP@7b8d3f0d(exchange=null)[send=HttpSenderOverHTTP@64647d44(req=FAILURE,snd=FAILED,failure=org.eclipse.jetty.io.EofException)[HttpGenerator@74d73016{s=END}],recv=HttpReceiverOverHTTP@54bbb38c(rsp=FAILURE,failure=org.eclipse.jetty.io.EofException)[HttpParser{s=CLOSE,0 of 0}]]]
2016-09-30 13:43:25.587:DBUG:oejch.HttpConnectionOverHTTP:HttpClient@1595428806-17: Closed HttpConnectionOverHTTP@3602c9c1(l:/127.0.0.1:55281 <-> r:/127.0.0.1:8888,closed=true)[HttpChannelOverHTTP@7b8d3f0d(exchange=null)[send=HttpSenderOverHTTP@64647d44(req=FAILURE,snd=FAILED,failure=org.eclipse.jetty.io.EofException)[HttpGenerator@74d73016{s=END}],recv=HttpReceiverOverHTTP@54bbb38c(rsp=FAILURE,failure=org.eclipse.jetty.io.EofException)[HttpParser{s=CLOSE,0 of 0}]]]
2016-09-30 13:43:25.587:DBUG:oejc.HttpReceiver:HttpClient@1595428806-17: Request/Response failed: Result[HttpRequest[GET / HTTP/1.1]@2d928643 > HttpResponse[null 0 null]@7ef4d927] org.eclipse.jetty.io.EofException
2016-09-30 13:43:25.588:DBUG:oejc.HttpExchange:main: Failed HttpExchange@6785779f req=TERMINATED/org.eclipse.jetty.io.EofException@32816967 res=TERMINATED/org.eclipse.jetty.io.EofException@32816967: req=false/rsp=false java.util.concurrent.ExecutionException: org.eclipse.jetty.io.EofException
2016-09-30 13:43:25.588:DBUG:oejc.HttpProxy:HttpClient@1595428806-17: HTTP tunnel established: HttpConnectionOverHTTP@6b41d9c(l:/127.0.0.1:55281 <-> r:/127.0.0.1:8888,closed=true)[HttpChannelOverHTTP@2a8c00e3(exchange=null)[send=HttpSenderOverHTTP@334bad0b(req=QUEUED,snd=COMPLETED,failure=null)[HttpGenerator@68b5d27a{s=START}],recv=HttpReceiverOverHTTP@4e4b7a0d(rsp=IDLE,failure=null)[HttpParser{s=START,0 of -1}]]] over SslConnection@4701b51b{NEED_UNWRAP,eio=-1/188,di=-1} -> HttpConnectionOverHTTP@3602c9c1(l:/127.0.0.1:55281 <-> r:/127.0.0.1:8888,closed=true)[HttpChannelOverHTTP@7b8d3f0d(exchange=null)[send=HttpSenderOverHTTP@64647d44(req=FAILURE,snd=FAILED,failure=org.eclipse.jetty.io.EofException)[HttpGenerator@74d73016{s=END}],recv=HttpReceiverOverHTTP@54bbb38c(rsp=FAILURE,failure=org.eclipse.jetty.io.EofException)[HttpParser{s=CLOSE,0 of 0}]]]
java.util.concurrent.ExecutionException: org.eclipse.jetty.io.EofException
	at org.eclipse.jetty.client.util.FutureResponseListener.getResult(FutureResponseListener.java:118)
	at org.eclipse.jetty.client.util.FutureResponseListener.get(FutureResponseListener.java:101)
	at org.eclipse.jetty.client.HttpRequest.send(HttpRequest.java:652)
	at org.eclipse.jetty.client.HttpClient.GET(HttpClient.java:343)
	at org.eclipse.jetty.client.HttpClient.GET(HttpClient.java:328)
	at jettytest.Main.main(Main.java:29)
Caused by: org.eclipse.jetty.io.EofException
	at org.eclipse.jetty.io.ChannelEndPoint.flush(ChannelEndPoint.java:199)
	at org.eclipse.jetty.io.ssl.SslConnection$DecryptedEndPoint.flush(SslConnection.java:840)
	at org.eclipse.jetty.io.WriteFlusher.flush(WriteFlusher.java:420)
	at org.eclipse.jetty.io.WriteFlusher.write(WriteFlusher.java:313)
	at org.eclipse.jetty.io.AbstractEndPoint.write(AbstractEndPoint.java:140)
	at org.eclipse.jetty.client.http.HttpSenderOverHTTP$HeadersCallback.process(HttpSenderOverHTTP.java:230)
	at org.eclipse.jetty.util.IteratingCallback.processing(IteratingCallback.java:241)
	at org.eclipse.jetty.util.IteratingCallback.iterate(IteratingCallback.java:224)
	at org.eclipse.jetty.client.http.HttpSenderOverHTTP.sendHeaders(HttpSenderOverHTTP.java:58)
	at org.eclipse.jetty.client.HttpSender.send(HttpSender.java:204)
	at org.eclipse.jetty.client.http.HttpChannelOverHTTP.send(HttpChannelOverHTTP.java:79)
	at org.eclipse.jetty.client.HttpConnection.send(HttpConnection.java:205)
	at org.eclipse.jetty.client.http.HttpConnectionOverHTTP$Delegate.send(HttpConnectionOverHTTP.java:202)
	at org.eclipse.jetty.client.http.HttpConnectionOverHTTP.send(HttpConnectionOverHTTP.java:82)
	at org.eclipse.jetty.client.http.HttpDestinationOverHTTP.send(HttpDestinationOverHTTP.java:37)
	at org.eclipse.jetty.client.http.HttpDestinationOverHTTP.send(HttpDestinationOverHTTP.java:27)
	at org.eclipse.jetty.client.PoolingHttpDestination.process(PoolingHttpDestination.java:165)
	at org.eclipse.jetty.client.PoolingHttpDestination.process(PoolingHttpDestination.java:113)
	at org.eclipse.jetty.client.PoolingHttpDestination.send(PoolingHttpDestination.java:97)
	at org.eclipse.jetty.client.PoolingHttpDestination.succeeded(PoolingHttpDestination.java:84)
	at org.eclipse.jetty.client.DuplexConnectionPool.proceed(DuplexConnectionPool.java:171)
	at org.eclipse.jetty.client.DuplexConnectionPool$1.succeeded(DuplexConnectionPool.java:148)
	at org.eclipse.jetty.client.DuplexConnectionPool$1.succeeded(DuplexConnectionPool.java:139)
	at org.eclipse.jetty.util.Promise$Wrapper.succeeded(Promise.java:78)
	at org.eclipse.jetty.client.http.HttpConnectionOverHTTP.onOpen(HttpConnectionOverHTTP.java:90)
	at org.eclipse.jetty.io.ssl.SslConnection.onOpen(SslConnection.java:162)
	at org.eclipse.jetty.io.AbstractEndPoint.upgrade(AbstractEndPoint.java:200)
	at org.eclipse.jetty.client.HttpProxy$CreateTunnelPromise.tunnelSucceeded(HttpProxy.java:215)
	at org.eclipse.jetty.client.HttpProxy$CreateTunnelPromise.lambda$tunnel$0(HttpProxy.java:184)
	at org.eclipse.jetty.client.ResponseNotifier.notifyComplete(ResponseNotifier.java:193)
	at org.eclipse.jetty.client.ResponseNotifier.notifyComplete(ResponseNotifier.java:185)
	at org.eclipse.jetty.client.HttpReceiver.terminateResponse(HttpReceiver.java:457)
	at org.eclipse.jetty.client.HttpReceiver.responseSuccess(HttpReceiver.java:404)
	at org.eclipse.jetty.client.http.HttpReceiverOverHTTP.messageComplete(HttpReceiverOverHTTP.java:270)
	at org.eclipse.jetty.http.HttpParser.parseNext(HttpParser.java:1331)
	at org.eclipse.jetty.client.http.HttpReceiverOverHTTP.parse(HttpReceiverOverHTTP.java:159)
	at org.eclipse.jetty.client.http.HttpReceiverOverHTTP.process(HttpReceiverOverHTTP.java:120)
	at org.eclipse.jetty.client.http.HttpReceiverOverHTTP.receive(HttpReceiverOverHTTP.java:70)
	at org.eclipse.jetty.client.http.HttpChannelOverHTTP.receive(HttpChannelOverHTTP.java:90)
	at org.eclipse.jetty.client.http.HttpConnectionOverHTTP.onFillable(HttpConnectionOverHTTP.java:115)
	at org.eclipse.jetty.io.AbstractConnection$ReadCallback.succeeded(AbstractConnection.java:273)
	at org.eclipse.jetty.io.FillInterest.fillable(FillInterest.java:95)
	at org.eclipse.jetty.io.SelectChannelEndPoint$2.run(SelectChannelEndPoint.java:93)
	at org.eclipse.jetty.util.thread.strategy.ExecuteProduceConsume.executeProduceConsume(ExecuteProduceConsume.java:303)
	at org.eclipse.jetty.util.thread.strategy.ExecuteProduceConsume.produceConsume(ExecuteProduceConsume.java:148)
	at org.eclipse.jetty.util.thread.strategy.ExecuteProduceConsume.run(ExecuteProduceConsume.java:136)
	at org.eclipse.jetty.util.thread.QueuedThreadPool.runJob(QueuedThreadPool.java:671)
	at org.eclipse.jetty.util.thread.QueuedThreadPool$2.run(QueuedThreadPool.java:589)
	at java.lang.Thread.run(Unknown Source)
Caused by: java.nio.channels.ClosedChannelException
	at sun.nio.ch.SocketChannelImpl.ensureWriteOpen(Unknown Source)
	at sun.nio.ch.SocketChannelImpl.write(Unknown Source)
	at org.eclipse.jetty.io.ChannelEndPoint.flush(ChannelEndPoint.java:177)
	... 48 more
2016-09-30 13:43:25.589:DBUG:oejc.HttpReceiver:HttpClient@1595428806-17: Parsed true, remaining 0 HttpParser{s=START,0 of -1}
2016-09-30 13:43:25.591:DBUG:oejc.HttpDestination:main: Closed HttpDestination[https://www.google.ca]@4b952a2d(via 127.0.0.1:8888),queue=0,pool=DuplexConnectionPool[c=0/64,a=0,i=0]
```


In `jetty-logging.properties` can you replace:

`org.eclipse.jetty.client.LEVEL=DEBUG`

with 

`org.eclipse.jetty.LEVEL=DEBUG`

Please attach the logs as a file, rather than pasting the output as a comment.

Thanks !

Here is the one with org.eclipse.jetty.LEVEL=DEBUG

[log.txt](https://github.com/eclipse/jetty.project/files/503696/log.txt)


The proxy replies to the CONNECT with a response that contains `Connection: close`.

That is wrong because the connection is the tunnel to the upstream server, so the proxy telling the client that it's closing the connection is just wrong.

You have already closed this issue (by mistake ?), but there is nothing wrong in Jetty, it's the proxy that sends a wrong response.

I might have clicked it by mistake. I will check things on the Fiddler side to see if I can resolve it. 

Hello

I posted about this on the Fiddler forum, and it seems like Jetty does have a bug related to this. Take a look at these links


http://www.telerik.com/forums/https-traffic-gets-captured-in-charles-but-not-fiddler-fiddler-causes-error-in-jetty-java-library

http://stackoverflow.com/questions/22875092/why-fiddler-adds-connectionclose-on-connect-response

[RFC 7231 section 4.3.6](https://tools.ietf.org/html/rfc7231#section-4.3.6) (about the `CONNECT` method) and [RFC 7230, section 6.1](https://tools.ietf.org/html/rfc7230#section-6.1) (about `Connection: close`) explicitly say:

> Connection: close
>
> in either the request or the response header fields indicates that
   the sender is going to close the connection after the current
   request/response is complete

and there is no mention that I could find that `CONNECT` methods should behave differently.
If you have such mentions from current specifications, by all means please reference them here, and we'll examine them.

The response to a `CONNECT` method is the 200 OK received from the proxy (or any other status code, really). The tunnel is established _after_ a 200 OK, so the ideas that the tunnel is an "infinite" response, or that the "request" does not finish until the tunnel is closed, are not correct.

I think both the `telerik` and `stackoverflow` answers are just _opinions_ that are not backed up by links to the current specifications.

If you can find a specification that says that `Connection: close` in a 200 OK response must be ignored if the request has a `CONNECT` method, then we can reconsider this issue; otherwise it's a Fiddler bug.
