Jetty appears to URL-encode cookie values

Probably the origin of the issue is "Set-Cookie produced by Jetty is invalid for RFC6265 and Chrome #1396"

=> As a solution there, Jetty was modified to automatically apply URL-encoding which is a bug.

Cookie value encoding must be in control of the application creating the cookie value. The server must not change what application sets, be it valid or invalid in RFC terms - if its invalid, it must be fixed in the client application running on Jetty, and not by the Jetty itself.

In a distributed environment where different applications communicate, running on different servers, this *undesired URL-encoding* of cookie values causes a lot of trouble.

=> If you really like the idea that Jetty tries to fix bugs in the applications running on top of it, by doing URL-encoding of cookie values, then please provide a configuration switch to disable this feature for those who find this feature undesired and even annoying.

Jetty has 2 cookie compliance behaviors.

https://www.eclipse.org/jetty/javadoc/9.4.11.v20180605/org/eclipse/jetty/http/CookieCompliance.html

* RFC2965 - Old school cookie spec (now obsolete and harmful)
* RFC6265 - Updated Cookie spec that Chrome, Firefox, and Edge require.

This is configurable in your [`HttpConfiguration.setCookieCompliance()`](https://www.eclipse.org/jetty/javadoc/9.4.11.v20180605/org/eclipse/jetty/server/HttpConfiguration.html#setCookieCompliance-org.eclipse.jetty.http.CookieCompliance-) (found in your `ServerConnector`).

Jetty default (since release 9.4.3.v20170317) is RFC6265.

https://github.com/eclipse/jetty.project/blob/154e5ea1a52882dd9c38200bcfeb5dcfdd2c80a6/jetty-server/src/main/java/org/eclipse/jetty/server/HttpConfiguration.java#L73

**In RFC6265 mode**, if you provide cookie value that does not conform to the RFC6265 spec (or a cookie name that doesn't comply with RFC2616 or RFC7230), you'll get an `IllegalArgumentException`.

https://github.com/eclipse/jetty.project/blob/154e5ea1a52882dd9c38200bcfeb5dcfdd2c80a6/jetty-server/src/main/java/org/eclipse/jetty/server/Response.java#L265-L269

See Syntax class at ...

https://github.com/eclipse/jetty.project/blob/154e5ea1a52882dd9c38200bcfeb5dcfdd2c80a6/jetty-http/src/main/java/org/eclipse/jetty/http/Syntax.java#L84-L141

No URL Encoding is performed by Jetty in the RFC6265 mode.

**In RFC2965 mode**, it will add quotes to values that violate the RFC2965 value token rules.  Still no URL encoding done by Jetty.

Configuration switches exist, in form of Compliance rules.  We have them for Cookies, HTTP Parsing, and HTTP Generation.

Do you have an example project demonstrating this URL Encoding of Cookie values?

Please modify this demo class to replicate the issue you are concerned with.

``` java
package jetty.cookies;

import static java.nio.charset.StandardCharsets.UTF_8;

import java.io.IOException;
import java.io.PrintStream;
import java.net.Socket;

import javax.servlet.http.Cookie;
import javax.servlet.http.HttpServlet;
import javax.servlet.http.HttpServletRequest;
import javax.servlet.http.HttpServletResponse;

import org.eclipse.jetty.http.CookieCompliance;
import org.eclipse.jetty.server.HttpConfiguration;
import org.eclipse.jetty.server.HttpConnectionFactory;
import org.eclipse.jetty.server.Server;
import org.eclipse.jetty.server.ServerConnector;
import org.eclipse.jetty.server.handler.DefaultHandler;
import org.eclipse.jetty.server.handler.HandlerCollection;
import org.eclipse.jetty.servlet.ServletContextHandler;
import org.eclipse.jetty.util.IO;

public class CookieDemo
{
    public static void main(String[] args)
    {
        CookieDemo demo = new CookieDemo();

        try
        {
            demo.startServer();
            // Valid cookie values
            demo.testRequest("Hello-World"); // valid Cookie value

            // Invalid cookie values (RFC/SPEC/TOKEN violations)
            demo.testRequest("va\tlue"); // invalid whitespace
            demo.testRequest("\t"); // invalid whitespace
            demo.testRequest("value\u0000"); // invalid control character
            demo.testRequest("val\u0082ue"); // invalid utf-8 character
            demo.testRequest("va lue"); // invalid whitespace
            demo.testRequest("va;lue"); // invalid delimiter
            demo.testRequest("\"value"); // unclosed quote
            demo.testRequest("value\""); // unopened quote
            demo.testRequest("val\\ue"); // unescaped slash not allowed in token
            demo.testRequest("val\"ue"); // quote in middle of token
            demo.testRequest("\""); // unclosed quote
        }
        catch (Exception e)
        {
            e.printStackTrace();
        }
        finally
        {
            demo.stopServer();
        }
    }

    private final static int PORT = 9090;
    private Server server;

    private void startServer() throws Exception
    {
        server = new Server();

        HttpConfiguration httpConfig = new HttpConfiguration();
        httpConfig.setCookieCompliance(CookieCompliance.RFC6265); // change this to RFC2965 to see other behavior

        ServerConnector connector = new ServerConnector(server, new HttpConnectionFactory(httpConfig));
        connector.setPort(PORT);
        server.addConnector(connector);

        HandlerCollection handlers = new HandlerCollection();

        ServletContextHandler context = new ServletContextHandler();
        context.setContextPath("/");
        context.addServlet(DemoServlet.class, "/demo");

        handlers.addHandler(context);
        handlers.addHandler(new DefaultHandler());

        server.setHandler(handlers);
        server.start();
    }

    private void stopServer()
    {
        try { server.stop(); }
        catch (Exception ignore) { }
    }

    private void testRequest(String cookieValue)
    {
        try(Socket client = new Socket("localhost",PORT))
        {
            PrintStream out = System.err;

            int cookieLen = cookieValue.getBytes(UTF_8).length;
            out.printf("-- testRequest [%s] --%n",cookieValue);
            String req = String.format("POST /demo HTTP/1.1\r\nHost: localhost\r\n" +
                    "Content-Length: %d\r\nConnection: close\r\n\r\n%s",cookieLen,cookieValue);
            out.print(req);
            out.println();
            client.getOutputStream().write(req.getBytes(UTF_8));
            String response = IO.toString(client.getInputStream());
            out.print(response);
            out.println();
        }
        catch (Exception e)
        {
            e.printStackTrace();
        }
    }

    public static class DemoServlet extends HttpServlet
    {
        @Override
        protected void doPost(HttpServletRequest req, HttpServletResponse resp) throws IOException
        {
            String cookieValue = IO.toString(req.getInputStream(), UTF_8);
            Cookie cookie = new Cookie("name", cookieValue);
            resp.addCookie(cookie);
        }
    }
}
```

Thank you for your explanation. Looking into it with your input in mind, it turns out the app generated cookie values which were not compliant with RFC2965, so they were getting the extra (undesired) quotes. As a result, the app itself was made to performed the (again undesired) encoding and prevent the addition of the quotes. Pardon the false alarm on my part.

@xorcus know that if your app produces cookie values that violate RFC6265, then those cookies are ignored on [Chrome](https://bugs.chromium.org/p/chromium/issues/detail?id=700618), Firefox, and in many other browsers and HttpClients (this is due to the constant attacks on forgiving cookie parsers that have caused many of the up to date user-agents to reject cookies that don't comply to RFC6265).

In the browser cases, they are quietly dropped, not used, and not made available to Javascript.
Most times they are not even stored to be sent back to the server.
You should operate under the assumption that Set-Cookie headers violating RFC6265 will result in nothing (no cookie, a no-op), and make plans to clean up your Cookie values accordingly.

