Jetty Client should use bracketed form of IPv6 in `Host` header


An enhancement request for Jetty Client to be better aligned with other User-Agents such as Chrome and curl

Currently, the Jetty Client represents IPv6 hosts as

```
Host: aaaa:1111:bbbb:2222:cccc:0:27:0:8080
```

When it could include brackets to be more in alignment with those other User-Agents.

```
Host: [aaaa:1111:bbbb:2222:cccc:0:27:0]:8080
```

However, the specs don't make it clear if the brackets are important or not.


 - [RFC7230: Section 5.4](https://tools.ietf.org/html/rfc7230#section-5.4) - defines the Host header syntax as `Host = uri-host [ ":" port ]`
 - [RFC7230: Section 2.7.1](https://tools.ietf.org/html/rfc7230#section-2.7.1) - states that `uri-host` is defined in RFC3986
 - [RFC3986: Section 3.2.2](https://tools.ietf.org/html/rfc3986#section-3.2.2) - has no syntax definition that states that for IPv6 you should include brackets.

RFC 3986 section 3.2.2:
```
host = IP-literal / IPv4address / reg-name
IP-literal = "[" ( IPv6address / IPvFuture ) "]"


I think this is a bug rather than an enhancement.