AbstractProxyServlet include incorrect protocol version in Via header when accessed over H2

**Jetty version**

9.4.30.v20200611

**Java version**

1.8.0_261

**OS type/version**

Mac

**Description**

The Via header of the `AbstractProxyServlet` has http/1.1 hard coded in the `addViaHeader` method. When a client accesses it using HTTP 2, this is not right. This should be fixed by:

1. Not including the protocol at all (if consumed via HTTP)
2. Using the client's protocol version instead of the hard coded protocol version

The reason for the first is because of what it says in RFC 7230 section 5.7.1:

> For brevity, the protocol-name is omitted when the received protocol is HTTP.