Jetty injects `Content-Length: 0` into HEAD responses

**Jetty version(s)** 

10.0.7

**Java version/vendor** `(use: java -version)`

```
openjdk version "17.0.1" 2021-10-19 LTS
OpenJDK Runtime Environment Corretto-17.0.1.12.1 (build 17.0.1+12-LTS)
OpenJDK 64-Bit Server VM Corretto-17.0.1.12.1 (build 17.0.1+12-LTS, mixed mode, sharing)
```

**OS type/version**

macOS 12.3

**Description**

Jetty always sends a `Content-Length` header in `HEAD` requests. As per [RFC 7231 §4.3.2](https://httpwg.org/specs/rfc7231.html#HEAD) they should send the same headers as a `GET` request would have sent. Inferring the `Content-Length` makes the correct behavior impossible when the content length is indeterminate.

From my investigation I believe it's because [`HttpGenerator` doesn't consider them "no content responses"](https://github.com/eclipse/jetty.project/blob/cb12779/jetty-http/src/main/java/org/eclipse/jetty/http/HttpGenerator.java#L388-L402), so it infers the `Content-Length` from the body size. If we can't access the request in that class when generating the response, at least providing a way to indicate that jetty shouldn't infer a content length (e.g. by setting the length to -2) would be sufficient. 

**How to reproduce?**
- Create a Jetty `Handler` which sends a large payload (larger than jetty's buffer, so it gets chunked) without setting a `Content-Length` header. Make sure to skip the actual payload when receiving a `HEAD` request.
- Perform a `GET` request and note that there is no `Content-Length` header in the response
- Perform a `HEAD` request and note that the response contains `Content-Length: 0`

Section https://datatracker.ietf.org/doc/html/rfc7231#section-4.3.2 doesn't mention anything about adding a `Content-Length` header if it's missing.

The use of `Transfer-Encoding: chunked` by a response should be preserved, and no `Content-Length` header should be required to be present on the HEAD response if the actual response is chunked.

I have verified this is a bug, and the behavior is present in branch `jetty-9.4.x` onwards (see commit https://github.com/eclipse/jetty.project/commit/08344162f9bea1ffda0b66aac3f91a2cc05030f1)



Interesting...

If the `Transfer-Encoding: chunked` is determined via hinting, the test fails.
But if the `Transfer-Encoding: chunked` is forced then the test passes.

So this servlet (returning 1GB+ content) fails ...


``` java
    public static class ChunkedServlet extends HttpServlet
    {
        @Override
        protected void doGet(HttpServletRequest req, HttpServletResponse resp) throws IOException
        {
            URL resource = req.getServletContext().getResource(req.getPathInfo());
            OutputStream output = resp.getOutputStream();
            try (InputStream input = resource.openStream())
            {
                resp.setContentType("application/octet-stream");
                IO.copy(input, output);
            }
        }
    }
```

But this one doesn't fail, and passes.

``` java
    public static class ChunkedServlet extends HttpServlet
    {
        @Override
        protected void doGet(HttpServletRequest req, HttpServletResponse resp) throws IOException
        {
            URL resource = req.getServletContext().getResource(req.getPathInfo());
            OutputStream output = resp.getOutputStream();
            try (InputStream input = resource.openStream())
            {
                resp.setContentType("application/octet-stream");
                resp.flushBuffer(); // <-- force transfer-encoding: chunked
                IO.copy(input, output);
            }
        }
    }
```

When you see `Content-Length: 0` in the response is from when the response metadata is generated (it always generates with `Content-Length: 0`).
And then later once the body content technique is determined, it either becomes a known number, or is replaced with `Transfer-Encoding: chunked`.
This is the hinting I was referring to above.

This step (going from hint to specific behavior) doesn't happen with HEAD response if the initial commit of the response headers also has content in the outgoing buffers (which are ignored during HEAD).

@thecodewarrior  Note my highlight below in what you said:
> * Create a Jetty `Handler` which sends a large payload (larger than jetty's buffer, so it gets chunked) without setting a `Content-Length` header. **Make sure to skip the actual payload** when receiving a `HEAD` request.
> * Perform a `GET` request and note that there is no `Content-Length` header in the response
> * Perform a `HEAD` request and note that the response contains `Content-Length: 0`

The fact that your app is skipping the actual payload when it sees a HEAD request makes it very difficult for jetty to send the same headers for a HEAD as for a GET.

I think the bug is that currently jetty is not committing the response to a HEAD request when the amount of bytes written would have overflowed the buffer and forced the header to be committed, thus it is able to discard the payload until the end, know the size and add the content length.

I will fix this so that as it discards HEAD content, when it sees that enough content has been written, then it will commit the headers (and in this case use chunking rather than a content length).      This will fix any GET/HEAD differences for applications that produce the content regardless, but probably won't help your application when it doesn't send the payload.

So I think you also need to update your app so that for a HEAD request, not only does it skip the payload, but that it does a flushBuffers before returning to the container.... although that then may have GET/HEAD differences with small contents being chunked for HEAD but not for GET.






Ah!   Part of this problem might actually be the servlet specifications implementation of `doHead` up to [servlet 5.0](https://github.com/jakartaee/servlet/blob/5.0/api/src/main/java/jakarta/servlet/http/HttpServlet.java#L191-L196):
```java
    protected void doHead(HttpServletRequest req, HttpServletResponse resp) throws ServletException, IOException {
        NoBodyResponse response = new NoBodyResponse(resp);

        doGet(req, response);
        response.setContentLength();
    }
```

You can here that content-length is being explicitly set only for head request.    So have you overridden this method?  

If I update @joakime tests to override `service` instead of `doGet`, then jetty is acting correctly with HEAD for apps that always produce their content.

If you wish to avoid producing the content, then your app will need to do a `flushBuffer` to simulate a buffer overflow if you wish to get the exact same headers (and avoid the Content-Length:0), since Jetty can't tell the difference between content non-written because it was a HEAD request vs content that was never written at all!














The reason we don't know the content length is that it's dynamically generated, so just copying until the buffer overflows isn't very efficient. However, using `flushBuffer` works perfectly!

Honestly the idea of writing to a head request anyway so jetty can infer headers never even occurred to me. In that case inferring the content length makes sense. Thanks for the tip about `flushBuffer`!

Closing as "working as intended", with a side of "servlet spec is doing odd things"